[2017-12-04 14:37] xavier-morera commented on #342
@mmoldabe I have not made any changes to POST recently. I will take a look this week as I will work on indexing samples for the sample apps.

[2017-12-05 13:18] gjunge commented on #299
@xavier-morera - excellent.

I think this issue now contains all our requirements, and a guideline on how to implement.
So the next step is to get somebody to pick this up, and then we can continue to discuss the details if necessary.
For the coming few weeks I'm a little busy, so I will not be able to take this one for the coming while.

[2017-12-05 14:19] gjunge commented on #342
@mmoldabe We are using the PostConnection in production, though we are using Ninject.

This is my code snippet:
[code]
So here after registering the normal Ninject module (which binds the regular `SolrConnection`), I rebind the `ISolrConnection` to use the `PostSolrConnection`.
But what is important is that I also state that the regular `SolrConnection` should be injected into the `PostSolrConnect

[2017-12-05 14:37] xavier-morera commented on #299
@gjunge thanks.

[2017-12-12 07:10] mmoldabe commented on #342
@gjunge trying to run your snippet using Ninject Module, but getting same error as for Autofac:

This is for standard _q=sample_ query. This happens for both Autofac and Ninject when trying to do PostSolrConnection.

[2017-12-12 07:15] xavier-morera commented on #342
@mmoldabe that is a different issue, please add an extra param “wt” with value “xml”

options.ExtraParams = new KeyValuePair<string,string>[] {
    new KeyValuePair<string,string>("wt", "xml")
};

[2017-12-12 07:23] mmoldabe commented on #342
@xavier-morera it worked! Thank you! May I ask what was the problem? Never thought that it could be for ExtraParam (like optional). This is the requirement for POST?

[2017-12-12 07:38] xavier-morera commented on #342
@mmoldabe glad to hear! Solr used to have XML as default wt, but it was changed to Json. This was fixed in the latest SolrNet version

[2017-12-12 08:09] mmoldabe commented on #342
@xavier-morera oh, I see. So, this means that latest SolrConnection uses JSON as default, but PostSolrConnection still use XML, right?

[2017-12-12 08:46] xavier-morera commented on #342
@mmoldabe No. everything uses XML, just that with newer Solr versions it is required to specify the wt to get the response in XML The fix in SolrNet just manually adds wt.

Also you mentioned that you did not see anything in Fiddler. Are you testing using a local Solr instance?

[2017-12-12 08:52] mmoldabe commented on #342
@xavier-morera  Now I understand. This is quite helpful. I was testing both local and Windows Server services instances.
I'm new to Solr and SolrNet, now Im going to learn and contribute SolrNet, guys!

[2017-12-12 08:59] xavier-morera commented on #342
@mmoldabe excellent! Thanks!

[2017-12-14 23:59] omora-RA opened #345 "Nuget package compiles to netcoreapp2.0 instead of netstandard2.0"
The Nuget package:

[https://www.nuget.org/packages/SolrNetCore/](https://www.nuget.org/packages/SolrNetCore/)

Targets framework netcoreapp2.0.

I have a .netstandard2.0 class library and the command:

`dotnet publish`

Blows up with this error:

`error NU1202: Package SolrNetCore 1.0.0 is not compatible with netstandard2.0`

Shouldn't it target .netstandard2.0 instead?

[2017-12-15 00:36] xavier-morera commented on #345
Which version of Visual Studio and Nuget are you using? Please see this: https://github.com/dotnet/core/issues/939

[2017-12-15 11:13] bidianqing opened #346 "how to analysis Field Value in SolrNet SDK?"
how to analysis Field Value in SolrNet SDK?

[2017-12-15 12:56] xavier-morera commented on #346
Can you provide more information on this issue? I usually use Solr's administration tool for this purpose. What is your use case?

[2017-12-16 10:10] bidianqing commented on #346
I want   get analysis Field Value result in SolrNet, How Do?

[2017-12-18 02:08] yfan183 opened #349 "Sample link is not working"
The link to the sample web app returns a 404

[2017-12-18 10:22] bidianqing opened #350 "How to use basic authentication in asp.net core"
How to use basic authentication in asp.net core

[2017-12-18 10:25] bidianqing commented on #350
and also Multi-core what to do in asp.net core?

[2017-12-20 21:43] vishal-dedania opened #352 "Not compatible with latest version of Solr 7"
SolrNet version is not compatible with latest version of solr 7. Most of the test cases are failing.

[2017-12-21 15:35] gjunge commented on #352
@vishal-dedania  could you provide us with some more detail?

[2017-12-21 15:41] gjunge commented on #350
The Microsoft Dependency injection is rather simple, and so far doesn't support multi core.
Most of the other DI's do support multi core, and in our next release (currently in develop branch), many more of them will be netstandard 2.0 compliant, meaning you can use them in your ASP.NET core project.

Also using basic authentication with Microsoft Dependency Injection will be harder, because you wi

[2017-12-21 16:02] gjunge commented on #310
This branch has to be updated, it cannot merge anymore with Develop

[2017-12-22 12:08] BkrBkr opened #356 "solr.EnumerateValidationResults() is not working with managed-schema"
Hello,

the function 'solr.EnumerateValidationResults()' is designed to work with the 'schema.xml' file only. May you add 'managed-schema' support aswell?

Thank You

[2017-12-22 13:17] BkrBkr commented on #356
The attached patches should work with both: the schema.xml and the managed-schema file. BUT I didn't tested it with the schema.xml. For some unknown reason I can't debug the 'MappingValidator' so I didn't tested it either. But the results are looking good.

[Patch.zip](https://github.com/SolrNet/SolrNet/files/1582545/Patch.zip)

[2017-12-22 21:41] vishal-dedania commented on #352
Just run the existing test suite with Solr version 7 to see all the errors.

[2017-12-23 08:39] chandrabe commented on #352
@vishal-dedania  In Solr 7 the default output format for queries is switched from xml to json.
Solrnet needs an xml output format.

In Solr, you can specify the output format at the query level with the wt parameter or apply it core wide with the queryResponseWriter clause in solrconfig.xml

Can you check you have configured Solr 7 with xml output format before running the tests ?

[2017-12-24 08:50] gjunge commented on #352
@chandrabe @vishal-dedania
This commit : https://github.com/SolrNet/SolrNet/commit/63842cf292b06d49b9c7303c8c6d9afa3d90e5b2 , which is already in our master branch, adds the `wt=xml` part
So that should not be the issue.

[2017-12-24 08:51] gjunge commented on #356
@BkrBkr would you be able to create a Pull Request for this patch, it is just better documented if we do it the official way.

[2017-12-24 08:53] gjunge commented on #108
In Development branch now, will be part of the 1.0.0 release.

[2017-12-24 08:53] #108 closed

[2017-12-24 08:55] gjunge commented on #232
Fixed by #330

[2017-12-24 08:55] #232 closed

[2017-12-24 09:15] BkrBkr commented on #356
Here you go: https://github.com/SolrNet/SolrNet/pull/357

[2017-12-24 09:40] gjunge commented on #349
@yfan183  Where did you find this link? We've moved the Sample App to its own repository https://github.com/SolrNet/SolrNetSampleApps

[2017-12-24 09:47] gjunge commented on #356
Thanks, I will have a look at it.

[2017-12-24 10:00] gjunge commented on #310
Fixed, will be part of the 1.0.0 release.

[2017-12-24 10:00] #310 closed

[2017-12-25 12:26] TarekMansour opened #358 "how to start with solr to build chatbot ?"

[2017-12-26 11:48] gjunge commented on #356
Fixed by #357

[2017-12-26 11:48] #356 closed

[2017-12-26 15:16] xavier-morera commented on #345
Closing. Please reopen if you have further questions.

[2017-12-26 15:16] #345 closed

[2017-12-26 15:52] xavier-morera commented on #346
Have you considered using the API directly? Please see this post

https://stackoverflow.com/questions/37783543/rest-api-for-solr-analyzer

[2017-12-26 15:52] #346 closed

[2017-12-26 20:34] xavier-morera commented on #358
Check out this technical resource from the guys I used to work with: https://www.searchtechnologies.com/blog/enterprise-chatbots-use-cases

[2017-12-26 20:34] #358 closed

[2017-12-26 20:38] TarekMansour commented on #358
Thank you I'll take a look

[2017-12-29 06:54] ZivHsu opened #359 "How to use basic authentication when I want index data"
Hi All

this is my index code :

 var solrFacility = new SolrNetFacility(SolrURL);
                    var container = new WindsorContainer();
                    container.AddFacility("solr", solrFacility);
                    var solr = container.Resolve<ISolrOperations<object>>();
                    try
                    {
                        solr.AddRange(DataList);

[2017-12-31 12:08] gjunge commented on #359
@ZivHsu  One of the classes set up by `SolrNetFacility` is `HttpWebRequestFactory` . This one has to be replaced in your DI by `BasicAuthHttpWebRequestFactory` see https://github.com/SolrNet/SolrNet/blob/master/SolrNet/HttpWebAdapters/Impl/BasicAuthHttpWebRequestFactory.cs .

[2017-12-31 12:08] #359 closed

[2018-01-01 05:56] ZivHsu commented on #359
does it have sample code?

[2018-01-02 07:02] #115 closed

[2018-01-03 16:49] jamesewelch opened #360 "Update documentation for CRUD for AtomicUpdates"
Can the CRUD documentation page be updated for the latest release with an AtomicUpdate example?

thanks

[2018-01-04 14:44] jhayden4 opened #361 "SolrNet.Cloud.Core is missing from NuGet"
SolrNet.Cloud.Core is missing from NuGet and the link on the main page is broken.

[2018-01-05 13:18] sjwoodard opened #362 "Basic auth support in SolrNet.Cloud"
Is there a way to use basic auth when connecting over SolrNet.Cloud?

[2018-01-05 16:02] deepanshu203 opened #363 "Fluent API for version 1.0.0"
Hi,

Is the Fluent API deprecated in version 1.0.0. SolrNet.DSL is not being found.

Thanks,

[2018-01-07 20:04] JeroenvdBurg opened #364 "Unity.SolrNetIntegration"
Is it possible to upgrade the Unity version of Unity.SolrNetIntegration from 4.0 to 5.x?
the 4.0 version is deprecated and EOL.

thanks in advance. If you want I can try to create a pull request for it.

[2018-01-07 20:38] xavier-morera commented on #364
Hello @JeroenvdBurg, help is deeply appreciated. It is great to have new contributors!

I have created a branch for this work, please submit your pull request here:
https://github.com/SolrNet/SolrNet/tree/unity-5-upgrade

[2018-01-08 01:16] xavier-morera commented on #360
Hi @jamesewelch, time is a bit scarce at the moment. Would it be too much to ask for you to help us with an example, provide a pull request and be one more active contributor to this useful project? The community will be very thankful.

Please?

[2018-01-08 07:54] gjunge commented on #362
You have to set the `HttpWebRequestFactory` on the `SolrConnection` to an instance of `BasicAuthHttpWebRequestFactory`.

[2018-01-08 07:54] #362 closed

[2018-01-08 07:57] gjunge commented on #363
No it is not deprecated. Simply no nuspec package was created for the project.
If you feel liking helping out, you can port it to a mixed net 4.6 / netstandard 2.0 package and add the correct nuspec file to the project. This way it will be automatically added to NuGet.

[2018-01-08 12:35] adegroff commented on #321
@Martin-Andersen: Have you been able to successfully port this library over to .NET Core?
@xavier-morera: If so, has this been merged into this repo?

[2018-01-09 09:59] Martin-Andersen commented on #321
@xavier-morera I got it to work with this package https://github.com/SolrNet/SolrNet/blob/master/Documentation/Initialization.md

[2018-01-09 10:58] nacoleman commented on #321
I have this working in .net core environment. Thanks guys

[2018-01-09 15:07] xavier-morera commented on #321
Thanks to you

[2018-01-10 03:36] ZONGSS opened #366 "Does SolrNet support .net 4.0?"
Hello, I am a developer from China and are considering using your SolrNet. Some problems occurred during the experiment, and you need your help:

Is SolrNet supporting.net 4.0? I downloaded solrnet.core from NuGet and failed to install.
Here's the tip:
PM> Install-Package SolrNet.Core -Version 1.0.0
正在安装“SolrNet.Core 1.0.0”。
已成功安装“SolrNet.Core 1.0.0”。
正在将“SolrNet.Core 1.0.0”添加到 ConsoleApplication1

[2018-01-10 07:48] gjunge commented on #366
No, version 1.0.0 does not support .NET 4.0.

However you can use older versions of SolrNet which include support for .NET 3.5, see https://www.nuget.org/packages/SolrNet/0.4.0.4001

[2018-01-10 07:57] ZONGSS commented on #366
Ok, thank you very much.

[2018-01-10 07:57] #366 closed

[2018-01-10 08:49] JeroenvdBurg commented on #364
Hi Xavier, I finished the first upgrade to unity 5.0.

Trying to push to the branch but I'm not allowed. Could you give me the permissions for the unity5 upgrade branch?

[2018-01-10 08:53] gjunge commented on #364
@JeroenvdBurg  Hi Jeroen,
Just push it to a local branch under a cloned version under your own github account, and then create a pull request to the https://github.com/SolrNet/SolrNet/tree/unity-5-upgrade branch.
If you need more help just let us know.

[2018-01-10 12:14] JeroenvdBurg commented on #364
Thanks for your guidance. I have created the pull request.

[2018-01-10 14:26] xavier-morera commented on #361
@jhayden4 can you please try now?

[2018-01-10 14:26] #361 closed

[2018-01-10 15:44] jhayden4 commented on #361
It works now.  Thanks.

[2018-01-10 16:07] gjunge commented on #364
Thanks Jeroen, I will have a look at the PR tomorrow.
Just FYI if you mention the issue number in the PR or in the commit message, like “fixes #364” GitHub will automatically link one to the other. I will do this by adding a comment to the PR, that will also work.

[2018-01-11 09:08] #350 closed

[2018-01-11 09:31] gjunge commented on #363
I propose to rewrite the Fluent API as a set of extension methods, similar to how `Microsoft.Extensions.Logging` adds usefull methods to `ILogger`.

The current implementation is not useful for people that are using any other DI besides `CommonServiceLocator`.

Thoughts?

[2018-01-11 09:32] #305 closed

[2018-01-14 07:58] gjunge commented on #352
Also #368 adds `wt=xml` for the `SolrPostConnection` .

[2018-01-16 17:43] #364 closed

[2018-01-21 15:29] CiprianMo opened #372 "Update SolrNet.StructureMap to .Net Standard 2.0"
Hi, I would like to contribute to the library by updating SolrNet.StructureMap to .Net Standard 2.0 , as I'm using StructureMap di container extensively.

[2018-01-21 16:01] gjunge commented on #372
@ciprianmo that would be wonderful!
Our goal is indeed to have all our DI integrations up to date.

Just an FYI, the “pitfall” with the StructureMap integration is that it uses configuration from the old System.Configuration namespace.

I do not know whether that is still a functionality which is still in use. If it is than we just have to exclude those files dealing with System.Configuration from

[2018-01-22 15:59] CiprianMo commented on #372
@gjunge just as an experiment I updated SolrNet.StructureMap to .Net Standard 2.0, and for System.Configuration I had to install a different nuget System.Configuration.ConfigurationManager. This made the project build and most of the tests pass, except two. I don't know yet if those tests that didn't pss have to do with System.Configuration or not.
Tomorrow I will be looking into where and how thi

[2018-01-22 16:35] gjunge commented on #372
@ciprianmo it could be that those test are integration tests (see the trait attribute), that need a Solr instance running (and even then might fail since the integration tests are rather outdated). So if this is the case you may ignore hem.
Besides that great news that all seems to compile from the start.

And could you in the end update the readme.md and  Initialization.md fieles with the relevan

[2018-01-25 13:03] gjunge commented on #313
We now have a little bit of documentation here: https://github.com/SolrNet/SolrNet/blob/master/Documentation/Basic-usage-cloud.md
and see here: https://github.com/SolrNet/SolrNet#solrcloud for a list of nuget packages for SolrNet.Cloud

[2018-01-25 13:03] #313 closed

[2018-01-29 16:25] jokin opened #377 "remove ConstDefaultRows constant"
Currently, there is a ConstDefaultRows = 100000000 which sets a default high number of rows to mimic sql, and could lead to a big performance hit. I Think that the library should respect the solr server default, which now  It's 10, but It can be changed in the solr configuration if someone need to.

I can make the patch and it can be integrated in a future 1.1 release for example to advise of a br

[2018-01-30 07:46] gjunge commented on #377
@jokin I agree with you, and I strongly doubt if anybody ever uses the SolrNet default. With other words I wonder if it is really a breaking change and if we need to wait to version 1.1 with it.
I remember running into this issue myself when I just started out with the library so I’m strongly opinionated in favor of changing this sooner than later.
@xavier-morera ?

[2018-01-30 12:14] Fatalityap opened #378 ".Net Core or Net Standard support for SolrNet.DSL"
Hi, I have downloaded SolrNet.DSL from nuget (https://www.nuget.org/packages/SolrNet.DSL/ ) But I see warning in my .net core 2.0 project:  _Package 'SolrNet.DSL 1.0.2' was restored using '.NETFramework,Version=v4.6.1' instead of the project target framework '.NETCoreApp,Version=v2.0'. This package may not be fully compatible with your project._

Any plans to add .net core support for this package

[2018-01-30 14:30] xavier-morera commented on #377
Agreed with both, 10 makes sense. Setting rows, just like wt, is one of those things that you should have a default that makes sense (wt already fixed)

@jokin this is an easy one and I see you have contributed since 2013. Would you like to provide a PR?

@gjunge sooner is better as you mention.

[2018-01-30 15:01] jokin commented on #377
Yes, knowing that there's interest in removing the default I will provide a PR with the change and tests updated.

Anyway, I will try to remove the default and don't send the parameter if the rows number is
not set, so the solr server default prevails, because it can be 20 or 50, and in that case I don't think that solrnet should send the parameter at all.

[2018-01-30 15:20] gjunge commented on #378
Please see #363 .

I propose to create a new fluent API project, being an 'extension method' only project, with only a dependency on SolrNet .Core  .

[2018-01-30 15:20] #378 closed

[2018-01-30 16:43] Fatalityap commented on #378
Thanks

[2018-01-31 08:19] Fatalityap commented on #363
Personally I don't want to use standard _ServiceLocator_, maybe someone can involve in this staff? )))

[2018-01-31 13:01] Fatalityap opened #379 "SolrNet.Microsoft.DependencyInjection example code"
Hi, I am a little bit struggling to find any example code that uses SolrNet.Microsoft.DependencyInjection, I am trying to do simple add to core, but as far as I see in fiddler it is causing strange behavior.

Can you give me some examples using SolrNet.Microsoft.DependencyInjection ?

[2018-02-01 08:11] frjonsen opened #380 "Attempting to add duplicate SolrField should give a more helpful error"
Obviously, attempting to use the same field-name in a single class, as in the code below, is an error, but it's not handled very gracefully.

Example:
[code]

As it is, this will not be handled until AttributesMappingManager::GetFields is run, upon trying to add the document to an ISolrOperations-instance, where an exception will be thrown by the ToDictionary-call. In .NET Framework, the full erro

[2018-02-01 18:57] gjunge commented on #380
@frjonsen Thanks for reporting the issue, you are right that the error message is not really friendly. Would you be interested in posting a fix?

[2018-02-01 19:02] gjunge commented on #379
Once you set up as described here https://github.com/SolrNet/SolrNet/blob/master/Documentation/Initialization.md#microsoftextensionsdependencyinjection-aspnet-core

You should be able to get `ISolrOperations<YOURDOCUMENT>` via dependency injection.

With that interface you can do basically all Solr operations

For example:
[code]

[2018-02-02 08:44] Fatalityap opened #381 "Microsoft Core Dependency Injection as a DI for SolrNet.Cloud"
Hi, I have asked question in SO [https://stackoverflow.com/questions/48564227/can-i-use-microsoft-core-dependency-injection-with-solrnet-cloud-core](https://stackoverflow.com/questions/48564227/can-i-use-microsoft-core-dependency-injection-with-solrnet-cloud-core)  about ability to use Microsoft Core Dependency Injection as a DI for SolrNet.Cloud

But I can assume that there is no support of Micro

[2018-02-02 13:46] skvsree opened #382 "Atomic Update "Object reference error""
Error while using Atomic Update as mentioned in https://github.com/SolrNet/SolrNet/pull/339,

`{System.NullReferenceException: Object reference not set to an instance of an object.
   at SolrNet.Impl.SolrServer`1.AtomicUpdate(String id, IEnumerable`1 updateSpecs)`

[2018-02-03 19:14] gjunge commented on #382
@skvsree  Would you be able to debug it and help us fix it?

[2018-02-03 19:16] gjunge commented on #381
@Fatalityap Sure, we want to add also Microsoft DI support for SolrNet.Cloud . Please feel free to start the work on it and help us getting it supported.

[2018-02-03 19:40] #380 closed

[2018-02-03 19:41] #372 closed

[2018-02-05 09:04] Fatalityap commented on #379
Thanks for answer. But when I will do this:

`services.AddSolrNet("http://localhost:8983/solr"); ` Should I specify core directly into url or there is another way to do this?

[2018-02-06 15:47] Fatalityap opened #384 "Update example of cloud mode usage"
Hi, can you update example of cloud mode usage. ( https://github.com/SolrNet/SolrNet/blob/master/Documentation/Basic-usage-cloud.md ) ?
It is not working for me. It seems that it is outdated.

Also it will be nice that you can provide example of SolrNet Cloud Unity ))

[2018-02-06 15:50] Fatalityap commented on #381
Ok, I have talked with my management. Maybe we can write support for it. At least my management do not mind for now.

[2018-02-06 16:54] xavier-morera commented on #384
Hello @Fatalityap we are actually looking for someone to help us update SolrCloud documentation and test. Is this something that you believe you may be able to help?

[2018-02-06 18:22] Fatalityap commented on #384
Hi @xavier-morera, thanks for great courses on Pluralsight. I will talk to my management but probably I can do it.

[2018-02-06 18:24] Fatalityap commented on #384
I will write about decision of my management. Thanks for this opportunity! )

[2018-02-06 18:38] xavier-morera commented on #384
Thanks @Fatalityap for your comment on the courses. I do what I can. Hope your management understands how they benefit as well from your gained experience by contributing to SolrNet and Solr

[2018-02-08 09:19] Fatalityap opened #385 "Solr Net Cloud Unity exception"
Hi I am using Solr.Net.Cloud.Unity ver. 1.0.3, Solr.Net.Cloud.Core ver. 1.0.3, Unity ver. 5.0.0  in .NET Standard 2.0 Console Application.
Here is code:

[code]

And I receive this error:

[code]
Exception is thrown on this line:

`var obj = cont.Resolve<ISolrOperations<Camera>>();`

Where _Camera_ is:

[code]

Can you tell me what is wrong?

I can provide additional info if you need some. Thanks!

[2018-02-09 08:26] Fatalityap commented on #385
Anyway, maybe someone can post me example of working code that are uses Solr Net Cloud Unity component ? )

[2018-02-09 09:45] Fatalityap commented on #385
@gjunge  Thanks a lot!  I have successfully used Common Service Locator for Solr Net Cloud  but I don't think that it will be acceptable for us because of it limitations.

[2018-02-09 11:58] gjunge commented on #385
That is good to know, meaning SolrNet.Cloud itself works good, except for the Unity integration.

[2018-02-09 12:02] Fatalityap commented on #385
@gjunge  That is good to know, meaning SolrNet.Cloud itself works good, except for the Unity integration. - Yes. ) At least I can run simple query. )

[2018-02-11 19:11] gjunge commented on #385
I can't seem to recreate it:

Here are tests dealing with SolrCloud with Unity: https://github.com/SolrNet/SolrNet/blob/issues/385/SolrNet.Cloud.Tests/UnityTests.cs
I added your sample , but it works fine.

What might happen though is that some async error occurs in the SolrCloudProvider, could you try
[code]
And see if is all good.

[2018-02-12 10:03] Fatalityap commented on #385
Hi, thanks for help, but error is stay the same. I have created simple project with this chunk of code.
Can you look at it?

https://www.dropbox.com/s/bxfy1i7hyaifwgo/SolrPOC.zip?dl=0

[2018-02-12 15:54] gjunge commented on #385
Great, I was able to reproduce the issue, I will now check what the problem is.

[2018-02-12 20:16] gjunge commented on #385
I think actually you are not connected to the zookeeper. What value does the colcount variable have in the code snippet above, and what does the state variable show?

I added to version 1.0.5 of SolrNet , a check to see if we are connected to the zookeeper instance.

[2018-02-13 09:32] Fatalityap commented on #385
Hi, thanks. It is working. For now exception is changed:

[code]

[2018-02-13 10:14] gjunge commented on #385
Yes we will update the nuget packages.
@xavier-morera 1.0.5 currently contains a small change and could be published.

[2018-02-13 14:30] xavier-morera commented on #385
Thanks @Fatalityap and @gjunge for fixing this issue. I have updated NuGet to 1.0.5

[2018-02-13 14:30] #385 closed

[2018-02-13 14:40] gjunge commented on #379
Yes, the core has to be specified directly.

Microsoft Dependency injection is a rather simple DI, for more advanced uses switch to any of the other DI engines.

[2018-02-13 14:40] #379 closed

[2018-02-13 16:28] Fatalityap commented on #385
Thanks for help! )

[2018-02-13 17:22] haggerty-william opened #389 "Example of using a custom IHttpWebRequestFactory with SolrNet.Core and SolrNet.Microsoft.DependencyInjection package"
I cant find out how to use SolrNet.Core and the SolrNet.Microsoft.DependencyInjection package together, can anyone point me in the right direction.
I thought that maybe adding a connection into the provider or adding the IHttpWebRequestFactory would do the trick but it didnt. I cant find any other way to add credentials either. Below is an example of what I was trying

[code]

[2018-02-14 10:25] gjunge commented on #389
See https://github.com/SolrNet/SolrNet/blob/master/Documentation/Initialization.md#microsoftextensionsdependencyinjection-aspnet-core

You have to register it using the `AddSolrNet` extension method: `services.AddSolrNet("http://localhost:8983/solr");`

After that you can get the service `ISolrOperations<EmptySolrResponse>` from the DI.

[2018-02-14 10:25] #389 closed

[2018-02-14 13:10] haggerty-william commented on #389
I am doing exactly that in my example and the link provided does nothing more then I had already done in my example. So I will now assume that SolrNet.Microsoft.DependencyInjection is incompatible with solr servers that require authentication.

[2018-02-19 11:05] Fatalityap commented on #384
Hi, sorry I am a little bit stuck, but maybe you know how to specify collection to write when I use Solr Net Cloud Unity. For example I want to write data only to **_new-collection_** collection.
Can you help me? )

[2018-02-20 08:16] Fatalityap opened #390 "Specifying collection in Solr Net Cloud Unity"
Hi, how can I specify collection to write and read when using Solr Net Cloud Unity integration.

If I use following code it is writing to first created collection, witch is not stable for me.

Here is a code:

[code]

Where can I specify collection to write and read (query)?

[2018-02-21 08:23] Fatalityap commented on #390
Hi, for example in SolrJ here is this functionality https://lucene.apache.org/solr/7_1_0//solr-solrj/org/apache/solr/client/solrj/SolrClient.html#add-java.util.Collection- . You can specify collection in add method. How can I do it in Solr Net Cloud Unity?

[2018-02-21 14:02] gjunge commented on #390
Disclaimer: My answer is purely theoretical from reading the source code, I've no experience with Solr Cloud nor Unity.

So I think it is rather simple:

[code]

Let me know if that works for you.

[2018-02-21 14:03] gjunge commented on #384
See #390 #

[2018-02-21 14:03] #384 closed

[2018-02-21 16:44] Fatalityap commented on #390
Hi @gjunge . Thanks, it seems that it is working. At least I saw in Fiddler right collection.

[2018-02-22 08:41] Fatalityap commented on #390
@gjunge  By the way, maybe you can give me some your contacts? For example skype/viber/whatsapp/telegram ? Maybe I can contact you if I will have some new questions?

[2018-02-22 12:08] xavier-morera commented on #390
Hi @Fatalityap would it be possible to stick to using issues or StackOverflow instead of direct contact? Just for the following reasons:
1. This is volunteer work, so unless @gjunge or someone else wants to perform direct consulting which is 100%, I believe in respecting privacy and letting people help whenever they get a chance. People usually help when they get a chance
2. If @gjunge answers one

[2018-02-22 16:28] gjunge commented on #390
Totally agree with @xavier-morera

[2018-02-22 18:09] jalongar opened #391 "Kerberos"
Hi,
It is possible to access a solrcloud server securized with kerberos?

I cannot find a way to set the keytab and principal for the conection

Regards

[2018-02-25 14:05] gjunge commented on #391
I don't know a lot (close to nothing) regarding kerberos.
However, I've just merge a branch which contains a new SolrConnection, called `AutoSolrConnection`.
This connection allows you to
a) to pass in an `HttpClient` instantiated by yourself (which might include an `HttpClientHandler` with certain properties)
b) to access the `HttpClient` currently in use and set the `DefaultRequestHeaders`.

I b

[2018-02-27 11:28] HesamKashefi opened #395 "AtomicUpdateAsync throws Exception"
The AtomicUpdateAsync Always throws Exception :
This is the sample code :
`
    class Program
    {
        static async Task Main(string[] args)
        {
            try
            {
                Startup.Init<Data>("http://localhost:8983/solr/Data");
                var operations = ServiceLocator.Current.GetInstance<ISolrOperations<Data>>();

                var data = new Data { Id = 1, Co

[2018-02-27 12:54] HesamKashefi opened #396 "Calling Suggest RequestHandler"
How can we call  Suggest RequestHandler using SolrNet ?

[2018-02-27 15:19] Fatalityap opened #397 "No suggestions in spellcheck when using Solr Net Cloud Unity component"
Hi I have following code. And it returns zero suggestions while in Fiddler (when I have captured Solr Net call) I see **one suggestion**. Can you help me?

[code]

Here is my **request in Fiddler**  (when I have captured Solr Net call)

`GET /solr/numberplate/select?q=Ponomarenko1&rows=100000000&defType=dismax&qf=Number%5e3+Organization%5e2+FirstName%5e1.5+LastName%5e1.3+CountryOfRegistration%5e1.

[2018-02-27 15:40] Fatalityap commented on #390
@xavier-morera  I hear you. Thanks for answer. I also agree with your point of view.

[2018-02-27 15:42] xavier-morera commented on #397
@Fatalityap can you capture the call that SolrNet is making to see what is the difference with the one that you are doing directly in Fiddler?

[2018-02-27 16:29] Fatalityap commented on #397
@xavier-morera  I have already did this. There is captured call form Fiddler in my sample. But for some reason response is not correctly parsed maybe.

[2018-02-27 16:45] xavier-morera commented on #397
Ok, thanks for clarifying. I thought that was a call done manually. Do you know how to debug SolrNet? Can you take a quick look?

[2018-02-27 18:32] xavier-morera commented on #397
@ariasjose you worked on this if I recall. Do you see also the same behavior?

[2018-02-27 19:53] ariasjose commented on #397
Hi,
Having spellcheck.extendedResults=true produces the frequency to be inserted in the response for each suggestion. That output isn't being parsed correctly. As a workaround set spellcheck.extendedResults=false.
I'll correct this so the fix can be included in future release.

[2018-02-27 21:13] ariasjose commented on #397
Pull request #398 has been created.
@xavier-morera would you please check this?

[2018-02-27 21:40] xavier-morera commented on #397
@ariasjose I will soon. @Fatalityap can you confirm as well if these changes work for you? Do you have your own fork?

[2018-02-28 10:08] Fatalityap commented on #397
Hi @xavier-morera, hi @ariasjose  When I forced set spellcheck.extendedResults=false (add it as mandatory parameter to all queries) suggestions parsed correctly. But initially I don't set spellcheck.extendedResults at all. But thanks for workaround.

[2018-02-28 15:49] Fatalityap opened #399 "Can I work with Suggest handler for autocomplete in Solr Net Colud Unity"
Hi can I (and how can I) work with [SuggestComponent](https://lucene.apache.org/solr/guide/7_2/suggester.html) in SolrNet Cloud Unity component?  I was able to configurate handler but I don't know how to work with it in solr net. Can you help me?

[2018-02-28 16:04] Fatalityap commented on #399
Here is example:

request:

`http://localhost:8983/solr/numberplate/suggest?suggest=true&suggest.dictionary=analyzedSuggestion&wt=json&suggest.q=Ukr&q=Urk`

response:
[code]

[2018-02-28 16:39] Fatalityap commented on #399
In solrJ here is [SuggesterResponse Class](https://lucene.apache.org/solr/5_3_1/solr-solrj/org/apache/solr/client/solrj/response/SuggesterResponse.html) for this need.

[2018-02-28 19:21] #390 closed

[2018-02-28 19:45] #395 closed

[2018-02-28 19:52] gjunge commented on #399
To my best knowledge SolrNet does not yet support this. However it shouldn't be too hard to implement it, it's pretty much copy/past/adjust from the SpellCheck component.

[2018-02-28 19:52] gjunge commented on #396
Copy of #399

[2018-02-28 19:52] #396 closed

[2018-02-28 19:55] gjunge commented on #397
Fixed by #398  . Will be part of 1.0.7

[2018-02-28 19:55] #397 closed

[2018-03-01 13:24] Fatalityap commented on #399
@gjunge  Thanks for answer. Unfortunately, I am not very familiar with SolrNet code for now. Can you try to implement this functionality?

[2018-03-05 15:54] dbeletsis opened #402 "No example or code for BasicAuthentication"
Hi,

I cant find any reference on how i can set basic authentication credentials when initializing SolrNet in a asp.net core 2.0 project.

I am using SolrNet,Microsoft DependencyInjection package with the following code in Starup.cs

services.AddSolrNet("http://localhost:81/solr");

Please help!
With regards,
Dimitris

[2018-03-05 15:57] dbeletsis commented on #389
That's exactly my problem: I can't find a way to use the above code to connect to a Solr Server that requires user credentials!

[2018-03-05 16:04] dbeletsis commented on #389
I really don't understand, why such an important subject like Authentication isn't covered in the Documentation! Any help will be much appreciated!

[2018-03-06 13:30] Steveiwonder opened #403 "Support for 4.5.2 Framework"
Would it be possible to add support for 4.5.2?

[2018-03-14 15:51] TLogik opened #404 "Target Net standard only?"
Awesome that the project is back to life again. I will try and get some work done on the project as before but busy as ....
Question.
Why not go all in and work exclusively on net standard? I do not really work on windows anymore so targeting 4.6.1 inhibits development for me.
all we have to state is that consumers must use net core or 4.6.2 to use Solr.Net.
Cross platform for execution and develo

[2018-03-15 15:37] DaveWut opened #406 "Add an option to prevent MappingManager to use the DeclaringType instead of the ReflectedType"
Hi,

Seems like a bug to us. We do not want the declaring type of the property we add for the mapping, but its reflected type instead. We took a version of MappingManager.cs and removed all occurrences of "property.DeclaringType" when the code gets the type of the PropertyInfo instance.

Please a support to prevent the MappingManager to use the DeclaringType.

Thanks

[2018-03-15 16:13] gjunge commented on #403
Which libraries? Only SolrNet core? What DI do you use?

[2018-03-15 16:23] gjunge commented on #402
I think we will have to add support for it in the form of an overload to AddSolrNet. I’ll try to free some time  next week to get that functionality in.

[2018-03-15 16:25] gjunge commented on #404
Indeed it does seem like a small change, certainly if we only look at the core SolrNet project.

@xavier-morera thoughts?

[2018-03-16 02:52] xavier-morera commented on #404
@gjunge and @TLogik

I don't have any objections. We just need people to be clear on

[2018-03-16 05:13] TLogik commented on #404
@xavier-morera agreed. Would it be as simple as stating it in the site readme?
I have attached a proposed readme.md (remove the .txt ext. only there to support github since github will not accept md as file extension for attached files)

Also i stand corrected, 4.6.1 is fully NET Standard 2.0 compliant so that makes the migration even less intrusive to consumers.

[readme_solrnet.md.txt](https://g

[2018-03-16 07:06] dbeletsis commented on #402
That will be perfect! Thank you so much - keep up the good work!

[2018-03-16 10:44] Martin-Andersen opened #408 "Question - Can a core use a config set and have its own schema file?"
First sorry for spamming, but I am desperate. And after seeing you pluralsigt courses I think that you can answer my question.

I am upgrading from Solr 4.3 to latest version of Solr. Today I have a cluster running on AWS in SolrCloud mode where many of the cores share the same files but each have their own schema. The sharing are done with copying the file with a script and we are not storing the

[2018-03-16 16:39] xavier-morera commented on #408
Hi @Martin-Andersen IMHO: why are you not storing the common files in each collection? Is it because of size constraints?

Whenever we have several cores, each one has their own set of config files and schema.

Also I had a situation where I had several cores that each one handled a particular customer, instead of copying stuff I simply created a separate request handler for each customer so I had

[2018-03-16 20:44] Martin-Andersen commented on #408
Thanks for answering.

No size constraints, I just thought the I could use a config set for the common files. As a coder I hate duplication (-:

How should a folder structure look like if you want to upload it to zookeeper?
cores/core#1/core.properties
cores/core#1/conf/schema.xml
cores/core#1/conf/solrconfig.xml
cores/core#1/conf/lang
cores/core#1/conf/other files
cores/core#2 .....

Are paths in

[2018-03-18 15:07] gjunge commented on #402
In the next release, 1.0.8 (somewhere this week I guess), you can now control the HttpClient during service configuration.
See https://github.com/SolrNet/SolrNet/blob/master/Microsoft.DependencyInjection.SolrNet.Tests/MicrosoftDependencyFixture.cs#L112 for an example on how to set basic Authentication headers.

[2018-03-18 17:07] xavier-morera commented on #402
@gjunge should I release 1.0.8?

[2018-03-19 07:30] gjunge commented on #402
I want to see if we can get #407 in as well.

[2018-03-28 14:43] LoadGik opened #410 "How create a query with "stats" and "facet pivot" clause"
Hello everybody ! sorry to disturb you.

I would like to execute the following query (who use "stats" and "facet pivot" clause)

http://xxx.xxx.xx.x/solr/collectionName/select
?q=*:*
&facet=true
&stats=true
&facet.pivot={!stats=t1+min=true}field_A
&stats.field={!tag=t1+max=true}field_B
&stats.field={!tag=t1+max=true+min=true}field_C

But I am not able to deduce the correct syntax to use to get the

[2018-03-29 09:36] #406 closed

[2018-04-02 09:44] dbeletsis commented on #402
Hi again!

I just downloaded the updated SolrNet Nuget package (1.0.8), i used the new AddSolrNet overload EXACTLY as described on the example above, but when i try to connect to Solr, i get a "The remote server returned an error: (401) Unauthorized."

Any ideas? Thank you!

[2018-04-03 13:34] gjunge commented on #402
Can you check with Fiddler if SolrNet is sending the right headers, and check if they are the same headers as you sent when using your browser.

[2018-04-03 14:41] dbeletsis commented on #402
Hi @gjunge , thank you for the reply!

Here are the results of my investigation:

1. In my `startup.cs` i configure SolrNet, with this code:
[code]
(I use ".**fiddler**" in my url, just for debug purposes)

Then, in my SearchController constructor, i inject Solr like this:

[code]
Up to this point, everything seems ok, because when i debug the **solr** object, i can see that the "`solr -> connecti

[2018-04-05 12:27] CiprianMo opened #411 "SolrNet doesn't re-use http connections when querying solr"
Hi we noticed that SolrNet opens new http connections for every query. We are using StructureMap.SolrNetIntegration, and it seems that the problem is the SolrNetRegistry. When the ISolrConnection is registered with AutoSolrConnection it is not registered as a Singleton. So whenever we are querying a core a new connection is created.
Do you agree that this a problem ?

[2018-04-08 13:59] gjunge commented on #411
@CiprianMo  Yes it is indeed better to have it declared as a singleton. We already do the same in the `Microsoft.DependencyInjection.SolrNet` package.

Do you want to create a  PR for this?

[2018-04-08 14:13] gjunge commented on #402
I just tested it, and I do get the Authentication header in Fiddler.

How are you executing the queries? Are you using `Query` or `QueryAsync` ?

[2018-04-12 07:57] dbeletsis commented on #402
Hi again, sorry for the late reply - i was out of town...

Well, seems that you found the solution: I was using `Query` but when i switched to `QueryAsync`, everything worked just fine!

It seems, that the **non async** function needs a fix!

Thank you for the support!

[2018-04-12 08:11] gjunge commented on #402
It is kind of a known issue, the AutoSolrConnection uses the new HttpClient for Async only (since HttpClient is Async only), and falls back to the old SolrPostConnection  for Sync calls.

Perhaps we should make AutoSolrConnection include a setting whether to allow Sync calls, and have that turned off by default in the SolrNet.Microsoft.DependencyInjection package.

[2018-04-12 14:10] LoadGik opened #413 "Can we use more than one zookeeper"
Hello,

My use case : Multiple zookeeper instances that each point to solr instances

I would like to do something like this :
[code]

For recovery

[code]

But that does not work for the call to the second zookeeper.

Exception Message ;
[code]

Exception StackTrace ;

[code]

Can you tell me if what I wish to do is possible or not, if yes could you help me please.

Thanks a lot.

[2018-04-15 00:39] albert-sosa opened #414 "SolrNet.Stats does not convert Date response for min and max"

[2018-04-16 05:27] HesamKashefi opened #415 "Nested documents and block join query support?"
Does SolrNet support Nested document indexing and block join query ?

[2018-04-16 11:47] LoadGik opened #416 "It is possible to know the IP address of the Solr instance called via the Zookeeper"
Hello, it's me again :)

Sorry to abuse your time, I would like to know if it is possible to know the IP address of the Solr instance called via the Zookeeper when executing a request.

Can you tell me if what I wish to do is possible or not, if yes could you help me please.

Thanks a lot.

[2018-04-17 17:26] tommymh commented on #416
You can get this information by using the debug query parameter.  Depending on your version the syntax might change, but one of these should work:

- debug=true
- debug=all
- debugQuery=on
- debugQuery=true

You can get different levels of debug data by specifying what sections you need (query, timing, results).

[2018-04-18 09:40] LoadGik commented on #416
Hi @tommymh, thank you for your answer.

Indeed it is a good idea, to do this I added this during the execution of the request

[code]

But I do not find the existing debug information in the basic XML returned by Solr

An example of the returned XML
[code]

The only information I find in SolrNet is this one

![debugsolrnet](https://user-images.githubusercontent.com/26138168/38922862-81d79d7e-42f9

[2018-04-19 14:48] LoadGik commented on #416
A solution that is surely not the best.

Change to the class "SolrCloudOperationsBase" (namespace SolrNet.Cloud) function "PerformBasicOperation" and "PerformOperation"

change this operation

[code]

By

[code]

This allows me to find this information after query execution

![sans titre](https://user-images.githubusercontent.com/26138168/38998631-46ba2638-43f0-11e8-8ab8-40f385c93d2c.png)

If you

[2018-04-23 11:00] gulitskiy opened #417 "/update/extract TimeOut"
When i tried extract text from tiff, 46 pages, after 1 minute and 40 seconds i get timeout exception.

also i tried it
services.AddSolrNet(url, opts => {
    opts.HttpClient.Timeout = TimeSpan.FromHours(1);
});

and error not resolved

[2018-04-29 14:57] gjunge commented on #417
Could you run Fiddler and see what the Solr response is?

[2018-04-29 15:00] gjunge commented on #416
You want to see this info in debug mode?

[2018-04-30 15:19] LoadGik commented on #416
@gjunge : Not necessarily, I would like to know the IP of the solr instance chosen by zookeeper.

[2018-05-03 11:10] alishawky opened #418 "JSON Facet API"
Hi Everyone
To all SolrNet team you're doing great job

I've some issue of how to implement JSON Facet API in SolrNet
[JSON Facet API  ](http://yonik.com/solr-facet-functions/)

[code]

[2018-05-03 13:04] camelofcode commented on #288
You should update the docs that reference the old location, I was tearing my hair out for a minute.

[2018-05-03 13:45] gjunge commented on #418
Unfortunately currently SolrNet doesn't support the new JSON api's.

We do want to add this support, but we do not have a road map yet.

[2018-05-03 13:45] #418 closed

[2018-05-04 13:54] xavier-morera commented on #288
Done @camelofcode

Sorry for that. Thank you

[2018-05-05 03:48] vishal-dedania commented on #352
Thx

[2018-05-05 03:48] #352 closed

[2018-05-08 15:51] kmichetti commented on #410
Same issue here

[2018-05-09 09:25] MaticDiba opened #419 "Missing parameters in SolrFacetFieldQuery"
There are some parameters missing in SolrNet object - SolrFacetFieldQuery. Fields like contains and exists would be really useful for advance solr use.

[2018-05-09 09:29] MaticDiba commented on #419
I've cloned repo and added those properties. But I'm not able to push my branch to github.

[2018-05-10 12:30] #419 closed

[2018-05-10 12:30] gjunge commented on #419
We will soon bump  the version and release it.

[2018-05-16 04:37] gulitskiy commented on #417
solr working, i try recognize text from scanned pdf, it need more time.

that timeout settings not working, i do it with servicelocator

[2018-05-20 18:18] tspayne87 opened #421 "Question/Suggestion for Microsoft.DependencyInjection.SolrNet"
So from what I can tell the this library does not expect multiple cores at this point, correct me if I am wrong.  However, I was able to get a hacked version to work on my local machine, I did it like this.

[code]
And this got me thinking what if the ISolrConnection could be changed to also use a generic type so that when a developer specifies a model they are querying on the connection could cha

[2018-06-07 07:46] WSt89 opened #422 "Scientific notation of double and float values not accurate enough"
Hello,

while testing adding documents with attributes of various data types to Solr, I have found out that decimal values are rounded when serializing to XML. It seems like that SolrNet uses the ToStringFieldSerializer for such values and calls the toString() method to convert it to string. The toString() method cuts off some digits behind the comma and does some rounding.  However, by calling to

[2018-06-07 14:40] WSt89 commented on #422
To Solve this problem, I have implemented an own DoubleFieldSerializer (derived from AbstractFieldSerializer<double>) which calls obj.ToString("R") in the Parse function instead. I did the same for Float values.

A drawback of my solution is that I need to override the DefaultFieldSerializer to be able to register my FieldSerializers. Would be great when this would be implemented as default behavi

[2018-06-11 10:45] WSt89 commented on #422
One additional point you need to take care of is that the toString() method formats the number according to the applications culture settings.

[2018-06-11 16:39] xavier-morera commented on #422
Hello @WSt89 let me check with Gidon

@gjunge what are your thoughts

[2018-06-12 13:08] gjunge commented on #422
Seems like a good addition. @WSt89  would you mind creating a Pull Request for this?

[2018-06-25 22:49] Reddyo commented on #276
I am having the same issue. My code is almost identical to op's except that I am using a custom object instead of a "Dictionary<string, object>" as the object type yet the requests being sent from SolrNet are still GET and not POST as desired. Has this been resolved yet or am I missing something?

[2018-07-02 19:50] olegon opened #423 "Overriding the default mapper, built-in container example doesn't work"
I'm using dotnet core and I've realized that [this example](https://github.com/SolrNet/SolrNet/blob/master/Documentation/Overriding-mapper.md#built-in-container) doesn't work.

I always get an container exception after putting this code in my application.

[2018-07-02 20:39] xavier-morera commented on #423
Hello @olegon, would you be able to give it a shot and try to fix?

[2018-07-03 01:45] olegon commented on #423
I'll send a pull request.

[2018-07-05 09:44] lengluo opened #425 "solrcloud, state of node in state.json"
When some of nodes are crashed or gone, it seems that state of node still active and solrnet will forward to the dead node sometimes.
Now I've solved this by doing as below:
[code]

but this code is dirty and uneffective, any other solution please!

[2018-07-05 09:50] gjunge commented on #425
@xavier-morera You know of somebody using SolrCloud and who can have a look at this?

[2018-07-05 14:58] xavier-morera commented on #425
@gjunge not anymore, at this moment.

[2018-07-13 00:04] samanthann commented on #391
@jalongar Were you able to get this to work with SolrNet? We are also trying to access Solr that has been secured with Kerberos. Even with the AutoSolrConnection, I still get an unauthorized error (when doing a GET call), or an error that says "Forbidden: GSSException: Failure unspecified at GSS-API level" (when doing a GETAsync) call.

[2018-07-17 14:55] mfandre opened #426 "Getting XML Error"
I have the follow code:
[code]
[code]

The extract method thowing the follow error:
System.Xml.XmlException: 'Root element is missing.'

I dont have any clue why...

[2018-07-17 15:16] xavier-morera commented on #426
Which version of SolrNet are you using? Solr had XML as default response format, but in newer versions that changed to JSON. The change was made to SolrNet a while back.

Test by adding wt as ExtraParam to XML

ExtraParams =
                                           new
[code]

[2018-07-17 19:59] mfandre commented on #426
@xavier-morera I'm using the last version present at nuget.

The extract method don has a signature to pass extra parameters.

[2018-07-17 20:19] xavier-morera commented on #426
I did not see that.  Which version of Solr are you using? Can you include in the requestHandler in the defaults wt to XML? Can you test?

[code]

Also this should be included by default. If you want to contribute to the project that would be great

[2018-07-17 20:37] mfandre commented on #426
@xavier-morera my is Solr 6.3

same error...

My solr conf:
[code]

[2018-07-17 20:50] xavier-morera commented on #426
Can you capture the call with Fiddler or any other utility? And then include here the request and response?

[2018-07-17 21:59] mfandre commented on #426
@xavier-morera I don't have access to the server now. Thursday I will post those informations.

[2018-07-19 13:44] mfandre commented on #426
Fiddler Request:

`POST /solr/files/update/extract?literal.id=0&resource.name=%5c%5c10.64.16.9%5cecpb_geodata%5cBRASIL%5cTI%5c01.Documentos_de_Infraestrutura%5c1.1-Apresenta%C3%A7%C3%B5es%5c20160408_Ecopetrol+Brasil+Rede+Petrotecnica-Resultado2016.pptx&literal.field1=value1&literal.field2=value2&version=2.2&wt=xml HTTP/1.1`

Response:
[code]

[2018-07-19 19:06] mfandre commented on #426
Discover the problem... Need to pass the authentication... SRY...
[code]

[2018-07-19 21:09] mfandre opened #427 "The update/Extract create a field with content on indexed document?"
My question is when I index a document with update/extract, if solr automatically create a "field" with the content of tika parser.

[2018-07-19 23:33] xavier-morera commented on #427
Some of the latest versions of Solr use managed schema by default, so yes that can be possible. In older versions you need to explicitly define fields or enablem managed schema.

Please read the reference guide for more info: http://archive.apache.org/dist/lucene/solr/ref-guide/apache-solr-ref-guide-6.3.pdf

6.3 has been archived, but 6.6 is still available at the moment and you could read here: h

[2018-07-24 21:12] stanuku opened #428 "'Quoted' property in SolrQueryInList issue#185"
@mausch @xavier-morera  Do you plan to merge this PR? https://github.com/SolrNet/SolrNet/pull/185

[2018-07-25 04:18] xavier-morera commented on #428
@gjunge what do you think?

[2018-07-25 06:03] gjunge commented on #428
Seems like a good bug fix, I do not see any issues merging this.
Just have to bump the patch version after merge.

Do you want me to do it, or will you @xavier-morera ?

[2018-07-25 06:05] #423 closed

[2018-07-25 06:08] gjunge commented on #421
Sorry for the late response.

Would you want to give it a try? We could POC your model in the `Microsoft.DependencyInjection.SolrNet` project, meaning add the new classes only there, and once satisfied we can move it up the chain and have the other projects also use it.

Your thoughts?

[2018-07-25 06:11] gjunge commented on #417
What type of time out exception do you get?

[2018-07-25 12:19] meanin opened #429 "Plain json object"
Hi,
I am wondering if there are any options to not use strongly typed c# objects to work with ISolrOperation? How to add a document to the Solr instance without knowing its schema?
Best regards,
Paweł

[2018-07-25 13:53] gjunge commented on #429
See https://github.com/SolrNet/SolrNet/blob/master/Documentation/Mapping.md#fully-loose-mapping

[2018-07-25 13:53] #429 closed

[2018-07-25 14:33] xavier-morera commented on #428
I just merged @stanuku.

@gjunge I will bump up version in a bit. Any other thing that you would like to include or want just this to go out?

[2018-07-25 14:40] gjunge commented on #428
There is nothing else in the queue.

[2018-07-25 14:43] xavier-morera commented on #428
I will bump and release later today then. Thank you.

[2018-07-26 01:10] xavier-morera commented on #428
Ready: https://www.nuget.org/packages/SolrNet/1.0.10

Thanks @gjunge and @stanuku

[2018-07-26 01:10] #428 closed

[2018-07-26 06:18] meanin commented on #429
Yes, I saw that. How to configure IoC then? I am using autofac. Like below:
`
builder.RegisterModule(new SolrNetModule(new List<ISolrServer>
{
	new SolrServer("collectionname", "http://127.0.0.1:8983/solr/collectionname/", typeof(Dictionary<string,object>).AssemblyQualifiedName)
}));`

Then I am using interface `ISolrOperations<Dictionary<string, object>>` in my service implementation.
When I try

[2018-07-26 06:58] meanin commented on #429
Ok, I found a bug in my thinking `"http://127.0.0.1:8983/solr/collectionname/"` has a redundant `/` at the end of the url. Maybe it is worth to consider using uri builder instead of concatenating strings to build query url?

[2018-07-30 07:59] tspayne87 commented on #421
Sure, I have a solution that seems to be working in my local copy of the project.  I will setup that up in about a week or so, once I have better internet.

[2018-08-01 14:07] mnordeman commented on #143
Was this issue ever resolved? I am seeing the same issue when trying to accomplish facet count exclusions through solrnet. Parens are being added around my local params and solr is ignoring my tags.
SolrNet code, (new SolrQuery(new LocalParams {{ "tag","dt1" }} + $"{fq.Key}:{fq.Value}")) creates solr request, "(fq={!tag=dt1}producttype:Webinar)" which does not work because of the added parens. A v

[2018-08-06 15:22] jamesewelch opened #431 "Is it possible to query multiple cores via shards URL parameter?"
I set up a dummy core and schema using the information from https://stackoverflow.com/questions/19313910/query-multiple-collections-with-different-fields-in-solr

It works perfect and I'm able to correctly search multiple cores using the URL of:

http://myserver:8983/solr/unified_search/select?fl=title,url,score,teaser,[shard]&q=test&rows=100&start=0&wt=json&shards=username:password@myserver:8983/

[2018-08-06 15:53] jamesewelch commented on #431
Figured it out. I used QueryOptions.ExtraParams to pass in "shards" and the list. Worked great.

 List<KeyValuePair<string,string>> extraParams = new List<KeyValuePair<string, string>>(queryOptions.ExtraParams);
extraParams.Add(new KeyValuePair<string, string>( "shards", shardList));
queryOptions.ExtraParams = extraParams;

[2018-08-06 15:53] #431 closed

[2018-08-13 15:08] mfandre opened #433 "How I can pass 'split' and 'f' parameters to ADD method?"
I want to create the following command in SolrNet but my add method doesn't have the split and f parameters...

My call:
`var response = solr.Add(geoFeature);`

more reference:
https://lucene.apache.org/solr/guide/6_6/transforming-and-indexing-custom-json.html

[2018-08-16 05:51] karlomedallo opened #434 "Tag/Milestone for 1.0.10 release"
Hi, I'm checking nuget.org and this repository and it seems that the latest version is already 1.0.10. I would like to know which commits went to it. Thanks!

[2018-08-16 14:40] PulasthiSeneviratne opened #435 "No support for percentiles in stats queries"
Hello,  In SOLR stats queries, you can request percentile results for 1 or more percentiles that you request.  Currently, SolrNet does expose these percentile counts. Are there any plans to implement this feature?

Thank you,
Pulasthi

[2018-08-17 07:43] lintao1990720 opened #436 "Solr.Net Query operate default Get method,Can Add Post method?"
Hi,I always query Solr query,condition have 100 up, you default get method have error，can add post method , query condition put in body

[2018-08-17 14:29] mr-KVA opened #437 "Serialization of DateTime in local timezone"
Hello.

Implemented serialization ignores DateTimeKind.

https://github.com/SolrNet/SolrNet/blob/41296b6f67bfecbf182d76c4ae4996aa912cb3ee/SolrNet/Impl/FieldSerializers/DateTimeFieldSerializer.cs#L29

So if date value is in local timezone - it loose timezone.

however, seems that similar (DateTimeOffset)  serializer doesn't have this problem

https://github.com/SolrNet/SolrNet/blob/41296b6f67bfecbf

[2018-08-17 14:38] xavier-morera commented on #437
Would you like to submit a pull request with the fix? Would be great to get a contribution.

[2018-08-27 13:53] mr-KVA opened #438 "Quotes are missing in query for values that contains "-" (minus)"
Hi

I am having troubles with SolrQueryInList.

String representation for Guid (like "11111111-2222-3333-4444-555555555555") is used in my project, so when I am using SolrQueryInList to request a group of items from the table in one batch - I am getting "similar" items also, because values in QueryInList is not quoted, for instance:

for id = 1e20df4d-f001-4172-8313-730ddb3ddafd
I am receiving dat

[2018-08-27 14:03] mr-KVA commented on #437
Pull request in here - https://github.com/SolrNet/SolrNet/pull/439

But I am not sure how to test it with UnitTest, cause framework uses machine timezone.
Open for any suggestion from your side.
Thanks.

[2018-08-29 07:11] akash3456 opened #440 "Unable to Startup Solr Instance through .net Client for 4.6"
I am unable to startup the solr instance using the Startup.Init function as it does not exist anymore in the source code, is there another way to start up the instance using the solr.unity nuget package?

[2018-08-30 11:41] mr-KVA opened #441 "Null Reference error on AtomicUpdate if there is no prop marked as unique key"
Hello.

Here is the model

[code]

Code:
[code]

Not a critical issue, but better to throw some specific exception.

I think the problem is in this part of the code, line 357 (no checks for null or empty):
https://github.com/SolrNet/SolrNet/blob/5983baa5c2b7385fe4468d655cf456ba003a2fb6/SolrNet/Impl/SolrServer.cs#L355-L359

Thanks

[2018-09-01 18:46] #437 closed

[2018-09-06 07:46] gjunge commented on #441
Thanks for catching that, would you be able to send in a pull request for that?

[2018-09-06 07:48] gjunge commented on #440
Which NuGet packages are you using? It should be in the `SolrNet` package.

[2018-09-06 07:49] gjunge commented on #436
You can start using the `AutoSolrConnection` which will use POST when necessary.

[2018-09-06 07:50] gjunge commented on #435
Thank you for your suggestion. We are very open for PR's from the community, so do feel free to send us a pull request with your feature. If you need help or guidance let us know.

[2018-09-06 07:51] gjunge commented on #433
SolrNet does not use the JSON API's, so these features are not available.

[2018-09-06 18:01] PulasthiSeneviratne commented on #435
Ok. I will work on this.

[2018-09-21 07:39] #421 closed

[2018-09-24 14:41] scovel opened #444 "SolrNet.Cloud - Basic Auth integration"
I'm trying to figure out WHERE to add the IHttpWebRequestFactory so I can pass the basic auth credentials.  In SolrNet, you actually construct the ISolrConnection, so that makes for a pretty easy integration point.

In SolrNet.Cloud, you pass in the Zookeeper info, and it looks like SolrNet.Cloud new's up the connection based on the Zookeeper info.   There isn't any opportunity to inject the HttpR

[2018-09-27 16:34] #444 closed

[2018-09-30 22:02] mr-KVA opened #445 "Atomic Update command and specail symbols (quotes)"
Atomic Update method doesn't handle values with spec symbols, for instance - quotes (").

https://github.com/SolrNet/SolrNet/blob/b95e39b0c521fa92088712351f7331ea648b4fd9/SolrNet/Commands/AtomicUpdateCommand.cs#L76-L87

Is there any reason why 3rd party lib (like Json.NET) wasn't used in json serialization?

[2018-10-03 18:46] ParkerBeck commented on #445
I've ran into this as well. I fixed this by adding the Json.NET package to SolrNet project and serializing `uniqueKey`, `id`, `updateSpec.Field`, and `updateSpec.Value` through `JsonConvert.SerializeObject()`. This will notably also fail with other escape characters and can lead to injection attacks. Any data with `\n`, `\t`, and `\r` will also be treated incorrectly.

This DOES introduce the Json

[2018-10-04 05:35] gjunge commented on #445
Hi all,

Thanks for filing the issue.
@ParkerBeck would you mind sending a PR with the proposed JSON.NET solution?

[2018-10-04 15:10] amitsingh5290 opened #446 "SolrConection not populating in ISolrOperation and receiving 401 in .net core 2.1"

[2018-10-04 15:10] #446 closed

[2018-10-04 15:21] amitsingh5290 opened #447 "SolrConection not populating in ISolrOperation and receiving 401 in .net core 2.1 and 2.0 as well"
Hi All,

I am facing issue of 401 in .net core 2.1 and 2.0 with Solr net with Microsoft DI. I am injecting  ISolrConnection and ISolrOperation in same class and I am seeing different connection for both object. ISolrConnection have default authrization header but the ISOLROperation didn't have that. Please below image of Isolroperation
![solr operation defaultrequest header blank](https://user-ima

[2018-10-11 03:21] techsupportsardonyx opened #450 "Not able to open SolrNet project in Visual Studio 2012"
We have try to open the latest “SolrNet” project in Visual Studio 2012 (4.5 framework) version, but in the entire solution all projects are not loaded. Please give us the solution to open and run the “SolrNet” project in the VS2012.

[2018-10-11 15:13] xmorera commented on #450
Please update to a newer version of Visual Studio or use an older version of SolrNet.

[2018-10-11 15:13] #450 closed

[2018-10-13 13:23] techsupportsardonyx opened #451 "Need support for .NET 4.5 VS2012 with Solr Cloud operations"
With reference to the #450

We are having the .NET project which is developed in 4.5 Framework (Visual Studio 2012) in that we need to implement the Solr with help of your SolrNet.

Which SolrNet version support the 4.5 Framework (Visual Studio 2012) with **Solr Cloud operations**?

[2018-10-22 15:22] SivaKrishna05 commented on #425
I have exact reverse behavior in SolrCloud when solr nodes restarted the state.json in collection is still state: down it's not updating finding that the nodes came backup.

[2018-10-24 15:16] admg opened #452 "AttributesMappingManager performance issue"
Code in class AttributesMappingManager in lines 46-47:
`var fieldNameCounts = fields.Select(m => m.Key).GroupBy(m => m);
            if (fieldNameCounts.Count() != fields.Count())`
takes extreamly large amount of time. Parsing 250 documents with this code takes 1200 ms. After removing it takes 700ms.

[2018-10-24 15:46] admg commented on #452
The problem is probably with Microsoft.DependencyInjection.SolrNet. It uses AttributesMappingManager:
`services.AddSingleton<IReadOnlyMappingManager, AttributesMappingManager>();`
instead of MemoizingMappingManager

[2018-10-24 15:47] xmorera commented on #452
@admg would it be possible for you to use a profiler to identify the exact issue? Or isolate the issue in a sample that could be profiled? I know you provided the line, but if you can package a sample with data that can be used for testing, it would be better.

[2018-10-24 16:02] admg commented on #452
@xmorera I discovered that problem is with Microsoft.DependencyInjection.SolrNet as I wrote in previous post. Tommorow I'll try to switch to simple DI and check how performance change.

[2018-10-25 10:26] sumit4bansal opened #453 "\n is converted to space in facets"
I am facing problem while getting facets, when I execute query directly on Solr, facet data is correct but through SolrNet, all '\n' converted to space. I took latest update of SolrNet (1.0.12.0) but problem still remain. Same field is working fine with regular document select through SolrNet, problem is only with facet. What could be the possible reason?
https://www.screencast.com/t/oWb1TvudME9M

[2018-10-25 11:35] admg commented on #452
I compared 2 methods of DI in same project (ASP.NET CORE 2.1), same request and same result class. Response was 250 documents with about 20 fields, mostly strings.
Request made via object provided by CommonServiceLocator was processed 2 times faster.
Currently using Microsoft.DependencyInjection.SolrNet causes performance problems.
I also tried different MappingManagers from https://github.com/Sol

[2018-10-29 07:37] #452 closed

[2018-10-29 07:41] #445 closed

[2018-10-29 07:42] gjunge commented on #447
I believe was had something fixed in the last version. Does this problem still occur?

[2018-11-20 13:08] sumit4bansal commented on #418
Any update on this?

[2018-11-20 13:10] sumit4bansal opened #456 "JSON Facet API"
Any plan to include Json Facet api? https://github.com/SolrNet/SolrNet/issues/418

[2018-11-20 14:07] xmorera commented on #418
No work done yet @sumit4bansal. But if you contribute to this functionality, it could be released as part of SolrNet.

[2018-11-20 14:07] xmorera commented on #456
No work done yet @sumit4bansal. But if you contribute to this functionality, it could be released as part of SolrNet.

[2018-11-20 14:07] #456 closed

[2018-11-21 06:38] sumit4bansal commented on #456
Thanks @xmorera, I passed the Json.Facet parametrs through ExtraParams, and read the response by updating FacetsResponseParser.ParseFacetFields function, added Json.Facet response in facet dictionary with key "JsonFacets", This code change is working.

` public IDictionary<string, ICollection<KeyValuePair<string, int>>> ParseFacetFields(XElement node, XElement mainJsonFacetNode)
        {

[2018-12-06 14:38] Martin-Andersen opened #458 "Question - Update errors"
I am using "SolrNet" version="1.0.11" targetFramework="net472" for search and import/update of data in Solr 7.5 running in cloud mode.

I am getting a lot off errors, see attached image. I am pushing batches of 5000 to Solr. The documents are small. have also tried to set the batchsize to 1000 but I am getting the same errors.

Any suggestions on how to fix this errors?

![image](https://user-imag

[2018-12-06 14:55] xmorera commented on #458
I can see some warnings on URI is too large. It could probably be that you are using GET and the server has a limit. Switching to POST would solve the issue. You can confirm this by using Fiddler or any other similar service to see the requests and confirm that they are truncated.

[2018-12-06 21:03] Seebiscuit opened #459 "SolrNet using plain SolrConnection when AutoSolrConnection injected with Windsor"
In our project we handle SolrNet operations through a repository which we instantiate like this:

[code]

Where `ISolrConnection` is implemented by the `AutoSolrConnection` class @gjunge recently contributed.

With this setup SolrNet is still using a GET request when sending queries.

I looked deeper into the matter and luckily I found this:

[code]
(https://github.com/SolrNet/SolrNet/blob/5793e6c

[2018-12-10 15:29] kaink4 opened #460 "SimpleInjector registration doesn't work with WebRequestLifestyle"
Trying to register SolrNet using AddSolrNet method cause lifestyle errors. Need AddSolrNet method version which supports web registration.

[2018-12-11 10:09] kaink4 commented on #460
I think changing Lifestyle.Transient to Lifestyle.Scoped will remove the problem. Or even better just simply remove Lifestyle.Transient, so container can chose default lifestyle.

[2018-12-12 12:36] gjunge commented on #459
`AutosolrConnection` has not been added to the other DI containers. I'm not really familiar with Windsor, so I wouldn't be able to tell you what takes presedence. I do think it might be good to change the implementation, and by default use the `AutoSolrConnection`.

[2018-12-12 12:37] gjunge commented on #460
Please feel free to update the code and send a PR.

[2018-12-12 12:37] gjunge commented on #458
Or use the `AutoSolrConnection`

[2018-12-12 12:38] gjunge commented on #451
Solr Cloud is only available with 4.6 and up.

[2018-12-12 12:38] #447 closed

[2018-12-13 17:31] Martin-Andersen commented on #458
@gjunge I will check the AutoSolrConnection, never heard about it.

[2018-12-14 08:51] steingran commented on #415
Any update on this? This is a crucial feature

[2018-12-23 14:39] kaink4 opened #462 "Use NOT instead of -(minus)"
I'm almost sure you shouldn't use minus operator in subqueries with OR/AND or just in same more advanced cases.  From my experience NOT operator works better.

Instead of
-[condition]
better to use this ugly construction
(*:* NOT [condition])

It prevents many weird errors.

[2018-12-26 12:37] d317356845 opened #463 "Didn't get any collection's state from zookeeper"
{State:CONNECTED Timeout:10000 sessionid:0x101099ceee20010 local:192.168.2.14:62691 remoteserver:{182.19.212.51:2181} lastZxid:21474836561 xid:3 sent:3 recv:3 queuedevents:0}

[2018-12-26 12:51] d317356845 commented on #463
因为solr在zookeeper上的根目录是/solr,必须带上/solr
192.17.212.151:2181/solr

[2019-01-04 10:56] sumit4bansal opened #464 "Get Solr quer URL"
I need to log solr query url(including parameters), How can I get the URL which SolrNet is making request? URL comes as part of exception but not with results.

[2019-01-09 12:14] sumit4bansal commented on #464
@gjunge Can you please look into above query

[2019-01-09 18:42] xmorera commented on #464
You can use the LoggingConnection class

Something like this
[code]

See more in this link: https://github.com/SolrNet/SolrNetSampleApps/blob/master/SampleSolrApp/LoggingConnection.cs

[2019-01-09 18:42] #464 closed

[2019-01-10 22:04] karlomedallo opened #465 "Tag is 10.0.13 instead of 1.0.13"
Browsing the tags in this repo shows 10.0.13 instead of 1.0.13. Previous tags were 1.0.x .

[2019-01-11 00:42] karlomedallo opened #466 "ZooKeeperNetEx update to 3.4.12.1"
ZooKeeperNetEx recently released 3.4.12.1 . There's quite a few bugfixes in that release see thread /link threads from: https://github.com/shayhatsor/zookeeper/issues/32

[2019-01-18 13:42] kvrga-ecxio commented on #440
Hi @gjunge, I have the DLL referenced directly in my solution. After upgrading from 0.4.0 to 1.0.13, Startup.Init does not exist in SolrNet anymore (same problem as @akash3456).
I even switched to the nuget package, but to no avail.
Any ideas?

[2019-01-18 21:13] gjunge commented on #440
Youll need the SolrNet package, this includes solrnet core (which is just the lib without any DI container), and common service locator.

[2019-01-18 21:16] gjunge commented on #462
@kaink4 thanks for the suggestion. Please feel free to send a PR.

[2019-01-18 21:18] gjunge commented on #465
@karlomedallo thanks, I’ve fixed it.

[2019-01-18 21:18] #465 closed

[2019-01-19 20:55] akash3456 opened #469 "Issue when querying an element from a list"
i have a model with the following properties :-

[SolrUniqueKey]
        public string _id { get; set; }

        [SolrField]
        public string _user_id { get; set; }

        [SolrField]
        public ICollection<string> tags { get; set; }

        [SolrField]
        public int PanelType { get; set; }

        [SolrField]
        public int job_post_status { get; set; }

        [SolrField]

[2019-01-29 17:32] bifflog opened #471 "Unexpected end of file while doing an Extract?"
I am experiencing issue frequently with exception occurring during Extract only of a PDF document.  Here is the solr response:

<response>

<lst name="responseHeader">
  <int name="status">500</int>
  <int name="QTime">6854</int>
</lst>
<lst name="error">
  <lst name="metadata">
    <str name="error-class">org.apache.solr.common.SolrException</str>
    <str name="root-error-class">java.io.IOExcept

[2019-01-30 17:52] robhford commented on #471
Thanks for taking a look!

File size seems to not have much to do with it, I am primarily seeing PDFs of varying sizes (2MB-25MB) and a particular docx that is very large 100MB+.  Some files fail sometimes, some files fail all the time, and there are certainly larger files succeeding than a few of those that always fail.

I cam across this snippet when researching this problem:

[2019-02-18 08:08] rajupaladiya commented on #411
Hello Team,
Any update on this ?
This is creating issue on performance while site have around 100 online same user.

[2019-02-19 06:24] gjunge commented on #411
Please feel free to create a PR.

[2019-03-04 10:43] HesamKashefi opened #472 "Getting MissingMethodException When adding a Solr Core to Castle Windsor Facility"
I'm getting `MissingMethodException` when calling `AddFacility` to add a Solr core to Castle.Windsor Container inside my project, but I cannot reproduce it in a demo solution.
But, The error is saying that the Method `Parameters` is Missing and after I checked the source code of SolrNet I noticed that the method  `Parameters`  and a bunch of other codes are marked as obsolete.
I've updated them an

[2019-03-13 13:29] 1dot44mb opened #474 "Atomic update ignored due to wrong operation name"
https://github.com/SolrNet/SolrNet/blob/818d843c74614ce0f202ad693baa5d08758beca3/SolrNet/Commands/AtomicUpdateCommand.cs#L80

`updateSpec.Type.ToString().ToLower()` translates "Inc" to "ınc" in Turkish locale which results in atomic update being ignored by Solr.
![image](https://user-images.githubusercontent.com/2939330/54282470-1d047180-45ad-11e9-86c4-254195dcc51f.png)

It should be `ToLowerInvar

[2019-03-16 16:59] GlenBoonzaier opened #475 "SolrNet ignores return field "Facets""
My Solr is returning this:

... SNIP ...

    "facet_counts":{
        "facet_queries":{},
        "facet_fields":{},
        "facet_ranges":{},
        "facet_intervals":{},
        "facet_heatmaps":{}},
    "facets":{
        "count":852,
        "beds":{
            "buckets":[{
                "val":4,
                "count":291,
... SNIP ...

However, the SolrNet object does not seem to have

[2019-03-18 23:50] xmorera commented on #475
Hi @GlenBoonzaier would you like to contribute to SolrNet and add this feature?

[2019-03-18 23:51] xmorera commented on #474
Hi @1dot44mb would you like to contribute this feature to SolrNet?

[2019-03-19 15:08] meanin opened #476 "Multicore with ASP.NET Core dependency injection"
Hi,

I am using ASP.NET core DI. I have a split index into separate core per language with the same schema. How can I register and resolve multiple ISolrOperations with the same schema?

I saw example [here](https://github.com/SolrNet/SolrNet/blob/master/Documentation/Multi-core-instance.md) but it doesn't explain how to do this with asp.net core DI.

In brief, I want to do [this](https://github.c

[2019-03-20 11:36] meanin commented on #476
I have done it with Autofac.

[2019-04-03 23:44] karlomedallo commented on #466
Fixed since 1.0.14

[2019-04-03 23:44] #466 closed

[2019-04-04 10:17] rohitn-boston opened #478 "Solr POST request with special character in search"
**Search request:**
**Request Type:** POST
**URL:** http://localhost:8983/solr/collection/query
**Content-Type:** application/x-www-form-urlencoded
**Body:**
q: text:"weight is 100(mg)" also tried q: text:"weight is 100\\(mg\\)"
fl: id,title,text
**Search Response:**
Solr doesn't find **Docs** that have **weight is 100(mg)**
If I search for **weight is 100** then Solr is able to find the **Docs**

[2019-04-04 10:21] #478 closed

[2019-04-06 04:31] karlomedallo commented on #425
We had the same symptom in our SolrCloud installation. However, after going to several blogs and forums, we followed the suggestion that we should only consider shards and replicas to be active if it's in the list of *live_nodes*
Please review my PR above. We have similar code in production already but we're using a fork of SolrNet.

[2019-04-22 10:16] 1dot44mb commented on #474
Hi @xmorera , Yes, i'm now working on it

[2019-04-25 13:36] #472 closed

[2019-04-30 08:19] semrekkers commented on #414
Hi,

Is there any update on this? Maybe I can give it a try and make it also work for date and string types.

Issue #118 also discusses this.

[2019-05-02 08:52] semrekkers commented on #414
Hi,

Using [this branch](https://github.com/IndiciaConnectivity/SolrNet/tree/feature/typedstatsresult) you can read the stats field in a generic way.

For instance, you can get a `DateTimeOffset` minimum value using:
[code]

Please let me know if I need to submit a pull request.

[2019-05-02 11:46] #474 closed

[2019-05-09 06:42] erotokritosVall opened #483 "SolrNet.Cloud with .NET Framework 4.5"
Is there any way to use SolrNet.Cloud with a .NET Framework 4.5 version? If so, could you give some info about which version should I download etc? Thanks.

[2019-05-28 17:20] peppo1616 opened #485 "Multiple Fully loose mapping with Default Startup Init"
Is possibile manually define Key for during StartUp.Init() or there is a way to setup multiple loose core?

In particullary this case
var serverurl1 = "https://pathtosolr1"
var serverurl2 = "https://pathtosolr2"
Startup.Init<Dictionary<string, object>>(serverurl1,"key1");
Startup.Init<Dictionary<string, object>>(serverurl2,"key1");

var solr1 = ServiceLocator.Current.GetInstance<ISolrOperations<Di

[2019-05-28 17:34] xmorera commented on #485
Hi, can you please look at this to see if it helps?

https://github.com/SolrNet/SolrNet/blob/master/Documentation/Multi-core-instance.md

[2019-05-28 17:34] #485 closed

[2019-05-28 17:38] peppo1616 commented on #485
Dim solrurl As String = ConfigurationManager.AppSettings("SolrServer1")
    Startup.Init(Of Dictionary(Of String, Object))(solrurl)

    Dim solrurl2 As String = ConfigurationManager.AppSettings("SolrServer2")
    Startup.Init(Of Dictionary(Of String, Object))(solrurl2)
This cause collision on key on with following error:

Key 'SolrNet.Impl.SolrConnection.System.Collections.Generic.Dictionary`2[Sy

[2019-05-30 12:06] CraciunAlexandru87 opened #486 "Solr.Net Grouping not working"
Hello,

I have started using solr.net core 1.0.15 version in my .net core application.
I am having difficulty getting the grouping functionality to work.

I have 5 items in my SOLR instance
Sample code:
this.solrGroupinApi = ServiceLocator.Current.GetInstance<ISolrOperations<ProjectItem>>();

//works like a charm, gets the 5 items
 var results = this.solrApi.Query("*:*");

//only returns the first

[2019-06-07 08:40] Martin-Andersen opened #489 "Is latest version 1.0.15 tested with Solr 8.1.1"
Hi how can I see if a version of SolrNet is compatible with a Solr version?

[2019-06-09 13:08] #425 closed

[2019-06-09 13:09] #476 closed

[2019-06-09 13:17] gjunge commented on #489
@Martin-Andersen
There is on reason it wouldn't be compatible, but I suggest you to check it.

[2019-06-09 13:19] gjunge commented on #483
@erotokritosVall  we don't have any version of SolrNet.Cloud that works on the older .NET frameworks. It is a relatively recent addition to SolrNet, so it was added as a .netstandard library.

[2019-06-09 13:19] #483 closed

[2019-06-12 13:12] dnalneh opened #491 "Add Parameter fmap to ExtractParameters"
Since v7 of solr it is possible to map for example the generated field "content" to a custom field via parameter "fmap.content=myfield". Could solrnet add this parameter in the near future?

[2019-07-03 15:07] Martin-Andersen commented on #489
Could you add what version of Solr SolrNet support in the documentation?

[2019-07-19 21:39] rodolfocop opened #492 "Problem Highlighting with Extra Params not displaying terms correctly"
Hi, I am using the library to apply Highlighting to a search, but the presentation is being done by breaking the term into several.

I have:

[code]

[code]

[code]

With the following search term with quotes: "House of cards"

I have the following return:

[code]

Wish that instead of:  ```<em class="highlight">House</em> of <em class="highlight">cards</em>```

Be that: ```<em class="highlight">H

[2019-07-22 21:00] xmorera commented on #492
I think I know what is happening. Please go to Solr and use the Analysis and you will see the problem. Basically I think "of" is being removed because it is a stop word. Can you check and confirm?

[2019-07-24 07:25] koramaz opened #493 "Install SolrNet By Nuget"
Hello everyone,

Firstly, My english is not enough sorry. When I use the build and dll schemas look like pluralsight video's version 5.5, there is no problem, but when I try to install by nuget, I don't understand what to do. I've been looking for examples for days on google. but unfortunately I couldn't find anything. After downloading dll from nuget i want to open new core, But solr admin ui wan

[2019-07-24 13:25] xmorera commented on #493
Hello @koramaz

Please take a look at this article in Microsoft Developer Network Magazine: https://msdn.microsoft.com/en-us/magazine/mt833410

It explains how to do the basic using the latest version of SolrNet

[2019-07-26 17:19] LCHarold opened #494 "AutofacContrib.SolrNet multi-core doesn't implement HttpWebRequestFactory injection"
Using the AutofacContrib.SolrNet package and wiring up multiple cores with HttpWebRequestFactory as follows doesn't actually inject the HttpWebRequestFactory (because it's not implemented in the multi-core logic).
[code]

I resolved this in my fork (see https://github.com/LCHarold/SolrNet/commit/82fb4c338be8f5f3a87683b1db3dc48aeb47c160) in the simplest way possible, and I'm happy to submit it as a

[2019-08-06 19:47] femiadebayo opened #497 "No Autofac integration for SolrNet.Cloud"
hello,

There is currently no DI integration for SolrNet.Cloud with Autofac. I am working on adding the integration to the library.  The usage will be as shown below.
[code]

[2019-08-06 20:25] femiadebayo opened #499 "Specify Collection Name in Attribute"
I was wondering if it would be a good idea to allow specifying the collection name on the type.

Example:

[code]

I noticed in the code for solr cloud that when a collection name is not provided it defaults to the first collection in the state provider. I think being able to specify the collection name on the class would be very useful. Thanks!

[2019-08-07 05:22] hrishikeshtt commented on #342
Hi I have updated the solrnet dll from 0.4.0 to 1.0.17
But now I am getting a different error

Method not found: 'Void SolrNet.Impl.SolrMoreLikeThisHandlerQueryResultsParser`1..ctor(SolrNet.Impl.ISolrAbstractResponseParser`1<System.__Canon>[])'.

[2019-08-16 08:20] dcpavelescu commented on #384
Is "Solrnet.Cloud" the dedicated API to be used when querying a collection in a solr cloud deployment? Or "Solrnet" API is the recommended API for querying operations also in case of a cloud deployment ?

Some observations (after looking into the code) to support the questions:
1.  Solrnet.Cloud API looks more like to focus on cluster status details and not on operating (e.g. query, update) the ex

[2019-08-19 01:56] xmorera commented on #384
Solrnet can be used if you use a load balancer. SolrNet.Cloud is new-ish, so any testing and observations that you can provide can help improve it.

[2019-08-20 07:35] dcpavelescu commented on #384
Could you please clarify which is the overall purpose of the Solrnet.Cloud library?
Does it plan to offer more control in comparison with Solrnet when interacting with a Cloud deployment?
Sorry if my question in case my questions look stupid, still hard to figure out scenarios where Solrnet.Cloud is the option of choice over Solrnet.

Thanks.

[2019-09-05 09:39] mde-coder commented on #402
Hi, is this issue solved in the latest version? I tried to use Basic Authentication in combination with AutoSolrConnection. When I launch a Query I get 'Unauthorized'. When I use the same credentials with SolrConnection, everything works fine.

`Startup.InitContainer();
var sc = new ServiceCollection();

//my credentials
var credentials = System.Text.Encoding.ASCII.GetBytes(SolrUserName + ":" + So

[2019-09-05 15:05] dalenewman commented on #417
From browsing `Startup.cs` in *CommonServiceLocator.SolrNet* I can see when it constructs `SolrConnection` with a server url (string) it does not honor those options for timeout.

`SolrConnection` would have to be constructed with Timeout > 0 to override the default `WebRequest` timeout of 100 seconds.  There is an `Init` method on `StartUp` that allows you to pass in a `SolrConnection` (with your

[2019-09-25 09:46] NarayanaGara commented on #440
Same issue Startup class doesn't exists in SolrNet namespace in SolrNet.core  package in version 1.017.

[2019-09-26 13:27] YevhenLukomskyi opened #501 "SolrPostConnection doesn't use IHttpWebRequestFactory for making requests"
Currently `SolrPostConnection` makes requests directly: https://github.com/SolrNet/SolrNet/blob/b5df395508e488dc99efdd869009decf15e19865/SolrNet/Impl/SolrPostConnection.cs#L50
Would it be possible to update it to use `IHttpWebRequestFactory`, so that applications could have some control over requests that SolrNet makes?

[2019-10-06 13:47] #501 closed

[2019-10-06 13:51] #497 closed

[2019-10-14 09:14] robmaas opened #503 "Feature-request: LightInject support"
We use SolrNet quite extensively, thank you for providing this great package.

In a lot of projects we're bound to using LightInject DI and have no real possibility to use another DI container next to it.
It would be great if somebody could create a SolrNet implementation package for LightInject DI.

I have tried to do it myself, but my knowledge of the way SolrNet uses DI is not sufficient.

[2019-10-15 08:29] IvanSule opened #504 "Use basic authentication with synchronous methods in asp.net core"
Hi. Is it possible to use basic authentication with synchronous methods in asp.net core (Microsoft.Extensions.DependencyInjection) and how? I have noticed that
services.AddSolrNet(ApplicationContext.AppSettings.SolrSearchServer,
                options => { options.HttpClient.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Basic", solrCredsBase64); });

[2019-10-18 10:58] dsimoes opened #505 "Failed parsing on POST method for SOLR"
I'm using Sitecore (9.1) with SOLR (7.2.1) and when I configured Sitecore to use POST methods instead of GET I immediately get an exception on startup:

[XmlException: Data at the root level is invalid. Line 1, position 1.]
   System.Xml.XmlTextReaderImpl.Throw(Exception e) +91
   System.Xml.XmlTextReaderImpl.ParseRootLevelWhitespace() +408
   System.Xml.XmlTextReaderImpl.ParseDocumentContent() +4

[2019-10-18 13:26] xmorera commented on #505
Older versions of Solr used XML as the default wt, but newer ones use JSON. You need to set it in the extraparams to JSON.

See this one https://github.com/SolrNet/SolrNet/issues/320

[2019-10-18 13:26] #505 closed

[2019-11-07 16:20] gjactat opened #506 "Best way to tag CollapseExpandParameters"
Hello,

I have to build a query with grouping. I decided to use the ready to use the "CollapseExpand" property with a "CollapseExpandParameters" instance. This works just fine !

For some reason, I want to facet on the whole results rather than on the filtered results. On way to achieve this is to issue a query like this :

`q=*:*&fq={!collapse field=GroupingField nullPolicy=collapse tag=grouping}

[2019-11-13 15:17] afk96 opened #507 "SpellCheck component not returning suggestions / collations on SolrNet"
I am trying to implement solr  spellcheck on my asp.net mvc project . I have done the implementation on my project exactly like the one given in solrnet documentation and it does not return any count or result for suggestion/collation , although its perfectly returning me the results on Solr admin .

Solr version is solr 8.2.0

Following is the code I am trying to run on my solrnet project .
` var

[2019-11-15 10:17] afk96 commented on #507
@gjunge @xmorera Can you look into this?

[2019-11-15 14:24] gjunge commented on #507
@afk96 I currently don’t have access to a full Solr setup. I suggest forking the project, add a unit test and debug it in order to find the bug and create a PR.

[2019-11-16 08:41] afk96 commented on #507
@gjunge Thank you so much for your response . I'll try this and let you know . Appreciate your help . Keep up the good work .

[2019-11-16 09:25] afk96 commented on #507
@gjunge I found the problem in my solrconfig.xml file and found that I didn't passed the spellcheck component in my "/select" request handler . After passed it in my default handler I am now able to get the suggestions and collations as required . Thank you so much for your respone . :)

[2019-11-16 09:26] #507 closed

[2019-11-20 17:39] LCHarold opened #508 "wt=xml is hardcoded in SolrConnection"
For some context, we're using a middleware product in front of SOLR, and that product can only work with JSON responses from SOLR, not XML. I'm aware that the question of SolrNet supporting JSON responses has already been asked and the (quite reasonable) answer was that there isn't a compelling reason to support JSON in SolrNet.

However, because this middleware product only works with JSON, certa

[2019-11-20 20:36] xmorera commented on #508
Hello @LCHarold

Would you like to provide a pull request that checks extra params for wt and can override wt=xml?

[2019-11-20 22:10] LCHarold commented on #508
See https://github.com/SolrNet/SolrNet/pull/509... it resolves the issue as far as I'm concerned.

[2019-11-21 07:01] #508 closed

[2019-11-21 07:06] gjunge commented on #508
@LCHarold  thanks for the PR!

@xmorera , I've bumped the version and we can deploy the NuGet package.

[2019-11-21 20:11] xmorera commented on #508
And I have published it thank you to both @LCHarold and @gjunge !

[2019-12-05 12:00] technicaldogsbody commented on #381
Did this ever get progressed? I am facing the same issue.

[2019-12-07 18:58] gjunge commented on #504
For .NET Core we only support the async calls, as this is best practice.

[2019-12-20 07:11] HarshCLAD commented on #210
@xmorera Hi , Xavier I am very new to this technology and want to get facets for which i had seen your code but i cannot understand what are the three dots that was used in your code and since they are giving compile time error for the code -

ISolrOperations<Document> solr = ...

Please help me find the solution because I am unable to resolve it and understand it . Thanks in Advance

[2019-12-27 14:58] rodolfocop commented on #492
Hi, the problem is exactly a stop word. I resolved creating a new parse words when the term with it is between quotes. Thanks!

[2019-12-27 14:58] #492 closed

[2020-01-22 22:11] sergiocharpineljr opened #510 "SolrNet.Exceptions.SolrConnectionException: The operation has timed out ---> System.Net.WebException: The operation has timed out"
Recently I'm receiving exceptions like this:

SolrNet.Exceptions.SolrConnectionException
The operation has timed out
SolrNet.Exceptions.SolrConnectionException: The operation has timed out ---> System.Net.WebException: The operation has timed out
   at System.Net.HttpWebRequest.GetResponse()
   at HttpWebAdapters.Adapters.HttpWebRequestAdapter.GetResponse()
   at SolrNet.Impl.SolrConnection.GetRes

[2020-01-23 00:26] xmorera commented on #510
Can you open Fiddler or another traffic analyzer and get the exact call that was made?

That can help understand the issue better and I can help you find a solution.

-   Xavier -

[2020-01-23 01:06] sergiocharpineljr commented on #510
I think I can't capture the traffic. We could only reproduce in production, it show up randomly (even with low traffic) and we are using HTTPS.

[2020-01-23 02:16] xmorera commented on #510
Early EOF has happened to me a few times when the request is really long and since the call is using GET and not POST then the request is being truncated. Are you sending a very large request?

-   Xavier -

[2020-01-23 10:22] sergiocharpineljr commented on #510
The requests are updates, using POST. And after some retries the update works.

[2020-01-23 13:53] xmorera commented on #510
Ok. I did not know it worked after a few times. Mine was a different scenario but I wanted to mention it.

Coming back to your problem as I got distracted by one I ran into a little bit ago.

At a high level, I would log all calls made by SolrNet to find first if there is an issue with what is sent-you mentioned the add= seems to be missing. If this is the case, then figure out why.

If no change,

[2020-01-24 17:11] sergiocharpineljr commented on #510
We have 4 threads addind documents to Solr simultaneously. We observed that the timeouts are more likely to happen when there are simultaneous connections with big documents (such as 4MB of text).

Do you know if there is any limits on the number os connections? What is the default timeout of the requests when I let SolrConnection.Timeout = -1?

[2020-01-27 16:54] xmorera commented on #510
Yes, there are limits but it should be more than 4. I believe the default is 20 max connections per host.

Can you try increasing timeout?

[2020-01-28 18:23] sergiocharpineljr commented on #510
I did. Some update requests are taking more than 10 minutes to execute. But not always. Seems like Solr is executing some backgrounds jobs that makes these updates slower. We will investigate GC and segments merging.

So I think it is not related to SolrNet.

Xavier, thanks for you help.

[2020-01-28 19:00] maxslabyak opened #511 "SolrIndex no longer a valid class"
I had a class inherit from SolrIndex like so:
` public class LinqToSolrIndexExtended<TItem> :  SolrIndex<TItem>, ICultureIndex`

In the previous version of SolrNet (0.4.4001), SolrIndex was resolving. I upgraded to the latest version via NuGet and `SolrIndex` is no longer recognized as a valid class.

[2020-01-28 19:09] #511 closed

[2020-02-20 06:45] bo11zhou opened #512 "SolrNet.Exceptions.SolrConnectionException: Only one usage of each socket address (protocol/network address/port) is normally permitted."
2020-02-20 12:03:54.700 +08:00 [Error] An unhandled exception has occurred while executing the request.
SolrNet.Exceptions.SolrConnectionException: Only one usage of each socket address (protocol/network address/port) is normally permitted. Only one usage of each socket address (protocol/network address/port) is normally permitted.
 ---> System.Net.WebException: Only one usage of each socket addre

[2020-02-20 17:02] MartinKuhne opened #513 "Is there a way to get a client instance without DI?"
I'd like to switch the solr it is using on a per-request or per-controller basis. The model and core are the same.

Long version:
I am using a mock solr server to run itegration tests. This is so the query responses are deterministic and can be tested against. The mock solr server basically just returns preconfigured JSON files. To run the tests, I added a facility to tell my API to use a differen

[2020-02-23 15:47] gjunge commented on #513
Hi Martin,

Although it is certainly possible to use Solrnet without DI (or a simple DI), which you can see in our documentation, it is much simpler and better for you to use the .net DI version in your unit tests.

It is rather simple, see this answer on StackOverflow: https://stackoverflow.com/questions/51180523/unit-testing-iservicecollection-registration

Basically create your ServiceCollectio

[2020-02-24 02:52] arthurbai commented on #512
Is there anyone udated for this QA?

[2020-02-24 08:17] MartinKuhne commented on #513
Thanks. I am allowing to change the Solr Uri on a per-call basis, so I didn't want to change global state. I'll try the approach you pointed out.

[2020-02-24 08:17] #513 closed

[2020-02-24 14:42] gjunge commented on #512
Is this somehow related perhaps?

Seems like the webrequest fails due to some other requests binding to the same port it tried to use.

https://stackoverflow.com/questions/26428827/httpclient-only-one-usage-of-each-socket-address-protocol-network-address-port

[2020-03-08 16:16] arthurbai commented on #512
Dear,

We didn't use http client to access solr directly, we just use solr.net to query data from solr,

and we found it  always be happend on concurrent situation,   but solr connecton seem be singlton pattern on solr.net .

Could you give us some suggestions?

thanks.

[2020-03-31 14:22] sahilchawla22 commented on #415
Any updates on this ? Can we write block join queries using SolrNet ?

[2020-03-31 14:25] sahilchawla22 opened #514 "Can we write Block Join Query using SolrNet ?"

[2020-05-12 10:59] admg opened #517 "PostSolrConnection performance issue - disabled compression"
Missing compression in PostSolrConnection in method PrepareGet:
`request.AutomaticDecompression = DecompressionMethods.Deflate | DecompressionMethods.GZip;`

It causes huge performance decrease on large results.

[2020-05-12 14:44] xmorera commented on #517
@admg would you like to submit a pull request to include?

[2020-06-05 09:06] lisamariet commented on #512
We are experiencing the same problem. Would be nice with some update.

[2020-06-16 12:41] coolom commented on #415
Any update on this? We need this feature too and this is an important feature the library needs to support. Please add support for this.

[2020-06-16 14:57] xmorera commented on #415
Hello @steingran / @sahilchawla22 / @coolom / @HesamKashefi

Would it be possible for you to be able to implement the feature?

[2020-06-26 16:56] TejendraPrasad opened #518 "Solr - The request was aborted: Could not create SSL/TLS secure channel."
I have a standalone solr running on basic authentication and HTTPS.

With SolrNet - i am able to achieve basic authentication when running solr on HTTP but when i change to https it throws error - The request was aborted: Could not create SSL/TLS secure channel..

Below are the code snippet -please guide how to achieve both Basic Auth and SSL

//To create connection
`var solrConnection =

[2020-07-03 10:19] technicaldogsbody opened #519 "AutoSolrConnection drops wt and version when switching to POST"
This code below should fix it.

[code]

[2020-07-16 23:20] swagers opened #520 "SolrConnectionException"
Hi, no matter what when I have a solr query exception the message returned is "The remote server returned an error: (400) Bad Request".  Why doesn't the message include the error message that solr returns?  I thought it did at one point in time.  I'm not sure if I'm doing some wrong or if it is by design.

For example, why isn't the error message I receive "undefined field test"

`{
  "responseHea

[2020-07-26 18:14] Garwin4j opened #521 "Solr Error: Not Found"
Hello, when I try connecting to a solr server, I get a not found error. I suspect that this is because I have not setup a core, but I thought that is what the Startup Command did:

[code]

So my question is, Do I need to create my core before trying to connect or should this command do all that for me?

[2020-07-26 18:30] mausch commented on #521
Hi! `Startup.Init` only wires up the internal SolrNet components/config, it does not do anything to the actual Solr server.

[2020-07-26 18:51] Garwin4j commented on #521
Okay... last question. Does:

[code]
do the same thing as:

[code]

[2020-07-26 18:56] mausch commented on #521
Yes, they both set up SolrNet. Difference is `Startup.Init` initialises things in the built-in / no-dependencies container, whereas `AddSolrNet` is for the Microsoft DI container (or SimpleInjector).
For reference check out https://github.com/SolrNet/SolrNet/blob/2ce1aa4fe7e8baf8a2025fde67371099fc32fbc8/Documentation/Initialization.md

[2020-07-26 18:58] Garwin4j commented on #521
Thank you very much for you time and answers.

[2020-07-26 18:58] #521 closed

[2020-07-28 08:22] TejendraPrasad commented on #518
Hi,

Can anyone help me with above query it would be helpful.

Thank you!
Tej

[2020-07-28 19:11] mausch commented on #518
Hi, have you seen this Stackoverflow question about it? https://stackoverflow.com/questions/2859790/the-request-was-aborted-could-not-create-ssl-tls-secure-channel

In short, it usually means a problem with the version of SSL/TLS and you might have to force a particular version of TLS in your  app startup code before any SolrNet request.

[2020-07-28 19:28] mausch commented on #520
Weird, SolrNet does include the response content in SolrConnectionException (for reference look up "catch (WebException e)" in https://github.com/SolrNet/SolrNet/blob/b758f722ee1efc5af1ab6333b5b04d19fbfdb737/SolrNet/Impl/SolrConnection.cs .
Unless you've replaced the default implementation of ISolrConnection in your code somehow?
I see that SolrPostConnection ( https://github.com/SolrNet/SolrNet/b

[2020-09-18 17:53] gallahim opened #524 "HttpClient options provided in AddSolrNet() do not work with Synchronous methods"
I'm trying to configure basic authentication using:
[code]

however the credentials are not being sent to Solr when I do:
[code]

The credentials are sent to Solr if I do:
[code]

This appears to be because when `AutoSolrConnection.SyncFallbackConnection` is assigned in the constructor, it creates a new `SolrConnection` with a new `HttpClient`.

It would be nice if the options supplied to `AddSolr

[2020-09-19 03:40] gallahim commented on #524
I got this working by replacing the `AutoSolrConnection` service descriptor created by `AddSolrNet()` with a `PostSolrConnection` that is configured to use `BasicAuthHttpWebRequestFactory`.

[code]

Still would be nice to be able to configure the `AutoSolrConnection.SyncFallbackConnection` from within the `AddSolrNet()` options.

[2020-10-30 11:57] nael86 opened #525 "SpellCheck does not detect suggestions of other languages"
when I use the browser I get suggestions for all languages I set , but using Solrnet does only for English.

[2020-10-30 14:29] nael86 commented on #525
I have fixed the bug. it has nothing to do with other languages, but the current Solrnet supports only only one spelling component in the request handler:
so, if we use :
[code]
Solrnet will detect only the first string child , in this case "<str>spellcheck_Comp_DocName</str>", while the second one will be neglected.
To fix this bug , it is quit easy: we need to do some changes in the file **Spell

[2020-11-12 10:12] ericcanadas opened #526 "Dynamic Field Mapping suffix"
Hi, I have a Dynamic Field like this, with a suffix and not a prefix.

`<dynamicField name="*_fr" type="string" indexed="true" stored="true" multiValued="true"/>`

I see here the solution for dynamic Mapping :
https://github.com/SolrNet/SolrNet/blob/master/Documentation/Mapping.md#dictionary-mappings-and-dynamic-fields

But this works with prefix but not with suffix ?

I try this but it's not work

[2020-11-14 12:16] mausch commented on #526
Hi Eric, unfortunately that's not implemented out of the box. You can see why here: https://github.com/SolrNet/SolrNet/blob/68cdbef08f7819b50b65b1f6548f8984feef51ff/SolrNet/Impl/DocumentPropertyVisitors/GenericDictionaryDocumentVisitor.cs#L83

You can do this by implementing your own ISolrDocumentPropertyVisitor and then replacing that in the container.
(for reference, the default implementation i

[2020-11-16 08:56] ericcanadas commented on #526
Ok thanks !!!

[2020-11-16 08:56] #526 closed

[2020-11-21 06:36] Vettel-H-Xue opened #527 ""Added convert to UTC" , this issue is a not good idea ."
This issue is a not good idea .

And caused an accident in my organization.

This idea is like adding a layer of Russian dolls to Solr.

Convert to UTC when saving and local time when reading.

Why have this idea?

[2020-11-22 18:15] mausch commented on #527
Hi @JokXue , can you expand a bit more on the issue you're having?

By "Added convert to UTC" I imagine you're talking about the change made in this commit? https://github.com/SolrNet/SolrNet/commit/c80005fe78f687821b29e200cc6a518aeecfcac6

Can you explain what issues this has caused you? Preferably with some code of course :slightly_smiling_face:

[2020-11-24 01:45] JokXue commented on #527
Hi @mausch ,
I think the SolrNet was a Middleware.  The data passed to Solr through SolrNET should be saved in Solr as it is. But it does not.
The "Added convert to UTC" change changes the time of the incoming PST time zone to UTC time.
And the reading program has not changed this. The causes data errors in the production environment.
So I had to clone the entire Solrnet code, modify the code and

[2020-11-24 22:43] mausch commented on #527
I see what you mean. However, the thing is, [Solr stores dates in UTC](https://lucene.apache.org/solr/6_2_0/solr-core/org/apache/solr/schema/TrieDateField.html), so SolrNet here is just making sure that the dates are properly in UTC.
Otherwise other clients in different timezones or in different platforms (e.g. a Java client) would get the wrong date.
For DateTimeOffset fields this shouldn't be ge

[2020-12-09 11:42] Thaval opened #528 "Read a local XML config file"
Hi,

this is actually not a real issue (maybe with the docs or not) but a question:
Is it possible to read a local config file and extend it as if I would do it with a Solr schema in a running Solr instance?
Imagine you would like to copy a local xml file, add a new field to it and use that new config file for a new collection within SolrCloud (unfortunately, the file needs to be existent before I

[2020-12-18 01:38] swagers commented on #415
I can't seem to find anything in the docs, but this issue seems to indicate that SolrNet does not support nested documents, either creating the index or querying, right?  Or am I missing something.

[2020-12-29 19:46] lixaotec opened #529 "Is this project abandoned?"
Dear fellows,

Just wondering if this tool is suitable for production uses?

It seems a little out-of-date, considering last release was 2019.

Or is it stable enough?

Thanks in advance

[2021-01-01 04:01] bernarden opened #530 "AddSolrNet should be able to resolve URL from ServiceProvider."
I'm using [options pattern](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options) with MS injection in my Asp.Net Core project. With the current implementation of AddSolrNet  and AddSolrNet<> methods I have to do the following:
[code]

IMO this is not ideal, since I have to unnecessarily build the service provider just to extract the host name. Alternately I could extrac

[2021-01-02 19:43] #493 closed

[2021-01-02 19:47] mausch commented on #529
Hi, SolrNet is very stable by now. I think it addresses pretty much all the common features of Solr. To the best of my knowledge it's still the most feature-complete Solr client for .NET.
Xavier and Gidon have been doing a great job maintaining the project.
If you have any technical questions feel free to open new issues!

Cheers

[2021-01-02 19:47] #529 closed

[2021-01-04 17:04] xmorera commented on #529
As @mausch said, it is not abandoned but there are not many new features being added.  I use SolrNet in 2 of my company projects and it is stable as a rock.

@mausch created an amazing project @gjunge has done an amazing job on adding features and performing updates.

I have helped a bit on what I can, but I am totally overwhelmed on my day to day and night so I help in what I can.

[2021-01-04 20:33] lixaotec commented on #529
Appreciate your response. That makes me more confident to use it on a project!

In fact it has been a challenge to choose techies now adays, so I have been very careful on picking tools and libs.

Im very grateful for your exp. sharing here. I´ve been looking for the most suitable FTS for my scenario, howerver wish to adopt something that will last a couple of years or more. Solr seem great altern

[2021-01-04 21:06] xmorera commented on #529
@lixaotec this is the last project that my company is currently working on: http://www.carroaunclick.com/

It is still WIP and this is just the "used car" part. The "new car configurator" is still undergoing design changes and the crawler with the "car appraisal and street value" part is about 70% done.

I've been using SolrNet for multiple projects for about 6 years now and it works without issue

[2021-01-06 16:47] Thaval opened #533 "Add field to schema"
Is it possible to add a new field to the schema?

[2021-01-06 19:43] Thaval opened #534 "Fully loose mapping - not able to Add, Update and Delete"
Hi,

it seems like the IDictionary<string, object> is not working for the CRUD operations.
When adding a IDictionary with just a single Key-Value pair, 5 times (each dictionary with other unique values), I could just found one succeeded entry in Solr. The other 4 entries were empty, so only the fields "id" and "_version_" were filled out.

So I though let's try to delete them dictionary, but when

[2021-01-06 19:55] Thaval commented on #534
Ok, for deleting there is way: By specifying the id instead of the complete Dictionary.

[code]

Besides of that, is there way to reliably add a Dictionary? Tried it multiple times now, but the added document remains empty. The only thing I get is

[2021-01-06 20:03] Thaval commented on #534
Ok, got it working.
I wrapped the Dictionary<string, object> by a simple class which contains exactly two properties

[code]

Thereby, each object has an unique key identifier. This way it works. Maybe we could think about convention, like searching for the "id" key-value pair when working with fully loose mapping. But the author seems to be inactive since years, so this is just for another hopele

[2021-01-06 20:03] #534 closed

[2021-01-06 20:05] Thaval commented on #533
I decided to implement it by myself with the help of the Solr Schema API [here](https://lucene.apache.org/solr/guide/8_7/schema-api.html) and using the HttpClient.

[2021-01-06 20:05] #533 closed

[2021-01-09 14:13] fllo commented on #527
The DateTime issue is larger: https://blog.nodatime.org/2011/08/what-wrong-with-datetime-anyway.html

The solution would probably be to support and use NodaTime.

[2021-01-09 16:38] mausch commented on #527
Discussing NodaTime vs DateTime vs DateTimeOffset is really out of the scope of SolrNet.

Having said that, if you have special requirements that aren't served by DateTimeOffset e.g. representing a moment in time in a _specific_ timezone as mentioned in that article, SolrNet's serializers are fully pluggable: you can register serializers for your own types or even replace the default serializers i

[2021-01-10 18:24] mausch commented on #528
Hi David, I think this is possible in Solr using https://lucene.apache.org/solr/6_6_0//solr-solrj/org/apache/solr/client/solrj/impl/ZkClientClusterStateProvider.html#uploadConfig-java.nio.file.Path-java.lang.String-

I don't think SolrNet currently implements the equivalent of this.

[2021-01-12 01:54] gfkeith opened #537 "SolrQueryByDistance doesn't allow distance of 0."
SolrQueryByDistance checks that distance is greater than 0 [here](https://github.com/SolrNet/SolrNet/blob/332f4172eb317663f3521f5571f54d028b105e21/SolrNet/SolrQueryByDistance.cs#L98), but when querying Solr directly I can perform queries with distance = 0 (e.g. to check the exact point). When querying with a negative distance, Solr responds with an error suggesting "d must be >= 0", so I think the

[2021-01-13 06:28] shelland opened #538 "ArgumentException when querying a results"
Having a very simple search model:

[code]

It caused the following schema being created for all string fields:

![image](https://user-images.githubusercontent.com/426582/104414402-c732f300-55a2-11eb-97ad-04c7038b16cb.png)

Since all string fields are multivalued I can't make a query due to the type mismatching:

`var solrQuery = await this.solrOperations.QueryAsync("*:*");`

_**ArgumentException:

[2021-01-13 09:26] mausch commented on #538
Hi, it seems you've already found the cause of your issue yourself :slightly_smiling_face:
Just fix that type mismatch i.e. make your properties of type `IList<string>` and it should just work.

[2021-01-13 15:53] gjunge commented on #530
Closed in https://github.com/SolrNet/SolrNet/commit/99bd68dbe1e2e632dc666722bcc884b01ad09335

[2021-01-13 15:53] #530 closed

[2021-01-28 01:54] SirMrDexter opened #540 "Phrase Query with slop"
I have checked the documentations and code and could not figure out how to write a query like the one below using SolrNet.

`q=text:"digital group"~100`

Help please.

[2021-01-30 14:29] mausch commented on #540
Hi, any of these should work:

`new SolrQuery("text:\"digital group\"~100")`
or
`new SolrQueryByField("text", "\"digital group\"~100") {Quoted = false}`

[2021-02-01 01:12] SirMrDexter commented on #540
That's pretty much what I found as well. Was hoping may be there would be a separate property or query class which I could use instead as it could have been more elegant.

Had to do a small modification on top of your suggestion, in order to ensure the keywords are properly quoted.

`new SolrQueryByField("text", QueryByFieldSerializer.Quote(keyword) + "~100") {Quoted = false}`

Thanks for the help

[2021-02-01 01:12] #540 closed

[2021-02-01 23:20] SirMrDexter opened #542 "How to choose unified highlighter?"
How can I choose unified highlighter when passing HighlighterParameter? From what I can see, there's no option for it. Is this a new feature which is yet to be implemented?

https://lucene.apache.org/solr/guide/6_6/highlighting.html#Highlighting-TheUnifiedHighlighter

[2021-02-04 10:35] #538 closed

[2021-02-09 12:43] VadzimPapko opened #545 "Subquery Transformer Is Not Supported"
Hello all,

Just discovered that the **subquery** transformation is not supported by SolrNet yet.
[Official documentation](https://lucene.apache.org/solr/guide/7_5/transforming-result-documents.html#subquery)

[2021-02-09 23:28] blainNTIA opened #546 "Exception when using solr.Extract()"
![image](https://user-images.githubusercontent.com/40250324/107442077-9daeae00-6af3-11eb-9496-9e65d1e06b10.png)

There's no other information given. Just "System.NotSupportedException: 'The stream does not support concurrent IO read or write operations.'"

And
"This exception was originally thrown at this call stack:
    [External Code]
    M5.D3.IndexingBinaryFilesWithExtract.Program.Main(string[

[2021-02-18 03:03] SirMrDexter opened #549 "Format to use for indexing DateRangeField and proper model field type to use?"
I have been going through the docs to try and understand the right way to index DateRangeFields in Solr using SolrNet. So far I only found samples about how to query them. But none of them explain how to index them. Like what's the correct format I should send them in JSON.

I tried sending below JSON values for testing and they all are accepted with a ok response code and I can see those values w

[2021-02-18 22:56] mausch commented on #549
SolrNet doesn't support DateRangeFields at the moment.
The easiest way for you to do this in your code would be a .NET DateRangeField class with a [TypeConverter](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.typeconverterattribute?view=net-5.0) for serialization.

[2021-02-22 06:43] SirMrDexter commented on #549
@mausch Thanks for the suggestion. Any plans for including this in the near future. Happy to create a branch with the suggested solution to speed things up if needed.

Also I am guessing the format I should go with should be

[code]

Am I right?

[2021-02-22 22:51] mausch commented on #549
The TypeConverter solution I mentioned is good for easily extending SolrNet _externally_.
If you're planning on sending a PR implementing this the way to do it would be:

1. Write a plain DateRange class modelling the actual date range, similar to what we have with SolrNet.Location or SolrNet.Money
2. Implement an `AbstractFieldSerializer<DateRange>`
3. Register the new field serializer in https:/

[2021-02-24 22:21] mausch commented on #542
Correct, `hl.method` is not currently implemented in https://github.com/SolrNet/SolrNet/blob/d868feab34272d4e50fe6b01bac4272fa265c82f/SolrNet/Commands/Parameters/HighlightingParameters.cs / https://github.com/SolrNet/SolrNet/blob/4cba32699d7b79f8e0d07065897c887456566d89/SolrNet/Impl/SolrQueryExecuter.cs#L298

[2021-03-05 12:27] hoerup opened #551 "Microsoft DI - no re-use of HttpClient"
The use of Transient ISolrInjectedConnection 1) means that a lot of single use HttpClient instances are created and destroyed instead of re-using them

Could be fixed by adding this as Singleton as done in 2) or by adding a HttpClientFactory

1) https://github.com/SolrNet/SolrNet/blob/master/Microsoft.DependencyInjection.SolrNet/ServiceCollectionExtensions.cs#L89
2) https://github.com/SolrNet/Solr

[2021-03-12 10:36] RiteshBhatt commented on #475
Hi I am not able to get the facets. Can you please help how to get facets

[2021-03-12 11:51] hoerup opened #553 "New release"

[2021-03-14 15:43] HakanKaraoglu opened #554 "Solr async is losing data ?"
Hi,

I'm using the solr add method for an asynchronous application (RabbitMQ). However, synchronous data indexing was causing too much data to accumulate in the queues. Later I saw Solr's asynchronous method support and wanted to test it, but I ran into a problem like this.

When I want to index 10k data in a parallel loop, it indexes the data incompletely, sometimes up to 500 or 600 or 700 data i

[2021-03-14 20:03] mausch commented on #554
Hi Hakan, I see an issue in that code: it's missing an `await` in the call to `AddAsync`.
And because this is an async function, you can't really use `Parallel.For` (see e.g. https://stackoverflow.com/a/19292500 ).
What I use in cases like this is https://github.com/Dasync/AsyncEnumerable#example-3-async-parallel-for-each

[2021-03-15 06:07] pschwaller74 commented on #554
I had a similar problem using AddRangeAsync() (instead of adding one document at a time, I create chunks of them before sending them to Solr index) and I fixed it using .Wait() inside Parallel.ForEach() loop. This will ensure that the Parallel.ForEach loop is waiting for an acknowledge from Solr server that the documents are indexed before the same parallel thread is serving Solr with a next docum

[2021-03-15 06:48] HakanKaraoglu commented on #554
Hi @mausch

I changed the code as you say.But it got worse, it processed 2k data from 10k data and then got the error I mentioned below.

[code]

[code]

[2021-03-15 06:57] HakanKaraoglu commented on #554
Hi @pschwaller74

I tried as you said but unfortunately the result is as follows.

[code]
[code]

[2021-03-15 10:19] HakanKaraoglu commented on #554
@mausch I may have expressed it wrong, I would like to state again. obviously i tried to imitate rabbitmq consumer with parallel for. As you know, it works asynchronously in consumers. The code block I expect to run is actually like this

[code]

I wanted to do such a test before I wonder if the same problem may be there.

[2021-03-15 10:34] mausch commented on #554
@HakanKaraoglu From my perspective, all I see in this github issue for now is code that uses .NET parallel/async incorrectly. I still don't see any issues with SolrNet itself.
I'm sorry but I won't do consultancy here. Please post a repro for an issue with SolrNet, otherwise I'll just have to close this.

[2021-03-15 10:36] HakanKaraoglu commented on #554
@mausch  Thanks for your support, I'm closing the form.

[2021-03-15 10:36] #554 closed

[2021-03-25 03:19] athir13en commented on #518
Hi, do you found any solution on this?
i'm facing same issue with solrNET 1.0.19.

My code as below, any guide to achieve connection to https?

`public IHttpWebRequest Create(Uri url)
        {
            var webrequest = (HttpWebRequest)WebRequest.Create(url);
            if (SettingsHelper.IsSolrAuthenticationEnabled())
            {
                webrequest.Credentials = new CredentialCache

[2021-03-25 09:16] TejendraPrasad commented on #518
Hi,

Yes it worked for us.

It was Server issue, we have upgrade our sever to support TLS1.2 and it resolved.

So if its windows server, you need to update to support either TLS1.2 or TLS1.3 and in application use the same command at application startup.cs (.net)

ServicePointManager.Expect100Continue = true;
        ServicePointManager.SecurityProtocol = tls13 |  SecurityProtocolType.Tls12;

[2021-03-31 00:35] zuccaro opened #555 "Very large numFound values cause OverflowException"
When querying to obtain document count (`*:*`, rows=`0`) or issuing broad queries on a large collection (>2,147,483,647 documents), `SolrNet.Impl.ResponseParsers.ResultsResponseParser<T>` throws a `System.OverflowException` when attempting to set the `numFound` property.  Propose changing `numFound` from `int` to `long` in `SolrNet.Impl. AbstractSolrQueryResults<T>`, `SolrNet.Impl.ResponseParsers.

[2021-04-05 09:09] #518 closed

[2021-04-13 22:53] Thaval opened #556 "Map text_general field to string"
Hi,

is there a way to map text_general to a string instead of an array? I'm proving a Dictionary<string, object> as my data structure for SolrNet because I'll never know which fields are contained in Solr . However, I still need features that the standard solr.TextField does not provide, like highlighting and spell checks.
Iterating over the result and pulling out the value contained in the array

[2021-04-17 01:50] Thaval opened #557 "Zookeeper cloud"
Hi,

i have a problem with setting up solr cloud with zookeeper and solrnet... I cant query or add documents right now, although the zooker status seems to be ok.
My yml file looks like  [this](https://www.github.com/docker-solr/docker-solr-examples/tree/master/docker-compose%2Fdocker-compose.yml)

My code looks like this and error comes when the "Add" method is called

[code]

And the docker comp

[2021-04-17 22:02] #557 closed

[2021-04-17 22:03] Thaval commented on #557
We should not try to connect to zookeeper, but to the solr instance.

[2021-04-17 23:06] mausch commented on #557
FWIW I'm working on the SolrCloud integration tests in this branch and the connections are working fine, you might want to use this as reference: https://github.com/SolrNet/SolrNet/tree/cloud-integration-tests

[2021-04-27 07:25] Thaval commented on #556
It's fine. Just set multiValued=false and you can map it to string.

[2021-04-27 07:25] #556 closed

[2021-04-28 22:32] #555 closed

[2021-04-28 22:34] mausch commented on #555
Fixed now! I'm a bit tired so I read StackOverflowException instead of OverflowException and spent some 5 minutes looking for the recursion in that code :smile:

[2021-05-03 18:04] hoerup commented on #553
@mausch Do you at least have a list of things you want resolved before making the next release ?

[2021-05-04 21:28] mausch commented on #553
Hi, seems I missed this issue when it was created.
There aren't many fixes since the last release actually, see https://github.com/SolrNet/SolrNet/compare/1.0.19...master .
It would be a good idea to make a release anyway probably.
After a long hiatus I've recently picked up the project again. I've been working mainly on testing... can't really build reliably without testing things. Got the core i

[2021-05-06 11:01] Thaval opened #559 "Question: How to add custom commands?"
Hi,

what would be the best way to include custom commands like list collections or list aliases?
I saw there are ICommand, CoreCommand classes and ReponseParser and classes for that. But how would I implement and integrate a custom command?
Is this even possible?

[2021-05-09 22:29] mausch commented on #559
There's many ways to do that... you've already seen ISolrCommand, so here's an example based on that:

[code]

[2021-05-11 12:38] Thaval opened #560 "Performance"
Hi,

when querying the solr instance, it takes up to 5-7 seconds to get the actual response from solr. The query itself is pretty simple like "q=*0*" and the collection only contains of 4 documents right now. Of course, the second time I run the query, the result is received at client side (.NET Core) within 900ms, but the query result cache by default.
However, the QTime is under 100ms, most of t

[2021-05-11 22:01] mausch commented on #560
Try [manual mapping](https://github.com/SolrNet/SolrNet/blob/master/Documentation/Mapping.md#manual-mapping) and see if it makes any difference.

[2021-05-15 16:56] cupelapps commented on #556
Hi Thaval,
How did you achieve this? Can you elaborate?

Regards
Muthu

[2021-05-18 11:23] Thaval commented on #556
I already answered this.
Just set multiValued=false for the field and it won't be an array of strings but a single string instead. Then it's normally mapped to a string without any further investigations.

[2021-06-02 23:28] catmanjan commented on #489
All the nuget packages say "SolrNet is compatible with Solr 1.x to Solr 7.x."

Is this true?

[2021-06-03 02:39] xmorera commented on #489
That may need to be updated. I am using it in production without any issues with Solr 8.4

[2021-06-03 09:13] mausch commented on #489
BTW I'm revamping the integration tests so that we can officially test against multiple versions of Solr.

[2021-07-01 07:24] kanikasharma7 opened #562 "Support for Query in Grouping results"
I am currently using solrnet version 0.4.0.2002 and I urgently need query support in grouping results. I tried to fire group query, it is working with Fields property but not with Query. It is returning 0 results. This is the code I am using :
` List<ISolrQuery> groupQuery = new List<ISolrQuery>();
            foreach (var title in listOfTitles)
            {
                groupQuery.Add(Query.F

[2021-07-06 13:31] nbernier opened #563 "AddSolrNet doesn't implement HttpWebRequestFactory injection"
Our Solr instances are protected with the JWT Authentication. The connections needs a valid http header JWT in the HttpClient. The HttpClient is exposed but once the http authorization header is added, there is no way to refresh it. Exposing the HttpWebRequestFactory will give the possibility to refresh the http header token when needed.

[2021-07-06 20:13] mausch commented on #563
You should be able to use a `HttpMessageHandler`? e.g. https://stackoverflow.com/a/49304655/21239

[2021-07-07 12:34] nbernier commented on #563
Probably but I do not build the HttpClient. I can't inject anything in the constructor.

https://github.com/SolrNet/SolrNet/blob/26d2103bddb944cc61b463191b5b76e70f0cc203/SimpleInjector.SolrNet/ContainerExtensions.cs#L72

[2021-07-08 15:33] jwilder123 opened #564 "CommonQueryOptions StartOrCursor, Rows, etc to long?"
Any thoughts on converting the int properties in CommonQueryOptions and StartOrCursor to long? In terms of Solr's capabilities - indexing more 2.4b documents is a very common use case? Thanks!

[2021-07-08 17:36] mausch commented on #564
Hi, I made this change in https://github.com/SolrNet/SolrNet/pull/558 , did I miss any such property?

[2021-07-08 18:51] jwilder123 commented on #564
Perhaps I'm looking at this wrong but https://github.com/SolrNet/SolrNet/blob/master/SolrNet/StartOrCursor.cs I see the property int Row as well as the constructor public Start(int row)?

[2021-07-15 23:05] mausch commented on #563
See https://gist.github.com/mausch/a393e8922a642ffa826fc1243c4d7598

[2021-07-19 20:59] mausch commented on #563
Sorry, got a similar question when I posted that gist but I notice now that this one is for SimpleInjector and it's a bit diferent too.
I'm not familiar with SimpleInjector, surely there's some way to replace a component? Maybe this https://docs.simpleinjector.org/en/latest/howto.html#override-existing-registrations
Look to replace the component for the ISolrConnection interface.

[2021-08-03 07:20] Thaval opened #565 "Group expressions in query with brackets?"
Hi,

how can I build a query that have brackets? For example I want to find users that match the following query:
(forename:Jen* and lastname:*th) or forename:*hen*

How is this possible?

[2021-09-03 09:10] Thaval opened #569 "Use without dependency injection container"
Hi,

is there an example on how to use this library without using any dependency injection container?

[2021-09-13 21:59] mausch commented on #569
Depends on what you want to do exactly, but if you mean the usual operations you can start with:

[code]

and let the IDE/intellisense guide you to fill in `...` with the implementations of every interface/parameter passed to every object.

[2021-09-24 12:47] HakanKaraoglu opened #571 "Emoji support"
I am trying to index the following twitter data in two different ways. The first option is a simple index option with the SolrNet library. When I do this the emojis don't show up properly in solr.

Tweet: "aşı oluyorum 😀😁😍😆😟😱😼😻🙌😀🤲😹🧠🤤 test yenisi"

![image](https://user-images.githubusercontent.com/12962730/134675829-d52ea9f8-f793-4617-a910-d12c4c55d684.png)

[code]

however, I noticed that when I

[2021-09-26 18:34] fatihyildizhan commented on #402
Is there any solution yet?

I am still getting `"The remote server returned an error: (401) Unauthorized."`.

Thanks

[2021-09-26 18:49] mausch commented on #402
@fatihyildizhan Hi, have you tried the async methods, as mentioned above?

[2021-09-27 06:34] fatihyildizhan commented on #402
Hi,

I compiled the answers above and created a simple .NET 5 project. You may check the Readme as well.

https://github.com/bau-global/SolrNET5WebAPI

- Startup
[code]

- Controller
`SolrQueryResults<WeatherForecast> results = await _solr.QueryAsync(new SolrQuery($"summary: {parameter}"));`

[2021-09-28 02:03] udayarccdw opened #572 "Solr Result Json Parser Needed!!"
It seems, for now SolrNet supports only the XML Parser and since we can send query as wt=json, we like to have Json Parser on Results. Is there any way we can achieve this ?

[2021-09-28 08:23] mausch commented on #572
Hi, what exactly do you need from a JSON response that isn't present in XML responses?

[2021-09-28 20:42] udayarccdw commented on #572
Size of Json Payload is less than XML Payload - We are getting huge number of records. We tested out that Json is faster than XML

[2021-09-29 08:38] HakanKaraoglu commented on #571
@mausch Do you have any guidance on this?

[2021-09-29 21:57] mausch commented on #571
I just [added a test that passed](https://github.com/SolrNet/SolrNet/commit/f32f6735b5867a8561929e4c7b684967a4fe6c9f).
Before that I've had [similar tests in codebase for over 10 years](https://github.com/SolrNet/SolrNet/commit/06d88e10c0b4d7970fe59902518d0e5a62b63d15).

[2021-09-29 22:40] HakanKaraoglu commented on #571
Yes, the test passes, but it does not index properly on the solr side, this is what I want to talk about. Did you test like this? I tested it and the result is as follows. Since we collect content from social media, emojis cause problems for us, so I wanted to open this topic.

[code]

![image](https://user-images.githubusercontent.com/12962730/135358134-383e5748-f4b9-4721-aaee-1cb75d7d3bbe.png)

[2021-10-03 09:59] bsweb opened #573 "SolrQueryByField + Quoted in FilterQueries"
Hi,

I am trying to build a query using SolrQueryByDistance and SolrQueryByField. These can't be used together when building a query so I have used SolrQueryByField in the FilterQueries but "Quoted" option does not work here. Is there a way round this?

Thanks.

[2021-10-03 10:05] #573 closed

[2021-10-04 17:49] HakanKaraoglu commented on #571
@mausch
Can you test what I wrote? You will see that no emojis are displayed in Solr. This code may pass the test, but it's okay if it doesn't show emojis?

[2021-10-04 18:14] hoerup commented on #571
HakanKaraoglu just to make sure:
You do indeed have successfully added it directly to solr and got it back and thus verified that it is handled correctly in solr itself ?

[2021-10-04 18:36] HakanKaraoglu commented on #571
The code I wrote for the test is as above. If you see a mistake, I can correct it and try again.

[2021-10-04 18:47] hoerup commented on #571
My point is: In a setup with a client-library(SolrNet) and a server(solr) it can seem unfair to blame the client without verifying that the server is doing what it's supposed to do

so have you tried to inject a sample doc with emojis into solr either via solr UI or the cli tool <solrhome>/bin/post ?

[2021-10-04 18:54] HakanKaraoglu commented on #571
yes, emojis appear when I update to the same document from the Solr UI. Even emojis appear when I throw them with http client.

[2021-10-04 19:17] hoerup commented on #571
@mausch HakanKaraoglu might have a point
I tried to update the AddAndQueryUnicode test and add his list of emojis - and it fails : https://github.com/hoerup/SolrNet/actions/runs/1304932806

[2021-10-04 20:33] mausch commented on #571
Yep, I have also confirmed the issue a couple of days ago... very strange!

[2021-10-05 14:23] HakanKaraoglu commented on #571
@mausch Maybe this problem can be fixed with a new version.
@hoerup Thank you for supporting my question. :)

[2021-11-01 11:20] HakanKaraoglu commented on #571
@mausch any update ?

[2021-11-05 08:27] petr-fleischmann opened #574 "Can't set Timeout via Microsofr Dependency Injection for sync methods"
Hi,
I can't set Timeout interval when I initialize SOLR via Microsoft.Extensions.DependencyInjection (ASP.NET core)
 as `services.AddSolrNet<Person>("http://localhost:8983/solr/person");`. Method AddSolrNet has second paremeter `SolrNetOptions options` but **HttpClient**.Timeout is used only for Async methods. How can I set Timeout for sync methods ? ? Maybe new property in SolrNetOptions.Timeout

[2021-11-15 03:20] SirMrDexter opened #575 "Commit within does not work with atomic updates"
Calling `ISolrOperations.AtomicUpdate` with `AtomicUpdateParameters` with the value for `CommitWithin` set to any values does not actually commit the changes to solr index unless its followed by a `Commit` call.

Turns out the root cause it due to incorrect case of the `commitWithin` parameter set in `AtomicUpdateCommand`

[2021-11-16 13:39] Thaval opened #577 "PostSolrConnection: Bad parameter design?"
Hi,

I try to switch from GET to POST when querying a solr collection and fell over an already existing implementation called "PostSolrConnection". Now, when using this class (replacing it in DI breaks multiple object creations, etc.), it expects two parameters: one ISolrConnection and serverUrl as string. Why does it need the serverUrl as string parameter when ISolrConnection also expects a serve

[2021-11-16 17:39] Thaval opened #578 "SolrCloudStateParser not working"
Hi,

when trying to get the SolrCloudStatus an error is thrown because the action is not "clusterstate" but "clusterstatus". However, when executing a custom HttpRequest to solr (fix of the bug), then the next problem is that SolrCloudStateParser cannot parse the response. It fails when trying to build the router because the json is null. So I guess the response changed or something like this.

I'

[2021-11-16 18:02] mausch commented on #560
@Thaval ping, did that help? can we close this?

[2021-11-16 18:03] mausch commented on #569
@Thaval ping, did that help? can we close this?

[2021-11-16 18:13] Thaval commented on #569
Yea that helped and the issue can be closed, thanks.

[2021-11-16 18:15] Thaval commented on #560
I will be able to answer that question in a few weeks, according to our backlog.

[2021-11-16 18:18] #569 closed

[2021-11-16 22:52] #575 closed

[2021-12-10 09:15] Thaval opened #579 "Quoted - Use "contains" operator with wildcards"
Hi,
i found out, that when I use wildcards with contains and set quoted to true for the query, then the wildcards will be quoted as well.
Does SolrNet have a query for such a case?

Currently I am using the query object like this
`new SolrQueryByField(field, @$"*{value}*") { Quoted = true}`
where value can be "this is a test!" which would be quoted to "\'this\ is\ a\ test\!\*". However, the wildca

[2021-12-20 22:16] mausch commented on #579
Hi, [quoting `*` is by design](https://github.com/SolrNet/SolrNet/blob/26d2103bddb944cc61b463191b5b76e70f0cc203/SolrNet.Tests/SolrQueryByFieldTests.cs#L64), as it's a character with a special meaning. The goal of this quoting is to allow arbitrary input without it being accidentally interpreted as something different by Solr.

If you need something different then you can easily set `Quoted = false

[2022-01-04 10:40] hoerup commented on #553
Any news regarding a new release ?

[2022-01-24 17:04] m-gallesio commented on #553
Seconding this; we are interested in the [`AddSolrNet(urlRetriever)`](https://github.com/SolrNet/SolrNet/blob/master/Microsoft.DependencyInjection.SolrNet/ServiceCollectionExtensions.cs#L44) overload in particular.

[2022-01-24 18:45] mausch commented on #553
I still need to automate some stuff around versioning and publishing packages to nuget.
In the meantime packages are published automatically to the Github nuget repository : https://github.com/orgs/SolrNet/packages

[2022-02-09 16:00] ChrisMares opened #581 "Parameter limit: System.UriFormatException: Invalid URI: The Uri string is too long"
Using .net 5

I'm using SolrQueryInList and needing to add many items, up to 1000. Currently it only lets me get to about 350 before blowing up with "Uri string too long"

After googling I found that I might need to make sure my connection to solr is a "post" instead of a "get"? If this is the cause, how do I go about doing that in my startup?

currently I have:

[code]

What's the correct way to

[2022-02-15 17:36] Wintermute79 commented on #381
Also looking for Microsoft Core DI support. Any news on this?

[2022-02-16 01:52] Wintermute79 opened #582 "SolrCloud with Microsoft Dependency Injection"
Is it possible to use SolrNet Cloud with ASP.NET Core built-in dependency injection?
There is no integration or example like for Unity or autofac, has anyone done this, yet?

[2022-02-17 08:45] jevgenigeurtsencolours commented on #402
To fix the usage of sync calls we needed to patch some SolrNet code to actually use `BasicAuthHttpWebRequestFactory` instead of the hardcoded `HttpWebRequestFactory`:

[code]

And use it like this whenever we create a `AutoSolrConnection`:

[code]

I'll create a PR that allows us to have more control over the type of factory in code asap.

[2022-02-17 10:15] jevgenigeurtsen commented on #402
Created PR: https://github.com/SolrNet/SolrNet/pull/583

[2022-02-17 20:30] mausch commented on #582
There's no project for this at the moment. PRs welcome :slightly_smiling_face:

[2022-02-17 20:36] mausch commented on #581
Hi, so if understand correctly this is a duplicate of #524 ?

[2022-02-17 20:41] mausch commented on #582
Duplicate of https://github.com/SolrNet/SolrNet/issues/381

[2022-02-17 20:41] #582 closed

[2022-02-21 15:50] mausch commented on #581
This recent fix should address your problem https://github.com/SolrNet/SolrNet/pull/583

[2022-02-22 10:16] fcodogno opened #584 "Solr 8.11.1 - Didn't get any collection's state from zookeeper"
We configure a cloud-based Solr 8.11.1 with three nodes.
We also turned on basic authentication on Solr.
If we connect directly with one of the nodes all works fine.
If we logon via zookeper to take advantage of load balancing the state is connected so the connection is fine.
But If we try a search we get the error "Didn't get any collection's state from zookeeper".
We didn't find any documentatio

[2022-02-24 17:45] Wintermute79 commented on #582
Done in #585  🙂

[2022-02-25 08:03] groege opened #587 "Castle.Facilities.SolrNetIntegration: NugetPackage Broken and still at Version 1.0.0"
Hi,

There is something wrong with the nuget package.
First thing to notice is that the version number is not up to date with the SolrNet package.
The second but bigger problem ist that the nuget package is broken...
Trying to add it to a NetFramework 4.8 Project fails since it belives it is not compatible (SolrNet works just fine)...
So I created a NetStandard 2.0 Lib to put in between --> the in

[2022-02-28 13:52] ChrisMares commented on #581
@mausch Thank you very much! I see your nuget packages have not been updated since 2019, do most people pull source code in their projects and run that way? Is there a nuget that gets created when you merge to master branch?

[2022-02-28 13:56] mausch commented on #581
Yep see https://github.com/orgs/SolrNet/packages

[2022-03-01 15:20] Wintermute79 opened #589 "SolrNet Cloud Resiliency: if ZooKeeper init fails once, it fails forever."
For some reason I have an irregular, transient problem with a few of my ZooKeeper connections. In effect, I cannot get a collection state for a short while a few times a day.
However, I do not want to address _this issue_ here; I opened an issue in ZooKeeper .NET Client repo at https://github.com/shayhatsor/zookeeper/issues/48 instead.

What _I would like to address_ in SolrNet Cloud, is resilienc

[2022-03-07 22:43] Wintermute79 commented on #589
Done in #590

[2022-03-07 22:43] #589 closed

[2022-03-10 09:15] kostas-kelgeorgiadis opened #591 "Is there a way to use client certificates with SolrNet.Cloud?"
I was using client certificates with SolrNet before, and I am thinking of moving to SolrNet.Cloud now.
However, I see that there is no method for setting an `ISolrConnection` for the library.

SolrNet had this method:
[code]
...where you could customize the connection.

For SolrNet.Cloud there is only this one, that does not accept any `ISolrConnection` instance:
[code]

Am I missing something?
Or

[2022-03-11 15:56] kostas-kelgeorgiadis commented on #591
I ended up overriding the `ISolrOperationsProvider` in my DI Container after the call to `InitAsync()`.
Not the most beautiful thing, but seems to work...

[2022-03-15 15:34] kostas-kelgeorgiadis commented on #591
Also, the docs here don't seem to be up-to-date:
https://github.com/SolrNet/SolrNet/blob/master/Documentation/Basic-usage-cloud.md
In the latest version of the lib, I see that `SolrNet.Startup.Init<T>()` does not accept a `SolrCloudStateProvider` and you obviously have to call `SolrNet.Cloud.Startup.InitAsync()` for initialization.

[2022-03-17 11:46] kostas-kelgeorgiadis commented on #413
I think that the default way to use multiple ZK instances, is to do this when all ZK instances are replicas of each other:
[code]

For handling more than one ZK instances, that are totally unrelated to each other, I don't think it is possible.

[2022-04-19 13:32] mausch commented on #553
[Released 1.1.0 yesterday](https://github.com/SolrNet/SolrNet/releases/tag/v1.1.0)

[2022-05-09 15:10] LeonardoRigoni commented on #415
Hi, any news with this issue? Actually I'm using SOLRNET with a trick to simulate nested documents, but that requires me to always do two SOLR queries. I would like to know if anyone here has already implemented something similar, or if there is any work in progress to offer this functionality in SOLRNET, or even tips on how I could implement this directly in SOLRNET to make a pull request in the

[2022-05-14 02:14] LeonardoRigoni commented on #415
Hello @xmorera

I am currently using SOLRNET with SOLR 6.6.6. Currently SOLRNET does not allow natively mapping a class containing nested classes. Is there any prediction that this will be available on SOLRNET in future releases?
I developed a solution to be able to map classes with nested classes using SOLRNET, but I believe that my solution is still a little far from ideal. I would like to evolv

[2022-05-15 16:34] xmorera commented on #415
Hello @LeonardoRigoni ! Please review this with @mausch

[2022-05-15 17:48] mausch commented on #415
Hi @LeonardoRigoni feel free to send a PR of course! I'll review it when I get a chance

[2022-05-16 11:59] LeonardoRigoni commented on #415
Hi Maurício, I still don't have something that I can consider good enough to generate a pull request. My implementation is an external library that uses SOLRNET to deal with nested documents, and my library does not allow including data, only querying.

My initial objective here was to see if there was a forecast to deliver this feature of nested documents (I've already noticed that there isn't),

[2022-06-01 18:09] Jure-BB opened #595 "Router.field bug"
Typo in "rooter.field". Should be "router.field".

https://github.com/SolrNet/SolrNet/blob/071d8b5fd5c53f4ddc7eec2a12aa26461e61e241/SolrNet.Cloud/CollectionsAdmin/SolrCollectionsAdmin.cs#L51

[2022-06-02 16:30] mausch commented on #595
d'oh! Fixed now

[2022-06-02 16:30] #595 closed

[2022-06-04 14:13] mausch commented on #587
Not sure there's much I can do here except explain how this all  _should_ be working correctly :slightly_smiling_face:

I'm not seeing this... back in Feb we had version [1.0.19 of SolrNet.Windsor](https://www.nuget.org/packages/SolrNet.Windsor/1.0.19), which defined `SolrNet.Core (>= 1.0.19)` as a dependency.

We publish all packages with targets .NETFramework 4.6 and .NETStandard 2.0. This shoul

[2022-06-04 14:13] #587 closed

[2022-06-04 14:29] mausch commented on #591
Fixed docs in https://github.com/SolrNet/SolrNet/commit/e602ed209b826ab4ac8b340fa6882e4a205d0da5

[2022-06-21 13:35] DnbChris commented on #542
Please implement the "hl.method" parameter in the HighlightingParameters. This is now urgently needed as in [Solr version 9.0](https://solr.apache.org/guide/solr/latest/upgrade-notes/major-changes-in-solr-9.html) there is a breaking change regarding the default Highlighter.
("Highlighting: hl.method=unified is the new default. Use hl.method=original to switch back if needed.")

Are there other cha

[2022-07-02 17:19] leandrocustodio opened #598 "Atomic Update for nested objects"
Hello All,
I was wondering what should be the best way to handle atomic updates to nested fields. The SorlNet currently supports atomic updates for `string`, `int`, and, `arrays`. But when we are talking about nested objects I did not find anything related to atomic updates.

Do you consider a good idea to add another version to AtomicUpdateSpec that supports arrays of objects that should be handl

[2022-07-11 11:59] ancailliau commented on #591
@kostas-kelgeorgiadis Could you share the override you did, I'm currently reviewing this part of the code and I might include a proper fix in a later PR.

[2022-07-11 12:01] ancailliau commented on #577
The PostSolRConnection class is unrelated to what you are trying to achieve. It is an internal class for connecting to SolR instance.

[2022-07-11 16:39] kostas-kelgeorgiadis commented on #591
Sure.
Here you go (there is some extra code that prevents deadlocks in web applications):

	var cert = LoadCertificate(settings);

	using (NoSynchronizationContextScope.Enter())
	{
		var container = SolrNet.Cloud.Startup.Container;

		container.RemoveAll<SolrNet.Cloud.ISolrOperationsProvider>();
		var cloudStateProvider = new SolrNet.Cloud.ZooKeeperClient.SolrCloudStateProvider(settings.ZookeeperC

[2022-07-19 22:11] mausch commented on #299
Did this in 65d74d66273be7dd993154399798b75d3e856b62
Still using the "techproducts" schema that comes built into Solr.
The integration tests do include SolrCloud.

They run on Github Actions.

It currently runs on each major version of Solr from 5.x to 8.x
Solr 9 was released a couple of months ago, should add it too.

[I upgraded the tech in the sample app about a year ago](https://github.com/Sol

[2022-07-19 22:11] #299 closed

[2022-07-21 15:14] #527 closed

[2022-07-21 15:16] mausch commented on #560
Closing due to inactivity.

[2022-07-21 15:16] #560 closed

[2022-07-21 15:18] mausch commented on #237
Closing as we merged this years ago.

[2022-07-21 15:18] #237 closed

[2022-07-21 15:42] mausch commented on #363
SolrNet.DSL was removed in c87fe4a5a7410d68707daea6ea0147ff62772ac3
Tbh it was never a good idea really.

[2022-07-21 15:42] #363 closed

[2022-07-21 15:43] #349 closed

[2022-07-21 16:14] mausch commented on #440
Use the [sample app](https://github.com/SolrNet/SolrNetSampleApps) for reference on setting things up.

[2022-07-21 16:14] #440 closed

[2022-07-21 16:15] #451 closed

[2022-07-21 16:16] mausch commented on #403
Closed due to inactivity.

[2022-07-21 16:16] #403 closed

[2022-07-22 13:21] fguiet opened #600 "SolrNet.Cloud does not work if alias is used instead of collection name"
Hi,

I want to use an alias instead of a collection name with the following code, but I get the error :

Didn't get 'xxx_alias' collection state from zookeeper

If I use the collection name instead of the alias it works as expected

[code]

Is it possible to make this work with an alias and a collection name?

Tx
fred

[2022-08-09 13:24] sydseter opened #602 "CVE-2020-1147 Microsoft.NETCore.App Remote Code Execution (RCE)"
A critical RCE security issue is affecting software that is using an earlier version of Microsoft.NETCore.App like SolrNet.

Introduced through SolrNet@1.1.1
Fixed in Microsoft.NETCore.App@2.1.20, @3.1.6
see: https://security.snyk.io/vuln/SNYK-DOTNET-MICROSOFTNETCOREAPP-584431

[2022-08-09 13:51] sydseter commented on #602
I can see that this is just a test dependency, could someone make sure it is a PrivateAsset ?

[2022-08-18 20:59] omidontop commented on #571
Any updates on this issue?

[2022-08-19 08:20] mausch commented on #571
Currently accepting PRs with a test+fix for this.

[2022-09-07 11:56] kostas-kelgeorgiadis commented on #595
If it is not much trouble, can someone describe what the effects of this bug could have been?
Because I get some random connection errors towards a Zookeeper enclave from times to times, and I can't figure out what is causing them. It may be happening when a ZK node goes offline, but I am not sure.

[2022-09-07 13:29] kostas-kelgeorgiadis opened #603 "Cannot connect to the Zookeeper instance <connectionString>. Current state: CONNECTING"
We are getting this weird error at random times while using the library on a Solr Cloud installation with a ZK enclave of 3 ZK nodes:

   at SolrNet.Cloud.ZooKeeperClient.SolrCloudStateProvider.<InitAsync>d__17.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Runtime.CompilerSer

[2022-09-08 09:49] kostas-kelgeorgiadis commented on #603
OK, I see now that the check creating the problem was removed with this commit: c1b7d9147208a401d08eb268eafeae84f6e517aa.
Perhaps the latest version of the library might fix the problem.
I will test.

[2022-09-13 08:19] kostas-kelgeorgiadis commented on #603
With the latest library code, it appears that the error location is shifted and it is manifested with a different error message:

[code]

But, apparently, the underlying problem is the same: the communication with ZooKeeper is not ready/feasible.

[2022-09-13 14:57] kostas-kelgeorgiadis commented on #603
I have the impression (without testing or verifying this) that the problem is in this method:

https://github.com/SolrNet/SolrNet/blob/2007603ef826d07fd3714f669462d9c463b05c21/SolrNet.Cloud/ZooKeeperClient/SolrCloudStateProvider.cs#L161

...and that the code should look more like this example:
https://github.com/shayhatsor/zookeeper/blob/trunk/docs/javaExample.html#L532

So, something along these

[2022-09-14 08:59] kostas-kelgeorgiadis commented on #603
BTW, when getting the `Didn't get any collection's state from zookeeper.` error, zookeeper seems to log this error:

[code]

[2022-09-16 08:21] kostas-kelgeorgiadis commented on #603
It turns out that the source of the problem was a low timeout setting for the `SolrCloudStateProvider`.
I wonder though, if the code should retry to establish the connection, because in my case it was working some of the times.
So, it was not like it was impossible to establish a connection, but it just happened to fail the first time and got stuck at the CONNECTING state.

[2022-09-16 13:46] kostas-kelgeorgiadis commented on #591
Added a PR for this, with some extra improvements.

[2022-09-20 18:27] Jay-Shete commented on #418
Any update on this in 2022?

[2022-10-04 14:56] nbernier commented on #572
I am facing the same issue and I looked into overriding the QueryExecutor. It would make sense, but I can't generate the QueryResult mainly because the CollationResult has an internal constructor.

[2022-10-19 22:16] dmontgomery opened #605 "Registering a custom IReadOnlyMappingManager in Microsoft DI"
Hi,

The code in the ServiceCollectionExtensions BuildSolrNet() is explicitly checking to see if any instance of IReadOnlyMappingManager is already registered, then returning immediately if true.  This seems to prevent registering our own mapping implementation unless I'm missing something obvious?

Any suggestions would be appreciated.

Thanks!

[2022-11-15 17:21] mustafasariel commented on #571
I updated the SolrNet.Core library. 1.0.19->1.1.1, but the problem still persists.

[2022-11-29 14:18] hamzadsmart commented on #510
which file is used for configuration