[2013-09-07 22:14] mausch opened #76 "Support for sharding"
Migrated from https://code.google.com/p/solrnet/issues/detail?id=11

[2013-09-07 22:23] mausch opened #77 "LINQ provider"
(migrated from https://code.google.com/p/solrnet/issues/detail?id=18 )

See https://groups.google.com/d/msg/solrnet/YVCp4UN-J0U/6mrYBWII1csJ for reasons not to do this.

See https://github.com/mausch/SolrNet/tree/linq for some work in progress.

[2013-09-07 22:29] mausch opened #78 "Per-field highlighting parameters"
(migrated from https://code.google.com/p/solrnet/issues/detail?id=36 )

Add per-field highlighting parameters override. From http://wiki.apache.org/solr/HighlightingParameters :

Some parameters may be overriden on a per-field basis with the following
syntax:

[code]

Test which parameters can be overriden.

Workaround: use ExtraParams. See http://teach-algo.blogspot.in/2013/05/solrnet-separate-hi

[2013-09-07 22:47] mausch opened #79 "Function queries"
(moved from https://code.google.com/p/solrnet/issues/detail?id=58 )

Function queries can be used in SolrNet now, but only stringly-typed.
Model function queries ( http://wiki.apache.org/solr/FunctionQuery )

[2013-09-07 22:51] mausch opened #80 "Nested queries"
(moved from https://code.google.com/p/solrnet/issues/detail?id=63 )

Figure out how to cleanly compose nested queries (see http://searchhub.org/2009/03/31/nested-queries-in-solr/ )

Workaround: compose them manually using LocalParams and query serializer.

[2013-09-07 23:24] mausch opened #81 "Multi-select facets"
(moved from https://code.google.com/p/solrnet/issues/detail?id=64 )

Figure out how to cleanly model [multi-select facets](http://wiki.apache.org/solr/SimpleFacetParameters#Multi-Select_Faceting_and_LocalParams) .

Multi-select facets can be readily used with SolrNet ([example](http://bugsquash.blogspot.com/2010/03/low-level-solrnet.html)) though a cleaner, simpler model would be useful.

[2013-09-07 23:28] mausch opened #82 "Connect to SolrIKVM"
(moved from https://code.google.com/p/solrnet/issues/detail?id=69 )

Implement a direct connection to [SolrIKVM](https://github.com/mausch/SolrIKVM), much like SolrJ has EmbeddedSolrServer.

[2013-09-07 23:54] mausch opened #83 "JavaBin"
(moved from https://code.google.com/p/solrnet/issues/detail?id=71 )

Support [JavaBin](https://svn.apache.org/repos/asf/lucene/dev/trunk/solr/solrj/src/java/org/apache/solr/common/util/JavaBinCodec.java).

Started in http://github.com/mausch/SolrNet/tree/javabin . However, the codec has a new version: http://wiki.apache.org/solr/javabin#Versions

See also https://groups.google.com/d/msg/solrnet/Bd

[2013-09-07 23:57] mausch opened #84 "Autocomplete in sample app"
(moved from https://code.google.com/p/solrnet/issues/detail?id=74 )

Add autocomplete to the free search textbox in the sample app.

[2013-09-07 23:58] mausch opened #85 "Facets by price in sample app"
(moved from https://code.google.com/p/solrnet/issues/detail?id=76 )

Add facets by price ranges to sample app.

[2013-09-08 00:05] mausch opened #86 "Support Mono"
(moved from https://code.google.com/p/solrnet/issues/detail?id=77 )

Get the code to compile and the tests to run with Mono.

[2013-09-08 16:22] mausch opened #87 "Review Extract design"
(moved from https://code.google.com/p/solrnet/issues/detail?id=194 https://code.google.com/p/solrnet/issues/detail?id=79 )

The design of ExtractParams isn't completely consistent and needs some review. See https://groups.google.com/d/topic/solrnet/2_zwuMVQJ6o/discussion https://code.google.com/p/solrnet/issues/detail?id=79#c15

[2013-09-08 16:38] mausch opened #88 "Support multi-core with built-in container"
(moved from https://code.google.com/p/solrnet/issues/detail?id=83 )

Enable multi-core support with same document type for the built-in container.

[2013-09-08 16:49] mausch opened #89 "Fully loose mapping in Ninject"
(moved from https://code.google.com/p/solrnet/issues/detail?id=89 )

Support `Dictionary<string, object>` mapping

[2013-09-08 17:08] mausch opened #90 "Facet by range"
(moved from https://code.google.com/p/solrnet/issues/detail?id=117 )

http://wiki.apache.org/solr/SimpleFacetParameters#Facet_by_Range

[2013-09-08 17:13] mausch opened #91 "Async operations"
(moved from https://code.google.com/p/solrnet/issues/detail?id=120 )

Implement APM (begin/end pattern) for async operations.

APM is supported in .NET 3.5 and [Task can easily wrap APM](http://msdn.microsoft.com/en-us/library/dd997423.aspx).

[2013-09-08 17:16] mausch opened #92 "Remove CommonServiceLocator"
(moved from https://code.google.com/p/solrnet/issues/detail?id=125 )

I only used it as a base to implement the built-in container, other than that it serves no real purpose. Ditch it.
Provide a separate package implementing a CommonServiceLocator adapter.

[2013-09-08 17:23] mausch opened #93 "Remove dependency on System.Web"
(moved from https://code.google.com/p/solrnet/issues/detail?id=140 , https://code.google.com/p/solrnet/issues/detail?id=134 )

Removing the dependency on System.Web would make SolrNet compatible with Xamarin.Android / iOS . See [report](http://scan.xamarin.com/Home/Report?scanId=fcbbcff4-b611-4e73-8134-01f7e1686562).

[2013-09-09 18:20] mausch opened #94 "Remove ISolrCommand"
(moved from https://code.google.com/p/solrnet/issues/detail?id=147 )

ISolrCommand was not a good idea. It introduces an unnecesary abstraction that inverts control. Refactor to remove.

[2013-09-09 19:07] mausch opened #95 "FastVectorHighlighter"
(moved from https://code.google.com/p/solrnet/issues/detail?id=149 )

Support FastVectorHighlighter and its options, see http://wiki.apache.org/solr/HighlightingParameters#hl.fragListBuilder

[2013-09-09 19:12] mausch opened #96 "Load balancer"
(moved from https://code.google.com/p/solrnet/issues/detail?id=153 )

As described in http://wiki.apache.org/solr/LBHttpSolrServer . Make balancing algorithms pluggable, i.e. some implementations could be http://content.websitegear.com/article/load_balance_types.htm

Balancing algorithms should have access to response so that an impl can use qtime to schedule.

[2013-09-09 19:13] mausch opened #97 "Add spatial search to sample app"
(moved from https://code.google.com/p/solrnet/issues/detail?id=154 )

[2013-09-09 19:14] mausch opened #98 "ILookup mapping"
(moved from https://code.google.com/p/solrnet/issues/detail?id=156 )

Map ILookup by default to a dynamic multivalued field, using the name as a prefix just like with dictionary mapping.

[2013-09-09 19:16] mausch opened #99 "Soft commits"
(moved from https://code.google.com/p/solrnet/issues/detail?id=161 )

http://wiki.apache.org/solr/UpdateXmlMessages#A.22commit.22_and_.22optimize.22

[2013-09-09 19:17] mausch opened #100 "Add multi-select facets in sample app"
(moved from https://code.google.com/p/solrnet/issues/detail?id=166 )

[2013-09-09 19:29] mausch opened #101 "SolrConnection.PostStream with SendChunk"
(moved from https://code.google.com/p/solrnet/issues/detail?id=170 )

The current SolrConnection.PostStream method accepts a stream which must support the Length property.

It would be nice that, if Length raises a NotSupportedException, the stream was sent with SendChunk option enabled, thus allowing stream whose size is not known a priori.

[2013-09-09 19:30] mausch opened #102 "Unify core configuration"
(moved from https://code.google.com/p/solrnet/issues/detail?id=173 )

Currently each IoC integration has its own way to define cores. Create a centralized,
unified model that makes IoC configuration more uniform.

[2013-09-09 19:44] mausch opened #103 "mm (minimum should match) expressions"
(moved from https://code.google.com/p/solrnet/issues/detail?id=179 )

Just as in https://github.com/mausch/SolrNet/issues/79, mm expressions currently have to be written as strings. Model mm expressions to avoid stringly-typed programming.

References:
- http://wiki.apache.org/solr/DisMaxQParserPlugin#mm_.28Minimum_.27Should.27_Match.29
- http://lucene.apache.org/solr/4_4_0/solr-core/org/apache/so

[2013-09-09 19:54] mausch opened #104 "Highlighting boundary scanner"
(moved from https://code.google.com/p/solrnet/issues/detail?id=188 )
http://wiki.apache.org/solr/HighlightingParameters/#hl.boundaryScanner

Since this only makes sense for FastVectorHighlighter, it has to be developed with https://github.com/mausch/SolrNet/issues/95 or after that.

[2013-09-09 20:13] mausch opened #105 "F# type provider"
(moved from https://code.google.com/p/solrnet/issues/detail?id=190 )

Ideas to implement F# type providers around Solr:
1. A type provider would infer the SolrNet document type from the Solr schema. From there SolrNet could pick up the inferred type and be used to do serialization/queries as usual. There could be two "modes", inferring two separate document types:
   - one for querying, which woul

[2013-09-09 20:14] mausch opened #106 "DebuggerDisplayAttribute for queries"
(moved from https://code.google.com/p/solrnet/issues/detail?id=195 )

Define appropriate DebuggerDisplayAttribute in all query classes to make debugging easier.

[2013-09-09 20:26] mausch opened #107 "Shard info"
(moved from https://code.google.com/p/solrnet/issues/detail?id=197 )

Support `shards.info` / `shards.tolerant` in parameters and parse its response.

Reference:
- http://wiki.apache.org/solr/DistributedSearch#Distributed_Searching
- https://issues.apache.org/jira/browse/SOLR-3134

[2013-09-09 20:38] mausch opened #108 "Atomic updates"
(moved from https://code.google.com/p/solrnet/issues/detail?id=199 )

References:
- http://wiki.apache.org/solr/Atomic_Updates
- http://yonik.com/solr/atomic-updates/
- http://dsahi.wordpress.com/2012/12/18/solr-atomic-update/
- http://wiki.apache.org/solr/UpdateXmlMessages#Optional_attributes_for_.22field.22

See also issue on the old issue tracker for ideas and discussion.

[2013-09-09 20:41] mausch opened #109 "Realtime get"
(moved from https://code.google.com/p/solrnet/issues/detail?id=201 )

References:
- http://wiki.apache.org/solr/RealTimeGet
- http://solr.pl/en/2012/01/09/solr-4-0-realtime-get-2/

[2013-09-09 20:44] mausch opened #110 "Multiple collations in spellcheck"
(moved from https://code.google.com/p/solrnet/issues/detail?id=211 )

SolrNet does not currently support multiple collations. SpellCheckResponseParser and SpellCheckResults should be modified to support this.

To avoid multiple breaking changes, things should be changed to support extended results as well ( http://wiki.apache.org/solr/SpellCheckComponent#spellcheck.collateExtendedResults ).

New o

[2013-09-09 20:50] mausch opened #111 "Schema API"
(moved from https://code.google.com/p/solrnet/issues/detail?id=214 )

Implement schema API operations.

Reference: http://wiki.apache.org/solr/SchemaRESTAPI

[2013-09-27 14:41] rdvanbuuren opened #113 "Field and Document Boost use culture specific string"
Hi,

I'm having problems with the Boost, when I run my system under a Dutch culture setting. Currently I'm not able to commit changes, so I thing its just faster to post this as an issue.

Here's a test script that shows the result:

[code]

The cause of the first (Add), can be found in master, SolrDocumentSerializer.cs line 60:

[code]

I was not able to find the source for AddRangeWithBoost. But

[2013-09-27 22:55] #113 closed, assigned to nobody

[2013-10-04 06:26] DaveVdE opened #114 "Make the NuGet packages relevant again"
The title says it all. SolrNet has been prerelease forever now, and we're using it but we're building packages ourselves because the current packages are outdated and available as 'prerelease' only.

[2013-10-04 14:11] #114 closed, assigned to nobody

[2013-10-10 15:48] mausch opened #115 "Script Solr download"
The git repository is getting more and more bloated every time I update Solr. Instead of committing it to the repository, create a script that downloads it, unzips it and replaces config/schema.

[2013-11-28 15:31] mindfuckedCoder opened #117 "Problem with manual mapping and required fields?"
I think I have found a bug, at least I cannot explain the behavior after seraching for 2 hours.
I use manual mapping to build up my schema, and everything works fine, besides that I keep getting errors when I try to validate my mapping.
When I run queries the properties of the target objects are all null or empty.

The errors refer to required fields that would be missing, but actually I map them

[2013-11-28 15:56] #117 closed, assigned to nobody

[2013-12-13 05:59] andreykorolev opened #118 "Problem with making request to Stats component with Date field"
Added field with type date to QueryOptions.Stats.FieldWithFacets and got:

[code]

[code]

[2014-01-02 14:14] stephenpope opened #119 "GetSchemaCommand has hardcoded value for 'schema.xml'"
The GetSchemaCommand has 'schema.xml' name hardcoded inside it. This can cause problems when people are using a non-standard schema name (zookeeper setup for example).

[code]

Proposal :
- Overload of the Execute method that contains a string for alternative schema name.
- Overload on GetSchema on SolrBasicServer<T> with string for alternative schema name.

[2014-01-03 20:49] #119 closed, assigned to nobody

[2014-02-04 12:57] Nesse opened #122 "how to log raw queries with windsor integration?"
I was wondering how i could log all raw queries (debug) with windsor integration. When i want to debug the "LoggingConnection" class, it is not stopping on my breakingpoints. This is what i have:

Windsor implementation:

[code]

Class like the example (logging):

[code]

[2014-02-21 21:06] #122 closed, assigned to nobody

[2014-03-07 20:02] hginwala opened #128 "Nuget package outdated"
Hi,
I ran into some issues when I was using Solrnet from the nuget package, it couldn't find SolrQueryByDistance class, then I read that it might be outdated, after getting the dll (0.4) from build its all good. But I was wondering if nuget package will be updated anytime soon. I am not sure how often new dlls will be dropped to the build server it doesn't like a reliable option for Production env

[2014-03-07 20:13] #128 closed, assigned to nobody

[2014-03-21 14:15] canuckotter opened #129 "Can't provide custom IHttpWebRequestFactory when using Autofac"
When using Autofac, there's no way to pass in a custom IHttpWebRequestFactory, so there's no way to use authentication.

[2014-03-26 13:45] qiankun66 opened #131 "SolrNet Question of SolrQueryByRange<DateTime>"
There is no effect，Search result is Null.

[code]

No search results，Is write wrong？
there are other ways to solve the problem?

thanks!

[2014-03-27 14:07] #131 closed, assigned to nobody

[2014-03-31 21:16] #129 closed, assigned to nobody

[2014-04-09 06:05] Ankita-XIT opened #139 "Sorting on Boolean type field"
I have indexed "StockAvailability" field to Solr with true or false values. It means if products are in stock StockAvailability field has "True" value otherwise it has "False" value.

Now I want search result as per relevancy, means I want to show "In Stock" products first then "Out of Stock" products.

Example:

Assume if you search for "mouse", it returns 10 products. If product "mouse very spec

[2014-04-09 14:35] #139 closed, assigned to nobody

[2014-04-14 08:10] qiankun66 opened #140 "the question about DateTime Search"
in my schema.xml have a field named SaleDate,its multiValued="true".It stores the time data is a list 。like this  ["2014-03-31T16:00:00Z","2014-03-29T13:00:00Z","2014-03-30T15:00:00Z","2014-03-30T19:00:00Z"] .now  iwant to use solrnet to get results ,Contains data for a time(2014-03-30 19:00:00) the SoltNet Code how to write.thanks

[2014-04-14 14:07] #140 closed, assigned to nobody

[2014-04-15 07:52] qiankun66 opened #141 "SolrNet How to Partial update the Index not Add(object)?"

[2014-04-16 03:38] #141 closed, assigned to nobody

[2014-04-16 15:28] ChrisLomax opened #142 "Must specify a Content-Type header with POST requests - Solr 4.7"
I've just installed a new BitNami / Solr stack with 4.7 installed and tried to use the latest SolrNet.

Previous code that worked to push PDFs into the index no longer works, I receive the error above. Other documents work fine.

I've seen this bug post on Apache https://issues.apache.org/jira/browse/SOLR-5517 that states that Solr will throw an error when no content-type is set in the header and

[2014-04-23 13:30] Geepalem opened #143 "Parse error with solrnet filter queries"
http://localhost:8080/solr/master/select?q=_content:*&fq=({!tag=a}page_title_t:solrnet OR {!tag=b}page_title_t:solr)&facet=true&facet.field={!ex=b,a}module_fac_sm

Above query is working fine without issues.

http://localhost:8080/solr/master/select?q=_content:*&fq=({!tag=a}(page_title_t:solrnet) OR {!tag=b}(page_title_t:solr))&facet=true&facet.field={!ex=b,a}module_fac_sm

But above query (parant

[2014-04-30 10:08] dorinoltean opened #145 "set Timeout for SolrPostConnection.cs"
In SolrPostConnection it should be able to set ConnectionTimeout.

[2014-06-05 11:48] rosieks opened #147 "DateTimeFieldParser doesn't not specify kind"
The `DateTimeFieldParser` should setup date time kind if it's not specified in order to serialize object properly.

[code]

[2014-06-06 21:15] #147 closed, assigned to nobody

[2014-06-11 19:43] axshon opened #149 "How to define default field in SolrQuery"
My default search field is called alltext. After removing the `<defaultSearchField>` from my index because it is deprecated, I am getting an error stating the default field needs to be defined. In the querystring it's just df=alltext and it works. But in the SolrNet implementation I can't find how to assign it.

I've tried using new SolrQuery("alltext:" + term)

I've also tried `QueryOptions.Extra

[2014-06-12 19:06] #149 closed, assigned to nobody

[2014-06-13 10:28] mmiladinovicsrb opened #151 "Sample app crash during build"
The type or namespace name 'SolrQueryResults' could not be found (are you missing a using directive or an assembly reference?)?

Any suggestion?

[2014-06-13 17:47] #151 closed, assigned to nobody

[2014-10-17 22:01] justinmk opened #165 "[patch] ArgumentNullException"
Thanks for SolrNet!

I'm running into an occasional (1 in ~100k posts) ArgumentNullException in SolrDocumentSerializer. `XElement.Value` does not allow null values, but `RemoveControlCharacters()` may return null. In that case, I'm assuming that there is no reason to add the node at all.

[code]

[2014-11-12 12:24] mchadrdk opened #167 "StructureMap configuration does not support more than one core"
[The test](https://github.com/mausch/SolrNet/blob/master/StructureMap.SolrNetIntegration.Tests/StructureMapMultiCoreFixture.cs#L44) which checks for multi-core support does not return an error. But if you add in a call to StructureMap's verification method, it will throw several exceptions.

[code]

[2014-11-18 16:21] Dannster opened #168 "Issue with SolrQueryByRange<DateTime> as a filter query"
This is a strange one. I am building a query that has a filter query for a date-time range.
When I serialize both the query and the filter query I get the following...
query... ((mechanic))
filter query...(cv_last_updated:[2014-05-18T16:12:20Z TO 2014-11-18T16:12:20Z])

When I perform the solr query via SolrNet it returns results where the cv_last_updated field falls outside the specified date ran

[2014-11-18 20:03] jborden13 opened #169 "solr.Query fails"
The code below used to work, but now it only returns "The remote server returned an error: (500) Internal Server Error":

[code]

When I request directly from Solr in the browser it works normally:

http://xxx.xxx.xxx.x:xxxx/solr/query?q=title:test

The error is very generic and I can't track down what the actual cause is, any help is appreciated.

[2014-11-19 11:45] #168 closed, assigned to nobody

[2014-11-21 10:15] janhoy opened #170 "Nested documents a.k.a. Block Join"
Support indexing and searching nested documents.

For indexing see https://cwiki.apache.org/confluence/display/solr/Uploading+Data+with+Index+Handlers?focusedCommentId=48792150#UploadingDatawithIndexHandlers-NestedChildDocuments

For querying the nested documents, see https://cwiki.apache.org/confluence/display/solr/Other+Parsers#OtherParsers-BlockJoinQueryParsers

[2014-12-13 11:48] ghost opened #171 "invalid syntax in README.md"
ISolrOperations<Product> solr = ... <-- not actual syntax in C#

[2014-12-13 11:53] ghost opened #172 "basic usage readme misleading or solr is only usefulf or e-commerce"
I want to believe the default schema doesn't have fields specific to ecommerce related attributes, the readme seems to indicate that these are a subset of it though which still somehow just doesn't make any sense to me...

[2014-12-14 02:24] #171 closed, assigned to nobody

[2014-12-14 02:27] #172 closed, assigned to nobody

[2014-12-18 19:07] joshanderton opened #173 "ExtractResponse does not appear to be filling out the Metadata field"
I have run a small test using SolrNet 4.0.2002 to perform an Extract on a document and it does not appear to be populating the Metadata field of the ExtractResponse. ExtractOnly is set to true and I have tried both the XML and Text ExtractFormats.  The metadata is in the XHTML returned but does not get parsed into the Metadata field.

[2014-12-23 10:55] AlexeyKozhemiakin opened #174 "SolrCloud Support"
To support SolrCloud - similar to SolrCloudServer in SolrJ.
This is a top level issue which can be broken down to smaller ones.
- ability to talk to ZK to get current cluster state
- ability to send updates directly to leaders
- ability to load balance requests between replica
- ability to send query directly to correct shard when custom routing is working

[2014-12-31 12:43] AlexeyKozhemiakin opened #175 "Upgrade to modern unit test framework"
(discussion moved from twitter https://twitter.com/AlexKozhemiakin/status/550071605888835584)

MbUnit\Gallio are quite outdated and not supported by modern IDEs, which makes  the process of preparing new contributions rather difficult(annoying). The ultimate goal of this issues - is to facilitate this process in terms of easy test running.

Let's agree on strategy where to migrate. I spent (just)

[2014-12-31 13:02] AlexeyKozhemiakin opened #176 "Clean up public interfaces ISolr*Operations"
At this point there is a (slight) mess in internal interfaces :
ISolrOperations, ISolrBasicOperations both are derived from ISolrReadOnlyOperation which is derived from ISolrBasicReadOnlyOperations

For example I have a an issuw with parametrized Commit method (with CommitOptions options) which exists only for ISolrBasicOperations, not for ISolrOperations.

For sure we can fix just this use case,

[2015-01-01 10:17] AlexeyKozhemiakin commented on #175
+1 to sergey, it's crucial to success of solrnet (and anyother open-source) to be newbie friendly. Currently nuget package is not compatible with 4.x version, and it's really annoying. We have many projects at our company and we result in sharing our own copy of solrnet, but it is not how it should be.

Solrnet right now looks a bit abandoned, we are full of enthusiasm to fix most critical issues

[2015-01-01 10:34] AlexeyKozhemiakin commented on #92
Although there is no much practical difference between constructor and static method (just where to land a snippet of code) here are my thoughts in favor to static factory.

I'm not 100% confident in any of them yet(!), so please share what you think.

1. Startup class is definitely worth renaming to Solrnet at least. Startup makes no sense when reading code. Current Startup deserves [Obsolete] fo

[2015-01-01 10:38] AlexeyKozhemiakin opened #177 "Trailing slash in solrUrl"
I always forget in which format should I specify solrUrl in config, with or without trailing slash - localhost:8983/solr, or localhost:8983/solr/, so do my colleagues admins and devops. We have to trial&error run of app to identify what's right format.

I suggest add a tiny smart enhancement in SolrConnection that will take care of it.

Somewhere here (get & post methods)

[code]

[2015-01-01 10:40] AlexeyKozhemiakin commented on #176
Thanks for pointing out to google-groups, i recalled I asked about that but failed to find where exactly.
I'll get back to this improvement shortly after more important ones.

[2015-01-01 12:32] AlexeyKozhemiakin commented on #175
Majority of such tests resulted in TestCaseSource with reference to datasource array.

   [Test, TestCaseSource("parsedDates")]
        public static void ParseYearsTest(KeyValuePair<string, DateTime> pd)
        {
            Assert.AreEqual(pd.Value, DateTimeFieldParser.ParseDate(pd.Key));
            Assert.AreEqual(pd.Value.Kind, pd.Value.Kind);
        }

A few tests unfortunately were flatte

[2015-01-01 15:11] mausch commented on #175
Just a few hours ago I answered a question on Stackoverflow about [how broken Xunit and the R# test runner is](http://stackoverflow.com/questions/27726058/passing-discriminated-unions-to-inlinedata-attributes).
Just a couple of weeks ago I upgraded to ReSharper 9 at work and couldn't run MSpec tests any more.
I will not make this mistake again as long as I have a say about the matter. This is a wa

[2015-01-01 21:07] sergey-tihon commented on #92
@mausch Do you agree to unlist from NuGet: `SolrNet.Autofac`, `SolrNet.Ninject`, `SolrNet.Unity`, `SolrNet.Windsor`, `SolrNet.StructureMap`, `SolrNet.CommonServices` and release single `SolrNet` package without DI?

[2015-01-03 20:40] sergey-tihon opened #178 "Site for SolrNet"
@mausch Would you like to have auto-generated `SolrNet` site with documentation (integrated into build script)? Similar to the one that [ProjectScaffold](http://fsprojects.github.io/ProjectScaffold/) provides.

[2015-01-04 13:42] mausch commented on #178
I think `doxygen` (the tool currently used to generate offline reference docs for SolrNet) can generate HTML too, so it should be possible to do this with a few changes to the existing FAKE build script.
The problem, however, is that I want to have immediately-browsable documentation per commit (or at least per branch) i.e. I want fully-versioned documentation. The current documentation system in

[2015-01-04 14:22] sergey-tihon commented on #178
Ok

[2015-01-04 14:22] #178 closed

[2015-01-05 14:30] stephenpope commented on #175
I have to be honest here and register my preference here that I don't like running MbUnit .. Gallio and all its crap are a pain in the ass (especially from a clean install) and have actively put me off fixing some things in the past.

Its not about MBUnits functionality or if its is doing the job correctly over (x)Unit but I too like to have my tests running in the IDE with NCrunch/Resharper etc w

[2015-01-06 13:22] AlexeyKozhemiakin commented on #174
Here's a WIP how it may look in the end

var zkHost = "localhost:9983";
            var collectionName = "myconf";
            var num = 1000;

            var solr = new SolrCloudServer2<TestEntity>(zkHost, collectionName);

            solr.Delete(SolrQuery.All);
            solr.Commit();

            // send one by one to test sharding distribution and sending to leaders only
            forea

[2015-01-06 13:24] AlexeyKozhemiakin commented on #174
Development is taking place here https://github.com/Denis-Vlassenko/SolrNet/commits/master, after we will settle down the architecture we'll start beautifying\cleaning up the code and submitting pull requests.

[2015-01-06 15:53] serbrech commented on #174
Great! Would it be easier to follow if you already make a pullrequest and link it to this issue?
How can I help?

[2015-01-07 21:36] binarytox1n opened #179 "No strongname version available via NuGet"
I would like to use SolrNet, but need to use strongly named libraries. Is it possible to release a NuGet package with a signed assembly?

[2015-01-08 09:55] mausch commented on #179
https://www.nuget.org/packages/SolrNet/0.4.0-beta2 is strongly named.

[2015-01-08 09:55] #179 closed

[2015-01-11 22:15] 0xcfff commented on #175
I'm agree that making things easy for newcomers is very important. IDE support for unit test frameworks is one of things that made unit testing popular and it is strange to discard this feature just because of some imperfectness in the test library. I would say that all this thread looks as a holywar around the theoretical aspects rather than around some real problems.
I've looked into test exampl

[2015-01-12 11:27] ny6asik commented on #175
I agree with previous speakers,
It's very important to run the project easily without any outside manipulation (such as annoying work with MbUnit).
So, it will be cool to change current testing framework to another one which will grant all testing features inside IDE without magic

[2015-01-12 11:51] serbrech commented on #175
I'll have to agree as well with the mass here.
I have done minimal contributions to SolrNet in the past, and I remember that the biggest pain in the process was trying to get the Gallio stuff working. The tooling is absolutely terrible, nobody is familiar with it.

You say you got bitten by MSpec recently, but MSpec has its console runner, so that should not really be a problem. Probably the frust

[2015-01-12 12:26] Denis-Vlassenko commented on #175
If I lived in a perfect world, I'd write ideal code from scratch.
My vote for IDE support to stick with defaults.
However, I love functional approach with intuitive DSL and without any magic behind. At the same time plenty of devs are building solutions using ill-designed and outdated libraries not even imagining the better option.

[2015-01-14 18:28] AlexeyKozhemiakin commented on #94
@mausch could you please share your thoughts about this refactoring? Moving code from commands to solrserver will make the file heavy, isnt it?

[2015-01-14 19:19] xavier-morera opened #180 "Documenting SolrNet"
I would like to help build the Documentation for SolrNet for developers. Is this other people are interested in helping as well? Let me explain the background.

I am a .Net developer who created a training on Solr for Pluralsight called [Getting Started with Enterprise Search using Apache Solr](http://www.pluralsight.com/courses/enterprise-search-using-apache-solr) where I show how to get started

[2015-01-14 20:35] AlexeyKozhemiakin commented on #180
hi @xaviermorera , this is hilarious, thanks for volonteering!

Documentation is what solrnet needs a lot at this point, it's currently blocking release of nuget package. Here's what @mausch commented about it https://twitter.com/mausch/status/549914952505765888

So if you could start this effort it would be great.

Also I anticipate some changes to be contributed by us to solrnet in nearest futur

[2015-01-14 21:19] xaviermorera commented on #180
The question I have is does it need to be documented in Github or can it be done in Confluence. Any thoughts?

[2015-01-14 21:33] AlexeyKozhemiakin commented on #180
I'd definitely prefer to keep it here in GitHub wiki pages (github) currently they are here https://github.com/mausch/SolrNet/tree/master/Documentation, but from end-user perspective i'd consider moving them to wiki. @mausch had it's own thoughts about it here https://github.com/mausch/SolrNet/issues/175

[2015-01-14 21:44] AlexeyKozhemiakin commented on #94
Sad thing that without intermediary ICommand it's impossible to unit-test parameter filling.

But frankly speaking usually it's quite straight forward and in most cases can be dropped.

@mausch please have a look at Collections API draft implementation https://gist.github.com/AlexeyKozhemiakin/a2770d502dd1b3c92643

It's using a minimalistic LowLevelSolr which can be shared with all other solr serv

[2015-01-14 21:47] xaviermorera commented on #180
Let's see what @mausch has to say. I would definitively have more time available to work in Confluence.

[2015-01-14 23:05] AlexeyKozhemiakin commented on #174
Here's a WIP commit for Collections API, looks very minimalistic , tested via integration tests against local solr.

https://github.com/Denis-Vlassenko/SolrNet/commit/571e74258033d64cbe9dfb754faa6bd5221a1d2b

[2015-01-14 23:09] AlexeyKozhemiakin commented on #180
And by Confluence you mean external resource, like what for example?

Why do you think it's better than having it all in once place hosted on github ?

[2015-01-15 18:39] xaviermorera commented on #180
I mean in Confluence as in what Apache uses for all its projects, here is whre the Solr Reference Guide lives: https://cwiki.apache.org/confluence/display/solr/Apache+Solr+Reference+Guide

[2015-01-16 01:07] mausch commented on #178
On second thought, it should be possible to generate per-branch docs if the generator script pushes its output to e.g. /master/index.html .
Though I still don't see much benefit over https://github.com/mausch/SolrNet/blob/master/Documentation/README.md . Somewhat prettier navigation maybe? Doesn't seem to be worth it IMHO...

[2015-01-16 01:20] mausch commented on #180
Thanks for the comments everyone. Here are the benefits of the current documentation system and why I chose it when I migrated from code.google.com to github (I also partially explained this in https://github.com/mausch/SolrNet/issues/178 ):

 * Versionable, right along with the code. Github wiki is versionable but not along with the code, it's a separate repository. Github pages is also versionab

[2015-01-19 14:58] xaviermorera commented on #180
@mausch has a very valid point.

[2015-01-20 14:13] AlexeyKozhemiakin commented on #174
@mausch could you please have a look at our WIP branch and share your thoughts?

https://github.com/Denis-Vlassenko/SolrNet/commits/master,

We are on final phase, passed several iterations of archtiecture rewriting, adding more unit\integration tests, polishing. Documentation will follow also soon after we will settle with approach.

[2015-01-20 14:38] AlexeyKozhemiakin commented on #180
@mauch @xaviermorera thanks guys.

in any case it's content that matters, I wouldn't be too far from truth if I would say that having all documentation ready it's a matter of several hours to migrate them to any doc-system.

So if @xaviermorera you still feel enthusiastic about brining more documentation to solrnet - let's do that! I've started a page about solr cloud that will be published shortl

[2015-01-20 15:01] xaviermorera commented on #180
Enthusiastic, yes. Need to finish the current training first. Will come back to this after I am done.

[2015-01-27 16:50] akovacevic opened #182 "NuGet Version out of date"
The version of the dll currently on NuGet contains bugs fixed in later development versions, can you push a new release to NuGet?

[2015-01-27 16:56] mausch commented on #182
Please see https://github.com/mausch/SolrNet/issues/114

[2015-01-27 16:56] #182 closed

[2015-01-30 09:02] maislam commented on #118
Hello is there are any plan to implement this change? can not use date field for stats

[2015-01-30 11:01] mausch commented on #118
@maislam Sure, what do you think about the model I last proposed here? Do you want to try and implement that?

[2015-02-13 13:12] Laoujin opened #184 "NuGet -pre release doesn't work with Solr 4"
StackOverflow quote:
"Please note, in addition to Paige Cook's answer, that **currently (Jan 2015) NuGet doesn't hold the latest version.** Using Install-Package SolrNet -Pre you get an assembly with version number 0.4.0.2002, which is the current number, but there is a more recent version within this version number (tricky!). To fix the problem, use GitHub or SolrNightlyBuilds instead."

http://s

[2015-02-13 13:19] mausch commented on #184
Please see https://github.com/mausch/SolrNet/blob/master/Documentation/README.md#downloads , that'll always be the authoritative source.

[2015-02-13 13:19] #184 closed

[2015-03-18 13:31] xaviermorera commented on #180
Hi. I have finished what I was working on and I can help starting on documenting a bit. In your opinion, what would be a nice place to start? Where do you think the documentation needs a bit of improvement? Or should I just start reviewing and helping little by little from the start?

[2015-03-18 19:08] xaviermorera commented on #174
I have been asked to help on a Solr project where I believe SolrNet is ideal. I proposed SolrNet as the way to go to use Solr instead of manually coding Solr commands and sending to /select and /update. You know what I mean :)

However, I was told that "No SolrNet because it does not support Solrcloud".  So then I see this issue and the reference to https://github.com/Denis-Vlassenko/SolrNet/commi

[2015-03-26 00:06] mausch commented on #169
You're probably using an old build of SolrNet. Update to a recent build and it will probably work or at least it will give you more information about the error.

[2015-03-26 01:05] mausch commented on #180
Thanks @xaviermorera . Just off the top of my head:

Pivot faceting for example is currently undocumented: https://github.com/mausch/SolrNet/blob/master/Documentation/Facets.md#pivot-faceting

Some faceting options, like limit, are not mentioned there.

People keep getting confused about `ExtraParams`: it's usually used as a dictionary, but doesn't have to be (e.g. http://stackoverflow.com/questio

[2015-03-26 01:15] xaviermorera commented on #180
Thanks Mauricio! I started last week on project that uses SolrNet so I will definitively use some of those features which I will document as I go along. I will get started. Thanks!

[2015-03-26 01:38] mausch commented on #174
@xaviermorera I encourage you to try @AlexeyKozhemiakin 's bits and report back here with any feedback. In my opinion OSS development should be as distributed as possible, not everything must go through the maintainer. Also, I think it's best that features be developed by people actually using them, and I don't have a use for this now. I could only offer general advice.
Moving to a different conti

[2015-03-26 03:03] xaviermorera commented on #174
Thanks @mausch I will talk to @AlexeyKozhemiakin on this matter. I indeed have a need and good luck to wherever you are going!  And you are completely right on OSS, just that I wanted to check first here.

[2015-03-27 16:09] AlexeyKozhemiakin commented on #174
Hello @xaviermorera and @mausch . We're running new solrnet with cloud support on several projects for customer and internal ones. We'll create push-request in nearest future, after adoption to solr5 (way of managing cluster state in zookeeper changed dramatically).

@mauch - i've sent you several email, unfortunaly didnt get any reply. In order to commit the changes and bring more users to solrne

[2015-04-02 13:14] Ankita-XIT opened #188 "How to use different solr requesthandlers for different webpages"
I am using solrnet. I have two handler. 1) /Default handler 2) /mysearch handler
1st one is used for few of webpages & 2nd one is used for other webpages.
So, how can I use both of handlers for different webpages?
Please advise me this is possible or not?

[2015-04-29 11:00] ravi032 opened #189 "Does SolrNet support pdf/doc file upload"
Does SolrNet support pdf/doc file upload? If yes, can you please share sample code snippet.

[2015-04-29 11:15] mausch commented on #189
https://groups.google.com/d/msg/solrnet/2_5XF3zVRW8/lFsRSQ1jzOgJ

[2015-04-29 11:15] #189 closed

[2015-04-29 12:49] aniketkhare opened #190 "SolrCloud DataImportHandler Status"
Hi,

I already had written a Task scedular using c# to execute delta import and it is running properly on SolrCloud.
But wanted to check all the SolrCloud core DataImportHandler status for collection name Test (e.g Test_Shard1_Replica1, Test_Shard1_Replica2, Test_Shard2_Replica1, Test_Shard2_Replica1)
Do we have any method in SolrNet which will return the same.
Like http://localhost:8983/solr/Test

[2015-04-30 07:27] ravi032 opened #191 "Need more info about issue 189 raised [abt pdf indexing in solr]"
We had a discussion on google group link https://groups.google.com/d/msg/solrnet/2_5XF3zVRW8/lFsRSQ1jzOgJ about pdf index feature in solr and how solr net works. You provided one example link. But I require more detailed information about what different options I can use with solr net at time of pdf/doc indexing. I have asked my detailed questions in this link. Kindly help.

[2015-05-03 13:28] mausch commented on #188
https://groups.google.com/d/msg/solrnet/ZA-bv9dkh_0/NZSSF0p-U1gJ

[2015-05-03 13:28] #188 closed

[2015-05-03 14:42] #169 closed

[2015-05-03 14:59] mausch commented on #86
Tried again in a docker container with mono:3.12 and got:

[code]

Might be worth trying to upgrade FAKE.

[2015-05-05 10:47] erandr commented on #91
Has Async support added yet?

[2015-05-05 10:50] mausch commented on #91
@erandr This issue is still open, feel free to contribute to the solution.

[2015-05-07 07:12] ravi032 opened #195 "How to pass extra information from solrnet while indexing pdf file"
I have POC code as below where "IndexDocumentClass" is class having properties.

 var solr = ServiceLocator.Current.GetInstance<ISolrOperations<IndexDocumentClass>>();

[code]

Let say I want to pass extra property name file extention with above code as part of class "IndexDocumentClass" property.

Kindly tell me how do I do that.

[2015-05-07 11:33] mausch commented on #195
Have you seen https://github.com/mausch/SolrNet/blob/master/Documentation/Extract.md ? In particular check out the `Fields` property.

[2015-05-07 11:37] mausch commented on #191
Please keep the conversation where it was started. As I mentioned on that thread, if you see a 400 error you need to get the logs.

[2015-05-07 11:37] #191 closed

[2015-05-08 07:03] dbarriop opened #197 "Is SolrCoreAdmin class missing on SolrNet 0.4.0.4001 version?"
Hello,

One partner passed me a project with SolrNet 0.4.0.2002 version. That code used the SolrCoreAdmin class an other classes as CoreResult, etc.

Are they included in the current SolrNet 0.4.0.4001 version? I cannot find it.

Is needed another nuget package?

Thanks

[2015-05-08 08:56] mausch commented on #197
Please see https://groups.google.com/d/msg/solrnet/2XnuMpqStfc/56sK2uZP-lIJ

[2015-05-08 08:56] #197 closed

[2015-05-08 10:01] dbarriop commented on #197
thanks!!!

[2015-05-20 12:09] iandroutledge commented on #110
There's also another issue with a breaking change to do with collations in Solr 5.x.

See "6. The spellcheck response format has changed..." in "Upgrading from Solr 4.x" on http://lucene.apache.org/solr/5_0_0/changes/Changes.html.

I couldn't actually find anything about Solr 5 in SolrNet, so not sure if this should be raised as a separate issue or tackled as part of #110.

[2015-05-20 12:23] mausch commented on #110
See https://github.com/mausch/SolrNet/pull/194

[2015-05-26 18:52] xaviermorera commented on #180
Hi. @mausch. Quick question on pivot facets. I made this change in the documentation, do you believe it is complete for merging or should I elaborate more?

https://github.com/mausch/SolrNet/pull/196/commits

Please let me know and I will work on getting it done right.

[2015-05-29 13:31] wormangel commented on #165
Was this ever merged? I'm facing the same problem here

[2015-05-29 22:01] justinmk commented on #165
No, I'm using this patch in production though.

[2015-05-29 22:04] justinmk commented on #165
Also, given the logic at https://github.com/mausch/SolrNet/blob/6c0022c91b3902dbcebb36d38e280d4f30bed90f/SolrNet/Impl/SolrDocumentSerializer.cs#L59 there's really no good reason not to merge this.

[2015-05-31 13:46] #165 closed

[2015-05-31 13:47] mausch commented on #165
Merged, thanks!

[2015-06-03 08:32] maritaria opened #201 "ISolrBasicReadOnlyOperations.GetDIHStatus has non-nullable parameter"
[code]

Should probably have been

[code]

Because the parameter is plural. Also you cannot pass null to this method with the current signature.

[2015-06-03 09:57] maritaria opened #202 "SolrDIHStatus doesn't support delta queries"
"statusMessages": {
    "Total Requests made to DataSource": "1",
    "Total Rows Fetched": "0",
    "Total Documents Processed": "0",
    "Total Documents Skipped": "0",
    "Delta Dump started": "2015-06-03 09:56:02",
    "Identifying Delta": "2015-06-03 09:56:02",
    "Deltas Obtained": "2015-06-03 09:56:02",
    "Building documents": "2015-06-03 09:56:02",
    "Total Changed Documents": "0",

[2015-06-19 16:39] rodrigopires commented on #108
Anything on this @mausch ? I'm looking for a way to make Atomic (partial) Updates using SolrNet...

I'm trying with "Add" method, mas it either a) duplicate the document (even with uniquekey), b) overwrite the document containing only the fields being updated...

Thanks!

[2015-06-23 10:54] gjunge commented on #91
With .NET 4.6 just around the corner, and the TPL library being here to stay, it might be a good time for Solrnet to giving first class support to the current version of .NET instead of trying to support version 3.5.

At the moment, as I see it, the community wants to push this project forward, trying to add features the community desires, while you just pick the pull-request that don't harm your

[2015-06-24 16:34] mausch commented on #108
@rodrigopires no news about this since that last update. You're welcome to continue working on it :)
That said, you should never get duplicate documents if you have a uniquekey, you might have something incorrectly configured in Solr. Ask on the mailing list.

[2015-06-25 08:26] stephenpope opened #204 "Containers - Add ability to pass Timeout to SolrConnection when container registers its services"
While working on an issue with Unity I discovered that there was no easy way to set the timeout for the SolrConnection at initial registration, might be worth extending the signature (depending on implementation) to accept an optional time out as well as the URL.

[2015-06-25 08:54] mausch commented on #204
Sure, go for it :+1:

[2015-07-10 23:17] digitalpacman opened #205 ""Input string was not in a correct format" when using the stats component and all stats are 0"
I have checked with .4 and older versions that with the new version of Solr it changed the way it reacts to stats properties when the values are all 0.  Before Solr used to return "```<null name=XXXX/>```.

This difference is somewhere between Solr 5 and Solr 5.2

Now Solr returns this:

[code]
When this comes back, with all 0s, SolrNet throws "Input string was not in a correct format".
[code]

[2015-07-13 15:21] digitalpacman commented on #118
I would like to revive this. I am getting this exact error with a numerical field.  However I only have issues if the stats component generates all 0's.

https://github.com/mausch/SolrNet/issues/205

It's the same error, but seems to be a different problem.

[2015-07-13 20:28] mausch commented on #118
@digitalpacman  what do you think about the model I last proposed here? Do you want to try and implement that?

[2015-07-16 12:08] mausch commented on #205
Fixed in https://github.com/mausch/SolrNet/pull/206

[2015-07-16 12:08] #205 closed

[2015-07-28 05:32] louzhenyu opened #207 "Does SolrNet support dataimport handler?"
Dear all,
    I found SolrNet has a branch named as dataimport handler. Why it hasn't been integrated into the master branch? What is the best way to implement dih via SolrNet?

[2015-07-28 08:31] serbrech commented on #207
Hi, I worked on that branch back when I needed this feature.
I think it wasn't merged because nobody else really needed it so far.

[2015-07-29 08:54] a3code opened #209 "SolrNet and Dynamic fields"
How SolrNet is working with Dynamic Data ?
What would be a best practice ?
Should I my class manually ?
Can I describe some attribute with dynamic post-fix ?
[code]

[2015-07-29 11:33] a3code opened #210 "Microsoft.Practices.ServiceLocation"
I am trying to run some basic stuff

[code]

But I am getting error all the time Microsoft.Practices.ServiceLocation presents in my assembly references

*An exception of type 'System.IO.FileLoadException' occurred in SolrNet.dll but was not handled in user code

Additional information: Could not load file or assembly 'Microsoft.Practices.ServiceLocation, Version=1.0.0.0, Culture=neutral, PublicKey

[2015-07-29 11:38] mausch commented on #210
Hi there. As mentioned [in the docs](https://github.com/mausch/SolrNet/blob/master/Documentation/Fluent-API.md#querying) that style of querying is deprecated. See https://github.com/mausch/SolrNet/blob/master/Documentation/Querying.md instead.

About the missing Microsoft.Practices.ServiceLocation.dll, the [SolrNet nuget package](https://www.nuget.org/packages/SolrNet) does reference it as a depen

[2015-07-29 11:39] mausch commented on #209
Check out https://github.com/mausch/SolrNet/blob/master/Documentation/Mapping.md#dictionary-mappings-and-dynamic-fields

[2015-07-29 11:39] #209 closed

[2015-07-29 12:57] mausch commented on #207
Indeed , @serbrech started working on it ( see https://github.com/mausch/SolrNet/pull/48 ), I continued but ran out of time/motivation. I don't use DIH personally.

To be honest it's been quite some time and I don't remember what was missing to merge it. It shouldn't be too hard to rebase it to the current master, then if you're interested figure out what's missing.

Let's continue this on #48 if

[2015-07-29 14:16] a3code commented on #210
I done that you wrote about reinstall package and was't added Microsoft.Practices.ServiceLocation.dll
and I get new error
*Could not load type 'SolrNet.ISolrCoreAdmin' from assembly 'SolrNet, Version=0.4.0.4001, Culture=neutral, PublicKeyToken=null'.*

[2015-07-29 20:14] xaviermorera commented on #210
@a3code as a first step have you tried download the project from Github and compiling? I recommend you do this as a first step when getting started as it helps learning a bit about SolrNet. Why don't you give it a shot?

If the answer is no, I had a similar experience similar to this one on ServiceLocation and it was because another dependency was using a newer version so I had to add an assemblyr

[2015-08-12 13:41] mow opened #211 "Unable to map multivalued and dynamic fields"
With version 0.4.0.4001 (nuget) mapping multivalued and dynamic fields seems not possible. For example following property throws an exception about type;

[code]

But following maps without any problem;

[code]

and object is an "ArrayList" including "int" s.

[2015-08-12 13:53] mausch commented on #211
Could you post the entire stack trace of that exception?

[2015-08-12 14:01] mow commented on #211
thanks for fast response, some details are Turkish, if you need assistance please let me know

exception:
[code]

stack trace:
[code]

[2015-08-12 14:04] mausch commented on #211
It looks like the actual field value is a string instead of a multiValued field. Can you check that in your data?

[2015-08-12 14:06] mow commented on #211
I suspected a similar thing but reindexing (by clearing index) didn't work. Following is the field definition on schema;

[code]

[2015-08-12 14:28] ayca commented on #211
If you have access to solr's admin panel can you try querying a document and post the contents of "attr_" here.

[2015-08-12 14:41] mow commented on #211
Here is the list;

[code]
Seems perfectly okay to me, I am going to try to delete index files and reindex again as we both suspected the data at first glance.

By the way, I don't know the internals of solr.net, does it reads the schema in any way or directly depends on the model for determining types?

[2015-08-12 19:59] digitalpacman opened #212 "SolrNet produces bad query when string matching against Solr Keywords"
So if you put state codes into a property and need to query for "OR" and do `new SolrQueryByField("OriginGeographyKey", "OR")` then it ends up running `OriginGeographyKey:OR OR DestinationGeographyKey:OR`

Version 4 of Solr, this query will execute and give back bad results.
Version 5 of Solr, this query fails saying bad syntax.

[2015-08-12 20:22] mausch commented on #212
What would be the fix for this particular case? Does quoting work? Do parentheses work?

[2015-08-12 20:26] digitalpacman commented on #212
@mausch Wrapping item in quotes works.  It should make sense that wrapping every single text comparison in quotes is the fix.

`SolrQueryByField("OriginGeographyKey", "OR")` should produce `OriginGeographyKey:"OR"`
`SolrQueryByField("OriginGeographyKey", "OR AND THAT")` should produce `OriginGeographyKey:"OR AND THAT"`
A range query should produce `OriginGeographyKey:["OR" TO "AND"]`

[2015-08-12 20:29] xaviermorera commented on #212
That was a fast reply by Mauricio. I was gong to ask to turn on debugquery and use the analysis window to find out how if the StopFilter was affecting the query but oh well I got late to the party.

[2015-08-12 20:31] mhov commented on #212
Not a stop word, OR & AND are protected keywords.  You could make them lower case if your field isn't case sensitive, or force quotes in the SolrQueryByField.

[2015-08-12 20:36] xaviermorera commented on #212
Thanks for clarification

[2015-08-13 00:55] mausch commented on #211
This works for me: https://github.com/mausch/SolrNet/commit/00a82d8618ec2f4f9a16731287affb573f17329b

Try upgrading to the latest version.

[2015-08-13 16:04] digitalpacman commented on #212
Just so everyone knows I ran into this when upgrading. I upgraded our Solr server farm and then made them live, and then these exceptions flooded it.  We didn't catch it because we didn't test Oregon, state code OR.  So now I'm stuck spending resources on building word-escaping wrapped around SolrNet.  If it adds any weight to the cause.

[2015-08-13 16:17] mhov commented on #212
Hey @mausch,  while one could go the route of automatic keyword escaping, I feel like that'll come back to haunt us or cause another edge case down the road.  Currently `SolrQueryByField.Quoted == true` only quotes when special escape characters are present, or not at all if False. I don't believe it can be forced on a string with no special characters.  What if changed `SolrQueryByField.Quoted` t

[2015-08-13 19:10] mausch commented on #212
Yeah, [quoting everything is not desirable](http://stackoverflow.com/questions/19803472/strange-solr-query-with-double-quotes)... I've had that issue before.
I agree about setting this as a flag, however we need to think whether this is orthogonal to escaping special characters or not.
Also, does anyone know exactly what keywords are reserved in this context?

[2015-08-13 19:19] mhov commented on #212
At least OR, NOT, AND (upper case only)

[2015-08-14 18:35] digitalpacman commented on #212
So this issue is getting worse. The way SolrNet escapes special characters prevents me from fixing this problem.  If I do `new LocalParams { { "tag", "OriginGeographyKey" } } + new SolrQueryByField("OriginGeographyKey", "OR")` then I get an exception.  If I do `new LocalParams { { "tag", "OriginGeographyKey" } } + new SolrQueryByField("OriginGeographyKey", "\"OR\"")` then it escapes the quotes and

[2015-08-14 19:43] digitalpacman commented on #212
My current solution is:

public class WrappedQueryByField : SolrQueryByField
        {
            public WrappedQueryByField(string fieldName, string fieldValue)
                : base(fieldName, "\"" + fieldValue + "\"")
            {
                Quoted = false;
            }
        }

[2015-08-14 20:06] digitalpacman commented on #212
I had posted a nice solution for my problem but had to delete it because SolrNet doesn't use IsAssignableFrom in it's type comparison for serialization.  Which means it doesn't support inheritance, so I'm just moving towards helper methods again.

[2015-08-18 10:59] mow commented on #211
currently problem resolved via deleting index files. I have no idea what was wrong, thank you very much

[2015-08-18 10:59] #211 closed

[2015-09-04 19:49] stanuku commented on #212
I had a similar issue yesterday. I'm developing a search feature in ASP.NET MVC and got stuck with the Oregon OR problem. I was using the SolrQueryInList query for checking my StateFiled to be in a list of states from a multi-select box on the UI.
My solution to the problem was to add the bool Quote property on the SolrQueryInList, similar to the one available in SolrQueryByField. After adding tha

[2015-09-04 19:51] digitalpacman commented on #212
@stanuku This is the exact same approach I took. Quoted = false, and then quote it myself.  I don't understand why solrnet doesn't do this by default.  It's using the word "Quoted" to mean "Escaped". If you wrap your values in quotes, they're already all default escaped. "-" and "[" in a quoted string mean literally "-" and "[".

[2015-09-04 19:58] stanuku commented on #212
'Quoted' is a bad choice for the Property name, it should've been named 'Escaped' or such.
and only SolrQueryByField has the ability currently.

[2015-09-04 20:06] stanuku commented on #212
Seems like #185 was already created and has an open Pull request.

[2015-09-07 13:16] mausch commented on #212
@stanuku #185 is specific for queries with a list of values (SolrQueryInList).

I agree about `Quoted` being kind of misleading now, but IIRC it started as a method that only applied quotes to query values as needed.

[2015-09-08 13:17] stanuku commented on #212
@mausch: First of all, thank you for the wonderful library. Secondly, yes, my situation is similar to #185 and my local fix was exactly the same as the once stated in #185. Are you planning to merge that fix?

[2015-09-11 19:43] stanuku commented on #91
I agree with gjunge's latest comment.

@mausch could you please reply? thanks

[2015-09-22 13:56] DarrenJohn commented on #174
Pardon the interruption...
What is the status of this SolrCloud Support effort?

We have been running on SolrNet for a couple of years now, and are getting to the point where we need to distribute the load.  I haven't seen much development in 8 months, and was hoping to incorporate this effort.

Thanks in advance,

[2015-09-23 18:18] AlexeyKozhemiakin commented on #174
Hi @DarrenJohn, most effort was incorporated back to solrnet master branch. Let me come back to you on Monday with detailed instructions how to use it.

[2015-09-25 17:31] mhov opened #213 "Constructing StartOrCursor.Cursor"
Is there a practical reason the StartOrCursor.Cursor has an ```internal``` constructor?  I have a case where I'm exposing solr results through a rest api.  I'd like to be able to return the next cursor and let the user send it back to me for the next page to do something like:
[code]
but currently the only way to ```queryOptions.StartOrCursor``` is from a previous ```queryResult.NextCursorMark```

[2015-09-28 09:55] dkrupnou commented on #174
Hi @DarrenJohn,
I'm @AlexeyKozhemiakin's subordinate and I'll help you with SolrCloud.

First of all, if you need to add SolrCloud support to your application, you have to fetch our pull request into your fork of @mausch SolrNet repository. Here the link to [cloud's pull request](https://github.com/mausch/SolrNet/pull/187). Branch name is "dkupnou/cloud" and heading of this pull request is "Solr c

[2015-09-28 11:53] poonaminfor opened #214 "Output xml in not well formed"
HI,
         i am trying make solr request ,i am getting result with style tags and all(HTML format).I don want result in this format.I want is simple XML or json like below:
{"responseHeader":{"status":0,"QTime":0,"params":{"q":"_:_","wt":"json"}},"response":{"numFound":1,"start":0,"maxScore":1.0,"docs":[{"solid":"45","_version_":1513537590450454528,"score":1.0}]},"facet_counts":{"facet_queries":

[2015-09-28 12:29] mausch commented on #214
Hi,

If you mean you want the raw XML response instead of .NET SolrNet objects, have a look at this blogpost: http://bugsquash.blogspot.co.uk/2010/03/low-level-solrnet.html

Cheers

[2015-09-29 07:47] riverstore commented on #195
Can anyone please give more help on this. I read that document but really don't know how to do. I want to pass Id, tags and some more basic info.

Anyone please help. Thanks a lot.

[2015-09-29 09:11] mausch commented on #195
@riverstore use the `Fields` property.

[2015-09-29 15:57] riverstore commented on #195
Thanks @mausch. Did you mean it like this?

                var response = solr.Extract(new ExtractParameters(file, "solr-word.pdf")
                {
                    ExtractOnly = true,
                    ExtractFormat = ExtractFormat.Text,
                    Fields = new[] { new ExtractField("field1", "value1"), new ExtractField("field2", "value2") }
                });

[2015-09-29 16:00] mausch commented on #195
@riverstore  yes

[2015-09-30 01:40] mausch commented on #213
It was to prevent invalid values (the constructor was only used when parsing the response).
But yeah, you're right, I just made it public.

Cheers

[2015-09-30 01:40] #213 closed

[2015-10-08 09:50] poonaminfor opened #216 "issue with query method in Samplesolrapp"
Hi ,
          i tried sample provided,but getting issue when i make query request.
 var matchingProducts = solr.Query(BuildQuery(parameters),
                    new QueryOptions
                    {
                        FilterQueries = BuildFilterQueries(parameters),
                        Rows = parameters.PageSize,
                        Start = start,
                        OrderBy = G

[2015-10-11 07:48] gopala00 opened #217 "SolrNet.Autofac.0.5.0-alpha2 Nuget install failed"
I'm using AutoFac 3.5.2. When I installed SolrNet.Autofac.0.5.0-alpha2 Nuget package I get the error:
Install-Package : Unable to find a version of 'Autofac' that is compatible with 'SolrNet.Autofac 0.5.0-alpha2 constraint: Autofac (= 2.6.3.862)

I tried adding the following to app.config, but still cannot work around.

[code]

Appreciate if anyone suggest a work around.

[2015-10-12 08:54] mausch commented on #216
It seems you're pointing SolrNet to an incorrect Solr URL. When you enter a query through the web admin UI it will show you the underlying query URL (which is not the same URL you see in your browser)

[2015-11-09 03:25] qiankunpig opened #219 "How to Equal Query by SolrNet?"
Excuse me， My Solr inside a field called Title use the text_ik word segmentation is now the default is fuzzy query I now want to use similar and Equal query way how to achieve?

[2015-11-09 09:53] mausch commented on #219
Sorry, I can't understand the question.

[2015-11-09 18:05] mhov commented on #219
I think i get the question, if you want EXACT matches (including capitalization) you should try the field type "string" instead of "text_ik".

ex. schema.xml
```<field name="[fieldname]" type="string" indexed="true" />```

[2015-11-12 18:53] mausch commented on #219
@qiankunpig did the previous comment solve your problem?

[2015-11-13 15:32] leovin opened #220 "commonservicelocator == 1.0 dependency"
Could you please change it to to >1.0 ?

[2015-11-13 15:36] xaviermorera commented on #220
I had that problem too and what I did was an assembly binding redirect. That did the trick.

[2015-11-13 17:33] leovin commented on #220
should help, thank you!

[2015-11-15 18:17] mausch commented on #217
I don't know what kind of breaking changes there are between 2.6.3 and 3.5.2. If you're interested in upgrading this dependency could you please send a pull request?

[2015-11-15 18:17] mausch commented on #214
@poonaminfor did the previous comment solve your issue?

[2015-11-16 12:27] #220 closed

[2015-12-01 19:41] maggon commented on #174
Hi @AlexeyKozhemiakin @mausch - any idea on when this can be merged into the master?

[2015-12-11 10:11] kowy commented on #91
I also agree with gjunge opinion. SolrNet is a great project, but we should move forward and and async/await is really useful feature.

[2015-12-14 16:00] es-repo opened #221 "Async query requests"
Hi, are there async query requests in plans?

[2015-12-24 13:27] ErezSavir commented on #122
Is there a solution for this? I'm also stuck :(

[2015-12-30 15:17] toyokazu8008 opened #222 "Open"

[2015-12-30 15:17] toyokazu8008 opened #223 "Open"
おーる

[2015-12-30 15:32] mausch commented on #223
?

[2015-12-30 15:33] #222 closed

[2015-12-31 02:47] louzhenyu commented on #219
you can try q=Title:"a title", double quotation marks will let solr search exact Title which equals "a title"

[2016-01-03 17:22] #219 closed

[2016-01-03 23:31] mausch commented on #122
Here's one way:

[code]

you might be able to simplify this with kernel events, but the real problem here is using an IoC container in the first place. I recommend getting rid of IoC containers as soon as possible.

[2016-01-04 07:17] ErezSavir commented on #122
Great. Thank you very much.

[2016-01-06 16:54] whittssg opened #224 "PivotFields no longer working"
I just updated to the latest version via nuget and now 'PivotFields' could not be found:

Sample code:

[code]

Thanks,

[2016-01-06 17:10] mausch commented on #224
Weird, I haven't changed the [serializer](https://github.com/mausch/SolrNet/blob/master/SolrNet/Impl/FacetQuerySerializers/SolrFacetPivotQuerySerializer.cs) or the [response parser](https://github.com/mausch/SolrNet/blob/master/SolrNet/Impl/ResponseParsers/FacetsResponseParser.cs) since 2013... what version of SolrNet were you running before? And what's your Solr version?

[2016-01-06 17:13] mausch commented on #224
Also can you compare your Solr XML output with the response we're testing against? https://github.com/mausch/SolrNet/blob/8a393343dec31e5116e02f19f480b5f820bcaa12/SolrNet.Tests/Resources/responseWithFacetPivoting.xml

[2016-01-06 17:13] #223 closed

[2016-01-06 17:31] whittssg commented on #224
I was previously on build 0.4.0.2002. After upgrading via Nuget i am now on 0.4.0.4001. I cannot get the response since i can longer build: The type or namespace name 'PivotFields' could not be found (are you missing a using directive or an assembly reference?

Everything else seems to be recognized by visual studio. Thanks

[2016-01-06 17:37] mausch commented on #224
Ah, I thought it was failing at runtime.

You were probably using a nightly build and the version number is not entirely accurate.
Please use https://www.nuget.org/packages/SolrNet/0.5.0-alpha2 instead.

[2016-01-06 17:56] whittssg commented on #224
Yeh it works fine on the latest alpha.. Is that stable enough to run in prod? Thanks

[2016-01-06 17:56] mausch commented on #224
Yes it is.

[2016-01-06 17:56] #224 closed

[2016-01-06 18:20] whittssg commented on #224
cool thanks

[2016-01-08 02:50] willduarte opened #225 "non-collection properties (string, decimal, etc) are created on solr as collection typeswith Attribute mapping"
Hi, i'm having some problems with Attribute Mapping.

My scenario is:

* Solr 5.2.1 hosted on ubuntu machine
* Project ASP.NET MVC

Following the [documentation example](https://github.com/mausch/SolrNet/blob/master/Documentation/Mapping.md#attributes-default), i created the model and insert test data.

[code]
and the document are created as:

[code]

That causing problems when retrieve the data.

[2016-01-08 14:51] mausch commented on #225
Looks like a mapping mismatch. Can you post the full stack trace and your schema.xml?

[2016-01-08 16:10] willduarte commented on #225
I followed this tutorial to install Solr ([link](https://www.digitalocean.com/community/tutorials/how-to-install-solr-5-2-1-on-ubuntu-14-04)).

And I think I created the collection as "schemaless".

[code]

Full stack trace:

[code]

So I need to create my collection with this XML to configure my fields?

thanks

[2016-01-08 16:17] mausch commented on #225
I've never used `data_driven_schema_configs` but it seems that it creates multiValued fields, which means that when you query them you get arrays which means that you'll have to map these fields as collections in your .NET code.

I strongly recommend defining your own schema instead.

[2016-01-10 18:06] #216 closed

[2016-01-10 18:07] mausch commented on #221
Please see https://github.com/mausch/SolrNet/issues/91

[2016-01-10 18:07] #221 closed

[2016-01-11 03:03] willduarte commented on #225
I tried to create the collection with "basic configs" but I think I did something wrong ([my schema.xml sample](https://gist.github.com/willduarte/b6144a4282e3a0879669)), you can have some example of "schema.xml"?

[code]

The **schema.xml** location is "/var/solr/data/products/conf/schema.xml"

Thanks

[2016-01-11 12:06] mausch commented on #225
There's a sample app in this repo: https://github.com/mausch/SolrNet/tree/master/SampleSolrApp
And here's the schema.xml it uses: https://github.com/mausch/SolrNet/blob/master/solr/solr/conf/schema.xml

[2016-01-14 00:33] willduarte commented on #225
Thanks for the help, I studied a little about the SORL settings and solved the problem.

To help others who may have the same problem ...

I'm using Solr 5.2.1 installed on ubuntu and SOLR_HOME was in "/var/solr/data". (follow the tutorial [link](https://www.digitalocean.com/community/tutorials/how-to-install-solr-5-2-1-on-ubuntu-14-04))

I created the collection with the command:

[code]

A direc

[2016-01-14 18:31] #225 closed

[2016-01-27 14:24] Mykezero commented on #217
Autofac is using DNX targeting the .Net framework 4.5. Would there be any problems if AutofacContrib projects are upgraded to use this version of the framework? I know the Autofac nuget package will install under that version of the framework.

Also, what do you use to run the tests for this project? I can't seem to find how to run them.

[2016-02-03 23:59] o1webdawg commented on #122
If it is not appropriate to ask questions here, then I apologize.  We're also using the Windsor method to switch between cores for various storefronts using this search service.  I was going to follow the example to add logging, but can you clarify what you meant by "the real problem here is using an IoC container in the first place".  Are you saying you recommend not using Windsor Containers for

[2016-02-12 01:31] ksivanandan opened #227 "SolrNet, MVC, Sitecore"
Hello

I am new to Sitecore,SoleNet. I have installed and configured Solr to work with Sitecore and I am able to see results.
I am now using code.

I added the connection string to UnityMVCActivator.cs in the Start()
`Startup.Init<SearchResultsViewModel>("http://localhost:8983/solr/sitecore_web_index");`

In my controller - Actionresults Index()
`var solr = ServiceLocator.Current.GetInstance<ISolr

[2016-02-12 03:20] xaviermorera commented on #227
I may be reading your code wrong or something might be missing from the post but you are not passing the type:

In my controller - Actionresults Index()

`var solr = ServiceLocator.Current.GetInstance<[you are missing this part]>();`

When using generics you need to specify the type. I thinks this part would not even compile because of the .GetInstance>() being incomplete.

[2016-02-12 10:08] mausch commented on #227
As Xavier noted, you have to be careful when posting code on github issues, it will swallow `<` characters by default unless you mark the snippet as preformatted text.

[2016-02-12 10:10] mausch commented on #227
I think the problem here is that you're registering SolrNet in the built-in IoC container but then you're resolving it from Unity.

Either register `ISolrOperations<SearchResultsViewModel>` in Unity resolving it from the built-in container or use the Unity integration.

[2016-02-12 14:57] ksivanandan commented on #227
Thank you both so much for your quick response. I will try and see how I can get this working and will let you know. The Sample Application is really very helpful.

From: Mauricio Scheffer [mailto:notifications@github.com]
Sent: Friday, February 12, 2016 5:10 AM
To: mausch/SolrNet <SolrNet@noreply.github.com>
Cc: Kalpana Sivanandan <ksivanandan@portalsolutions.net>
Subject: Re: [SolrNet] SolrNet,

[2016-02-12 17:34] ksivanandan commented on #227
Hello

I need some help please to set this up.

I have my unityConfig.cs which has code

Container
private static Lazy<IUnityContainer> container = new Lazy<IUnityContainer>(() =>
        {
            var container = new UnityContainer();
            RegisterTypes(container);
            return container;
        });

RegisterType
container.RegisterType<INewsReader, NewsReader>();

Not sure how t

[2016-02-15 21:51] ksivanandan commented on #227
Hello

I got this to work!

var solrServers = new SolrServers {
                new SolrServerElement {
                    Id = "solr",
                    Url = "http://localhost:8983/solr/sitecore_web_index",
                    DocumentType = typeof (SearchResultsViewModel).AssemblyQualifiedName,

                }
            };

            (new SolrNetContainerConfiguration()).ConfigureCont

[2016-02-15 21:51] #227 closed

[2016-02-16 11:23] himanshu0a opened #228 "DataImportHandle Implementation in SolrNet 5.0"
Hi,

We are using Solr version 5.4.1 and SolrNet version 5.0 and we are stuck in an issue.

We want to use the schemaless approach for our project.
Earlier we used put our query in the data-config file and call the appropriate handle but now we are trying to configure it using the SolrNet and this is where we are stuck.
Can you please provide the solution as if how can we configure this data-confi

[2016-02-16 17:49] mausch commented on #228
Just to be sure I understand, you're trying to move away from DataImportHandler into an implementation that loads data into Solr using a process written with SolrNet?
If the problem is with schemaless, have you seen https://github.com/mausch/SolrNet/blob/master/Documentation/Mapping.md#fully-loose-mapping ?

[2016-02-16 21:27] ksivanandan opened #229 "SampleSolrApp FreeSearch field is not getting values"
Hello

I am trying to use the SampleSolrApp to help me with my POC.
Here is my code
@model Niddk.Model.ProductView

@using (Html.BeginForm(FormMethod.Get))
{
    @Html.TextBox("q", Model.Search.FreeSearch)

    <input type="submit" value="Search" />
}

What I enter on the textbox is not getting passed over to the FreeSearch. It is always null.

Thanks much
Kalpana

[2016-02-16 21:29] #229 closed

[2016-02-18 01:35] digitalpacman commented on #118
@mausch Sorry this got lost in my inbox.  Do you mean you're asking me to submit a pull request?  This is an internal serialization problem.   I can download the source and recompile it with your changes and test it?  My issue was the serializer isn't handling the null formats, NaN's, etc.

[2016-02-18 08:29] himanshu0a commented on #228
Yes I got this one around and it helped Thanks.

[2016-02-18 19:15] digitalpacman commented on #118
@mausch Current nuget package is still broken.

However, the current build of the source has it fixed.

[2016-02-18 20:48] mausch commented on #205
@digitalpacman  this should be fixed in https://www.nuget.org/packages/SolrNet/0.5.0-alpha2

[2016-02-18 20:49] mausch commented on #118
@digitalpacman let's continue the discussion about your issue in #205 then.

[2016-02-18 21:00] digitalpacman commented on #205
Fixed in alpha2. Awesome! We're going to switch our nuget to that.

[2016-02-21 11:16] #228 closed

[2016-02-24 08:48] thehudi opened #230 "No strong name for 0.5.0-alpha2"
The [NuGet Package](https://www.nuget.org/packages/SolrNet/0.5.0-alpha2) does not have a strong name and cannot be used in applications which want to used signed assemblies.

[2016-02-24 11:22] perzzon commented on #174
Hi! Also curious about this...

[2016-02-24 19:37] ksivanandan opened #231 "How to retrieve Url of the sitecore item from Solr"
Hello

Can anyone help me with indexing and retrieving item url for sitecore? I am looking for steps involved.

Thanks
Kalpana

[2016-02-24 20:54] mausch commented on #231
Try asking on the Sitecore forums https://community.sitecore.net/

[2016-02-24 20:54] #231 closed

[2016-03-06 03:34] dipunm opened #232 "Supporting custom handlers"
In our project, we had two different handlers for one core: one for search, the other optimised for autocomplete. With the Autofac IoC setup, we were unable to configure the handler, so I added a way to configure a custom handler. Please let me know if I need to do anything to complete this pull request!

PR: #218

[2016-03-08 16:08] gquaire commented on #174
Hi.
Do you have more information abot the merge into the master branch?
 I am very interesting about this feature too.

Thank you.

[2016-03-08 16:17] JeffPalmier commented on #174
Hi,
I have seen that it just need to be merged into the master branch. Sounds good.

Do you jnow when it could be merged ? I am really interested about the SolrCloud Support.

Thanks

[2016-03-08 16:20] mausch commented on #174
@gquaire @JeffPalmier @perzzon @maggon have you tried this code? I haven't needed SolrCloud myself yet so I was looking for feedback from other users. Cheers.

[2016-03-08 16:23] JeffPalmier commented on #174
Thank you @mausch. I will try the code and give you some feedback about it.

[2016-03-08 16:27] gquaire commented on #174
Hi @mausch, We have not tried the code yet . But, we will do it. We will keep you updated.

Thanks for your reply.

[2016-03-29 05:28] PeterSawyer commented on #92
Any chance we can fix this.  The dependency CommonServiceLocator (= 1.0.0) is most annoying.  I have gone back to 0.3.1 for the time being.

[2016-04-07 17:21] JDSBCC opened #234 "AbstractMethodError"
Hi,

I already add

`<lib dir="../../../contrib/extraction/lib" regex=".*\.jar" />
<lib dir="../../../dist/" regex="solr-cell-\d.*\.jar" />`

and

`<requestHandler name="/update/extract"
                  startup="lazy"
                  class="solr.extraction.ExtractingRequestHandler" >
		<lst name="defaults">
			<str name="lowernames">true</str>
			<str name="uprefix">ignored_</str>
			<str name

[2016-04-08 12:04] mausch commented on #234
Hi, this project is about a .NET client for Solr. Your issue is about the Solr server. Please post it to the Solr mailing list http://lucene.apache.org/solr/resources.html#community

[2016-04-08 12:04] #234 closed

[2016-04-08 12:22] JDSBCC commented on #234
I think I didnt explain me well xD
Im building a project using solrnet and when I try to extract data from a pdf I got the error showed before.

Here is my code:

[code]

[2016-04-12 12:11] mausch commented on #234
Hi, that still seems to be an issue with your Solr instance and not with SolrNet. The error message seems to indicate that the extraction/Tika JARs are not correctly installed. Please post this to a Solr mailing list.
Also last I checked there was an issue with content-type detection so you might want to try setting an explicit content-type in your SolrNet call.

[2016-04-12 13:12] JDSBCC commented on #234
Thank you, it works. Yes, it was a bad installation of JARS. I had them in duplicate (just different versions) and solr was not working well with it. And sorry for posting in the wrong place =)

[2016-04-20 15:34] ksivanandan opened #235 "Multiple Cores for Unity"
Hello

This is more a question: I saw this page with examples for Multiple Core https://github.com/mausch/SolrNet/blob/master/Documentation/Multi-core-instance.md but I did not see one for Unity and how it can be used.

Any help is greatly appreciated.

Currently this is what I have:

 private static Lazy<IUnityContainer> container = new Lazy<IUnityContainer>(() =>
        {
            string url

[2016-04-22 21:16] storment opened #236 "Issue With fq="
Hi,
I was running SolrNet 0.4.0.2002 but had to restore my nuget packages.  This is no longer available so I was upgraded to 0.4.0.4001. My issue is that the fq part of my generated command has changed from fq=parameter: (1 OR 2)
to
fq=(parameter: 1 OR 2)
This breaks the search and means only items 1 are returned.  Is there a way to get 0.4.0.2002 back on Nuget?
Thanks

[2016-04-24 17:44] mausch commented on #236
Can you post the code you're using to generate this filter query?

[2016-04-25 10:39] storment commented on #236
Sure,
  The code is below and mediatypefq = "1 OR 2 OR 5".
[code]

I updated to 0.5.0-alpha2 and it started working as expected again. I just had to change
```Start = startResult```
to
```StartOrCursor = new StartOrCursor.Start(startResult)```
to remove the deprecated warnings although it still worked without that change.

[2016-04-25 10:40] mausch commented on #236
Cool, so it's working fine on 0.5.0-alpha2 then?

[2016-04-25 10:42] storment commented on #236
Yes perfectly thanks. Hopefully if anyone else has this issue they will see this thread and make the upgrade as well.

[2016-04-25 10:42] #236 closed

[2016-04-27 09:48] c-uhland opened #237 "AbstractSolrQueryResults does not contain result start attribute"
In the `ResultsResponseParser.Parse()` the NumFound is set for the `AbstractSolrQueryResults` but not the start information.
`<result name="response" numFound="103" start="30">`

This is important, because the https://cwiki.apache.org/confluence/display/solr/Pagination+of+Results  and the `StartOrCursor` implementation in SolrNet only works for queries with  _a sort containing a uniqueKey field ti

[2016-04-27 12:03] thehudi commented on #237
Created Pull Request #239

[2016-04-28 13:27] lvanderbijl commented on #217
Hi All,

I was able to download and upgrade the project to the latest autofac version though I too had to upgrade to .net 4.5.

I also struggled to get mbunit to work so converted the tests to mstest and found all the tests passed succesfully.

I didn't want to submit a pull request since I had to upgrade the .net version and create a new mstest project.

But it does seem to work without trouble.

[2016-05-16 22:14] shivendra31 commented on #174
Hi,
I am trying to integrate SolrCloud to my asp.net application. How to integrate and we need to integrate it. Can anyone help me please.
I am new with solr technology.

Thanks

[2016-05-17 07:10] richetdan commented on #174
Which solution are suitable in order to use solrcloud with solrnet?

- Making direct solr REST Http request using Zookepeer.Net to ask for availables nodes and manually make something like a round robin?
- Using some stuff which support zookeper.net as external proxy/load balancer?
- evaluate the use of Elasticsearch instead of Solrcloud?
- Try to use the fork suggested ? (I tried with little luck

[2016-05-17 08:56] dkrupnou commented on #174
@shivendra31 @richetdan
Hi guys,
We're using this SolrCloud implementation in production and it seems okay.

Did you have a chance to read and follow [basic cloud usage] (https://github.com/dkrupnou/SolrNet/blob/cloud/Documentation/Basic-usage-cloud.md)?

In case of any question please feel free to ask me.
Thank you.

[2016-05-17 09:51] richetdan commented on #174
Thank you @dkrupnou,
do you mean this implementation? https://github.com/vladen/SolrNet

I've tried, downloaded the inline sourcecode, compiled, referenced into my test project those libraries:
- SolrNet
- SolrNet.Cloud
- SolrNet.Unity
- SolrNet.Cloud.Unity

SolrCollectionsAdmin works but I can't get an instance of ISolrOperations in order to do queries because the line
[code]
throws error.

I am

[2016-05-17 10:27] dkrupnou commented on #174
@richetdan
here is the latest version https://github.com/mausch/SolrNet/pull/187.

Also, ensure that "Startup" is used from SolrNet.Cloud instead of SolrNet project, for now both of these projects have the same name for startup class and it could be confusing.

[2016-05-17 10:31] richetdan commented on #174
Thank you.
I will try version 187 ASAP, however I am sure to call "Startup" method from SolrNet.Cloud namespace.

[2016-05-17 10:33] dkrupnou commented on #174
It would be great if you could post the exception with stack trace to investigate

[2016-05-17 12:39] richetdan commented on #174
Ok guys, thank you so much for helping!
with the version suggested by @dkrupnou it works.... but it works on first attempt, the second one cause a crash on the primary node of the cluster . Maybe the reason is I have done "Startup" 2 times, however seems quiet unstable to adopt this solution on a critical production environement.

[2016-05-17 12:45] dkrupnou commented on #174
@richetdan
Please look at @mauch initialization document - https://github.com/mausch/SolrNet/blob/master/Documentation/Initialization.md, Startup should be called once at application startup, next Startup calls will be failed. The same situation is here

[2016-05-17 12:49] richetdan commented on #174
I've placed Startup on global.asax, but this not changed.
However the greatest problem is not the error on the client side but is the crash of the solr server!

[2016-05-17 12:52] dkrupnou commented on #174
Could you share solr server logs please?

[2016-05-17 13:16] richetdan commented on #174
There are no entry related the last 2 hours in the solr.log.
However:

http://pastebin.com/iGpm03GN

[2016-05-17 13:26] dkrupnou commented on #174
Actually, I can't see any exceptions in your log file which led to crash your solr server as you mentioned before. What kind of crash did you mean?

[2016-05-17 13:32] richetdan commented on #174
I mean I've got a SolrConnectionException on the client side when executing the Query.ALL and the leader server node result "gone"

[2016-05-17 13:35] xaviermorera commented on #174
I am working on a project with SolrNet + SolrCloud. We are only allowed to use mausch's and no forks so here is what we did:
- At index time, we make a call to clusterstate.json and using Json.Net I parse and extract the leader so I submit all updates to that node.
- And then we have a load balancer in front of the cluster, so calls are distributed evenly.

It works without too much hassle.

[2016-05-17 14:03] richetdan commented on #174
thank you very much xaviermorera, now I am gonna test elasticsearch which has native .net client and then I will choose between your solution and elastic.

Which kind of loadbalancer are you using?

Thank you very much for all contributions from all users

[2016-05-17 16:34] richetdan commented on #174
Ok, guys, the fork it works, I think it was just a memory problem (running default settings on server).
It is still not clear beacause there wasn't any OutOfMemoryException.

However, brutally killing one of the solr node's process cause problem on solrnet.cloud client routing (some requests continue to be forwarded on dead node).

[2016-05-18 18:44] shivendra31 commented on #174
Thank you  @dkrupnou
I have downloaded source code from this location: https://github.com/vladen/SolrNet but it have lot of directories so, please guide me which directory useful for me as I am trying to implement in asp.net application.
I have installed Solr-5.3.1 on two machine and Zookeeper-3.4.8 on single machine, created a collection and two shards.
Please let me know what I have needed and w

[2016-05-19 09:53] richetdan commented on #174
Hello @Shivendra, I can only suggest to adopt the @xaviermorera 's solution with external loadbalancer or adopting java on the client side or change the server side system. Solrnet does not support solrcloud, the fork that has been mentioned is very unstable and buggy. Considering that the last pullrequest to the original project was made more than a year ago, I would not do much reliance on the f

[2016-05-19 14:02] xaviermorera commented on #174
@richetdan it is hardware load balancer.

[2016-05-26 16:58] sirea07 commented on #174
@mausch Could you tell us please what is necessary for you to merge this fork? I would like to use SolrNet in a large project with installations around the world and therefore SolrCloud is kind of crucial to us. Thanks.

[2016-05-30 08:43] shivendra31 commented on #174
Hello @richetdan and @xaviermorera , Is it possible to implement SolrCloud for .net client without hardware load balancer.
If it is possible, please suggest
Thanks!

[2016-05-30 08:47] dkrupnou commented on #174
@shivendra31, this fork already has this feature, to loadbalance using code instead of specific hardware

[2016-05-30 08:55] shivendra31 commented on #174
@dkrupnou thanks for such a quick reply. Can you please provide me link of right fork.

[2016-05-31 10:44] brijesh27 opened #240 "Solr instance auto restarting in solr cloud mode"
Hi,

I am running solr cloud with 6 solr instances having version solr5.2.1  and 3 zookeeper (3.4.7)

I have 2 questions regarding solr cloud :

1. How can i run solr cloud on port 80 smooothly, i have tried to run it but when i restart it gives me some exception , after doing some work  i found that " ps aux | grep solr"  its showing me the - -DSTOP.PORT= -920 , -920 port is nothing actually it w

[2016-05-31 11:39] mausch commented on #240
Hi, this doesn't seem to be related to SolrNet, or is it?

[2016-05-31 11:55] dkrupnou commented on #174
@shivendra31 here is the [link](https://github.com/mausch/SolrNet/pull/187) to active SolrCloud Pull Request . And [here](https://github.com/dkrupnou/SolrNet) you can find right fork, branch name is "cloud".

By the way, at this moment this implementation has simple replicas load balancer based on random node index generation. If it's not enough, we can extend this solution with RoundRobin balance

[2016-05-31 12:33] brijesh27 commented on #240
Agree with you , posted in the wrong topic

[2016-06-01 06:52] shivendra31 commented on #174
@dkrupnou I have downloaded fork and build it and added dlls into my application but not get instance of zookeeper.
Startup.Init<Product>(new SolrCloudStateProvider("127.0.0.1:2181"), collectionNames, true);

throws error.
The type initializer for 'ZooKeeperNet.ZooKeeper' threw an exception.

[2016-06-01 08:22] dkrupnou commented on #174
@shivendra31 please ensure that external zookeeper is started and running on port 2181. If you are using internal zookeeper which is embedded into solr, please change the port number (default port is 9983).

[2016-06-01 12:27] shivendra31 commented on #174
Hello @dkrupnou,

 What is "/clusterstate.json" in SolrCloudStateProvider class. Is it need to change following variables?. Because ran into issue on line
state = GetInternalCollectionsState().Merge(GetExternalCollectionsState());

throws error.
The request /clusterstate.json timed out while waiting for a resposne from the server.

   public const string ClusterState = "/clusterstate.json";

[2016-06-01 14:20] dkrupnou commented on #174
@shivendra31

The cluster state variable is used for supporting old version of solr (< 5.0), when all collections information was stored in a single clusterstate file. Since 5.0 version of solr, each collection has it's own state, which is called state.json. This code tries to get all possible states and merge them.

According to the exception, I can see only two possible reasons of it, first - yo

[2016-06-03 05:58] #240 closed

[2016-06-04 07:33] shivendra31 commented on #174
Thanks @dkrupnou

SolrCollectionsAdmin works and Startup is used from SolrNet.Cloud also working showing zookeeper connected: Is following line is correct?
 Startup.Init<Product>(new SolrCloudStateProvider(zookeeperConnectionString), collectionName);

But, I can't get an instance of ISolrOperations in order to do queries because the line. using ISolrOperations from SolrNet.Cloud.
var solrCloudMode

[2016-06-06 11:35] shivendra31 commented on #174
Hello @dkrupnou,

Configured Single node Zookeeper- 127.0.0.0:2181
Configured Solr :
![solr](https://cloud.githubusercontent.com/assets/19397215/15820514/922e2ae0-2c07-11e6-9e38-4475b720b422.PNG)

When I am trying to call ISolrOperations from SolrNet
var solrCloudMode = ServiceLocator.Current.GetInstance<SolrNet.ISolrOperations<SolrProductCorecl>>();
var results = solrCloudMode.Query(new SolrNet.S

[2016-06-08 07:06] shivendra31 commented on #174
Hi, @richetdan,

I am also facing same problem as you mentioned previous for ISolrOperations instance please suggest what i have need to do.
Please see previous two comments.

Thank you very much.

[2016-06-08 07:31] richetdan commented on #174
Hello Shivendra, this is the code I used to test that fork:

`string zookeeperConnectionString = "10.80.1.77:2181";
var collectionName = "your_collection_name";
SolrNet.Cloud.Startup.Init<TKDocumento>(new SolrCloudStateProvider(zookeeperConnectionString), collectionName);

var solrCloudMode = ServiceLocator.Current.GetInstance<ISolrOperations<TKDocumento>>();
var results = solrCloudMode.Query(...)

[2016-06-08 08:31] ankitchauhan1015 opened #241 "Getting Error "The given key was not present in the dictionary.""
Hello,

I am facing issue for getting data from SolrCloud using Zookeeper in my Asp.net Application.

I am using this code.

[code]

That line throw an exception:
`var solrCloudMode = ServiceLocator.Current.GetInstance<SolrNet.ISolrOperations<Product>>();`

Exception Details:
**Activation error occured while trying to get instance of type ISolrOperations`1, key ""**

Stack Trace:

[code]

Please H

[2016-06-09 12:17] shivendra31 commented on #174
Thanks @richetdan,

It was issue with document now it working.
Please let me know how to get current node details from which zookeeper get data.

Because I have to call HttpWebRequest with "Solr node + query".
HttpWebRequest oWebRequest = (HttpWebRequest)WebRequest.Create(Solr node + query);

Thanks!

[2016-06-17 20:26] ksivanandan opened #243 "SolrNet Highlight"
Hello

I have implemented the SolrNet sample App and I am looking to do the Highlights. I configured solr and I see <lst name="highlights"> now I want to integrate it with my app and show it on the results page. I am display Title, Url. I would like to display snippet (where the keyword appears) and highlight the words on the title, url and Snippet. Are there any examples?

Controller
var queryOpt

[2016-06-17 21:05] xaviermorera commented on #243
Example is in the documentation: https://github.com/mausch/SolrNet/blob/master/Documentation/Highlighting.md

Additionally you can see this thread in SO for configuration: http://stackoverflow.com/questions/20097314/highlighting-in-solrnet

[2016-06-17 21:16] ksivanandan commented on #243
Thank you for your quick response.

I did see both the thread but not sure where I should set this up? At the Controller after I get the result set? Should I work on the results? Also, I would have to show the highlight on Title, Url, Description and Snippet.
var results = _searchResults.Query(BuildQuery(parameters), queryOption);
                        view = new SearchView

[2016-06-17 21:21] xaviermorera commented on #243
You have first to specify that you want to use highlighting and over which fields. The * is "good" but not great if you have many fields that you don't want to highlight - also depends on your qf. But in any case, you need to:
- Set your highlighting parameters in QueryOptions and pass to .Query()
- And then when you get your results, you will get Title, PageUrl and Description without highlights.

[2016-06-17 21:39] ksivanandan commented on #243
Thank you! Will try that out.

[2016-06-20 15:25] ksivanandan commented on #243
Good Morning

I was able to keep a breakpoint and see the results. Highlights

My view Model

       [SolrField("health_content_t")]
        public string HealthContent { get; set; }

        [SolrField("description_t")]
        public string Description { get; set; }

        [SolrField("title_t")]
        public string Title { get; set; }

        [SolrField("_fullpath")]
        public string P

[2016-06-20 15:29] xaviermorera commented on #243
Yes you have to iterate, please see that the key on Highlights matches the document id so use a foreach to go through them. Then on each one of the objects, the field name is also the key to get them from the list and extract the snippet with highlights.

I believe that it is better for this kind of question to be posted to StackOverflow as iteration over an object is something that can be explain

[2016-06-20 15:59] ksivanandan commented on #243
I can use the foreach to iterate through the object, although I don't have Id as part of my SearchViewModel and hence foreach (var h in results.Highlights[results[0].Id]) throws an error

results.Highlights[results[0].Id]	error CS1061: 'SearchResultsViewModel' does not contain a definition for 'Id' and no extension method 'Id' accepting a first argument of type 'SearchResultsViewModel' could be fo

[2016-06-20 16:10] ksivanandan commented on #243
Although when I type in results.Highlights["9105"] I get the object back with Keys, Snippets and Values.

[2016-06-20 16:48] xaviermorera commented on #243
Unique key should be in results if you add it to your model. And again, StackOverflow for support :)

[2016-06-20 17:49] ksivanandan commented on #243
Yes thanks, I have posted the question there as well. Should I be using results.Highlights.Snippets?

From: xaviermorera [mailto:notifications@github.com]
Sent: Monday, June 20, 2016 12:49 PM
To: mausch/SolrNet <SolrNet@noreply.github.com>
Cc: Kalpana Sivanandan <ksivanandan@portalsolutions.net>; Author <author@noreply.github.com>
Subject: Re: [mausch/SolrNet] SolrNet Highlight (#243)

Unique key

[2016-06-20 18:35] ksivanandan commented on #243
Also, will I be able to use the same viewmodel and swap the values for title, PageUrl, description and health_content with the ones from Highlight? Do you have any examples?

Thanks so much for all your help

[2016-06-21 11:25] DumboJet opened #244 "Compatibility with Solr 6"
This is a question:

We were using Solr version 4 with this library and we are thinking of upgrading to Solr 6.
Does anyone know if  Solr 6 is supported by this library?
Are there any known issues for migrating to Solr 6?

Thanks! :)

[2016-06-21 11:32] fatmuis commented on #244
Hi,

We recently migrated from Solr 4.5.0 to Solr 5.4.1 and had no problems with
SolrNet. Hope that helps.

2016-06-21 13:25 GMT+02:00 DumboJet <notifications@github.com>:

[2016-06-21 11:43] DumboJet commented on #244
Thank you for the input @fatmuis. :)
This is a bit encouraging.
I just hope version 6 does not break anything. :)
Thanks. :)

[2016-06-28 12:53] DumboJet commented on #244
I have just tried it and it works (from a first test).

[2016-06-28 12:53] #244 closed

[2016-06-28 19:40] blmille1 commented on #174
I could really use cloud support.  Any idea when this will be available?

Thanks!

[2016-06-30 18:53] jgreene commented on #92
+1 on CommonServiceLocator (= 1.0.0) being most annoying.

[2016-07-04 07:00] dddkiran commented on #244
@DumboJet,
Which version of solrNet r u using against solr6, I tried with SolrNet(0.4.0.2002) and it does not work.

Thank you :)

[2016-07-04 07:14] DumboJet commented on #244
@dddkiran Hello. :)
I am using version 0.4.0.4001 of SolrNet.
One thing you should try, is to include the core or the collection name in the request URL:
http://stackoverflow.com/a/2214672/2173353
And check that it works from the admin UI first.

[2016-07-04 07:37] dddkiran commented on #244
@DumboJet  Thanks! :)
Will try that.

[2016-07-07 12:08] RageRabbit commented on #174
Hi, everyone!
I've recently joint @AlexeyKozhemiakin's team and made commits into this fork (completed collection api and fixed cluster state update issue - not capturing all clusterstate events).

@gquaire @JeffPalmier @perzzon @maggon @serbrech @DarrenJohn @blmille1 @shivendra31  , have you tried latest/any version of this fork and, if you please, can you provide some feedback?
maybe, after that

[2016-07-07 18:46] ksivanandan commented on #243
I was able to get this working!
Thank you

[2016-07-07 18:46] #243 closed

[2016-07-07 18:46] #235 closed

[2016-07-15 14:16] alanh-ti commented on #108
I've had a go at implementing atomic updates and just requested the changes are pulled into the master project.

https://github.com/mausch/SolrNet/pull/248

I hope others find this functionality useful.

[2016-07-26 14:24] DumboJet opened #250 "Using client certificates doesn't work"
I am trying to make requests send the client certificate, but it seems it is failing.
The certificate gets loaded fine and it contains a private key.
Yet, Solr doesn't like it (I guess the lib doesn't send the certificate).
This is the code I use:

[code]

[code]

Trying to do this by myself in a console app seems to work fine:

[code]

Any idea what is wrong here?
I doubt it has to do anything wi

[2016-07-26 14:33] mausch commented on #250
Code looks fine at first blush. Have you set a breakpoint on CertificateHttpWebRequestFactory.Create to make sure SolrNet calls it?

[2016-07-26 14:49] DumboJet commented on #250
Hm....
Nope.
It doesn't call CertificateHttpWebRequestFactory.Create().
I wonder why...
I use `ISolrOperations<SolrDocument>` like that:

[code]
And I query like so:
[code]
Shouldn't that be working fine having doe the:
[code]
...with all the required certificate setup?

[2016-07-27 07:37] DumboJet commented on #250
One thing that makes me wonder is that when I try to do this (I use Unity for DI) :

[code]
I get an exception that says that a type is already registered when `Startup.Init()` gets called.
And we previously didn't use `Unity.SolrNetIntegration` at all and it was working (I guess `Init()` registers things by itself).
But I don't see any configuration for client certificates in this code snippet (i

[2016-07-27 08:34] DumboJet commented on #250
OK.
I think I know what's wrong:
SolrNet-master\SolrNet\Impl\SolrPostConnection.cs

[code]

This method does not use the connection factory like the post methods.
Why are GETs different from POSTs?
As far as I know, Solr treats both methods the same when using client certificate validation.

[2016-07-27 08:40] DumboJet commented on #250
Turning it into :
[code]
....seemed to work for one URL I tested.
What do you think?

[2016-07-27 09:00] DumboJet commented on #250
And this is my final fix:

[code]
I had to expose `HttpWebRequestFactory` from `ISolrConnection` implemetations.

[2016-07-27 10:33] DumboJet commented on #250
As far as I can see, there is no way to set an `HttpWebRequestFactory` without using `Startup.Init<SolrDocument>(postConnection);`, right?
`Startup.Init()` seems to create some problems in my case.
I get a :
[code]

[2016-07-27 12:45] DumboJet commented on #250
Hm...
Turns out that fixing my custom `PostSolrConnection` was enough to fix all these.
No changes to the lib needed.
Silly me...

[2016-07-28 10:40] DumboJet commented on #250
I have now downloaded solrnet v0.4 and it seems that I can override the behavior in my custom `PostSolrConnection` class.
I am not sure however if any of the above changes are needed in the library.
It's your call. :)
I close this issue anyway.

[2016-07-28 10:41] #250 closed

[2016-08-18 11:26] IbraheemOsama opened #252 "Suggestion and Autocomplete functionality"
I see it would be great if there is a support for Suggestion and Autocomplete functionality in the library, I will fork the project  to work on it.

[2016-09-14 08:03] ZivHsu opened #255 "How to feed data to solr?"
this project can feed data to solr?
my solr version is 6.1
if yes how to use?

[2016-09-14 12:53] xavier-morera commented on #255
@ZivHsu you can read in the documentation how to feed data in [CRUD operations](https://github.com/mausch/SolrNet/blob/master/Documentation/CRUD.md )

I also created a training called [Implementing Search in .NET Applications](https://www.pluralsight.com/courses/implementing-search-dotnet-applications) for Pluralsight that explains the process.

Good luck!

[2016-09-15 15:57] hheexx opened #256 ".NET Core Support"
Any plan for it?

[2016-09-15 17:04] ZivHsu commented on #255
I have no idea how to feed the data to designation field on myself,
And If i feed the docx file can i see the content on search result?
Just like search keyword on google "Solrnet" you will see the => Solr client for .Net. Contribute to "SolrNet" development by creating an account on GitHub.  on search result.
get content and highlight keyword
can i do it? how?

Thanks

[2016-09-15 18:19] xavier-morera commented on #255
@ZivHsu you can read the documentation, watch the examples. Both are easy to do, very easy, but you need to review how it is done. For creating your own "documents" with your own fields, modify the schema. Feeding using the Extract() request handler you can index docx documents and it works.

[2016-09-19 09:55] ZivHsu commented on #255
@xavier-morera  i can't see more in your Pluralsight, did you have another free path can give me see more?

I try to study [CRUD operations](https://github.com/mausch/SolrNet/blob/master/Documentation/CRUD.md), you meaning the feed it's uses HTTP request right?
so how can i select the collection?  like this ? "http://localhost:port/solr/#/collectionname" on URL ?

[2016-09-20 06:02] ZivHsu commented on #255
@xavier-morera  I can connect to my solr now,
but i just no have idea on your code  SolrConnection.cs line 35 the version is mean solr version?

[2016-09-20 14:57] xavier-morera commented on #255
There are several that are free. Here is one book I wrote that has always been free: https://www.syncfusion.com/resources/techportal/ebooks/apachesolr

Also the Apache Solr for Indexing How To has been recently released publicly: https://www.packtpub.com/mapt/book/Big%20Data%20&%20Business%20Intelligence/9781782164845/1

Excellent book, take some time to read it and you will learn how to do it.

[2016-09-22 09:14] ZivHsu commented on #255
@xavier-morera
Thanks,

I created a binary  fields on my solr schema

I just uses WebRequest to post data on my solr to index data and is work,

but if i need to post binary data to solr,

how to do it?

[2016-09-22 11:24] xavier-morera commented on #255
Extract request handler. Mentioned it in an older comment

[2016-09-23 03:21] ZivHsu commented on #255
@xavier-morera

I've see the Extract request handler in Solrnet,
but i don't understand this for what?

if i want to post SchemaField List object uses WebRequest to my solr for index
how to make it work?

my object :
    public class SchemaField
    {
        public virtual string id { get; set; }
        public virtual string title { get; set; }
        public virtual string content { get; set; }

[2016-09-23 03:28] xavier-morera commented on #255
Here you go https://github.com/mausch/SolrNet/blob/master/Documentation/Extract.md

[2016-09-28 02:06] atmike opened #257 "Error 404 Not Found in all Actions"
Hi
I have setup my Solr 6.2.1 as describte on the Website and when I call the Search via URL => http://localhost:8983/solr/qms/select?q=name:"A Clash of Kings" it returns the following XML =>
`<?xml version="1.0" encoding="UTF-8"?>
-<response>
-<lst name="responseHeader">
<int name="status">0</int>
<int name="QTime">373</int>
-<lst name="params">
<str name="q">name:"A Clash of Kings"</str>
</lst>

[2016-10-04 05:43] ZivHsu commented on #255
Hi @xavier-morera

When I use

            Product SchemaFields = new Product();
            SchemaFields.id = "http://google.com";
            SchemaFields.title = "Deep.pdf";
            SchemaFields.content = "asdrgtrgtggreg rgegerg rger gee";
            SchemaFields.author = "Ziv Hsu";
            SchemaFields.editor = "Ziv Hsu";
            //SchemaFields.docbinary = SchemaFieldsData;

[2016-10-04 15:08] xavier-morera commented on #255
Hi @ZivHsu

For that kind of support, please post to StackOverflow.com

[2016-10-05 02:30] ZivHsu commented on #255
Hi @xavier-morera

I has search on StackOverflow.com but still not find the solution...

can you teach me how to fix that?

Thanks

[2016-10-05 03:42] xavier-morera commented on #255
Hi @ZivHsu, as much as I would like to, I am up to my eyeballs on work on two projects and I have no one to help me, so I have to test, debug, try again until I solve my issues - I basically would love to have people to help me too but I just need to keep trying.

What I recommended is that you post in StackOverflow your question, describing it really well and usually there is someone with a bit m

[2016-10-05 05:02] ZivHsu commented on #255
@xavier-morera

Thanks for your kind help

[2016-10-06 06:44] ZivHsu commented on #255
@xavier-morera

sorry i need to help

I use solrnet to index data like below :

            var data = new Dictionary<string, object> {
                {"id", "http://google.com/link1"},
                {"title", "test.pdf"},
                {"content", "abcdefghijk"},
                {"author", "Ziv Hsu"},
                {"editor", "Ziv Hsu"},
            };
            var solrFacility = new So

[2016-10-25 10:15] AddictedCS opened #258 "Ninject.Integration.SolrNet (Version=0.5.0.1002) references Ninject 3.0.0"
Downloaded the dependencies via NuGet. In my project I have Ninject 3.2.x referenced. Got a runtime issue with missing Ninject 3.0.0.

`{"Could not load file or assembly 'Ninject, Version=3.0.0.0, Culture=neutral, PublicKeyToken=c7192dc5380945e7' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)":"Ninj

[2016-10-25 10:47] mausch commented on #258
Hi,

https://www.nuget.org/packages/SolrNet.Ninject/0.5.0-alpha2 declares `Ninject (>= 3.0.1.10)`.
That version of Ninject is available on nuget: https://www.nuget.org/packages/Ninject/3.0.1.10

[2016-10-25 12:11] AddictedCS commented on #258
I've noticed the declaration. The issue is replicated when Ninject 3.2.x is already used by the project. In this case package manager does not download the v3.0.1.10, though runtime still fails with dependency problem.

[2016-10-25 12:13] mausch commented on #258
Have you tried adding an assembly binding redirect?

[2016-10-25 12:49] AddictedCS commented on #258
Yes, (I believe it got added by VS once I installed the package).
[code]

[2016-11-02 06:22] anshuforu commented on #257
I am facing similar error.  I have solr 6.2.1 and running the same without tomcat. I can access the solr using "http://localhost:8983/solr". It works fine. But when I call "solr.Delete(SolrQuery.All)" in Global.asax.cs in SampleSolrApp application which actually calls "connection.Post("/update", deleteNode.ToString(SaveOptions.DisableFormatting))" in DeleteCommand.cs file of SampleSolrApp and thro

[2016-11-02 09:25] AddictedCS commented on #258
Fixed, it was a local issue.

[2016-11-02 09:25] #258 closed

[2016-11-08 22:39] mausch commented on #257
@atmike it might be possible that the double slash in the URL causes this.

@anshuforu if everything except for delete works fine, there might be some unhandled breaking change in Solr, though I'd find that weird. Can you use [Fiddler](http://www.telerik.com/fiddler) to see the exact request being generated by Solr?

[2016-11-08 22:43] mausch commented on #255
What is the error description? Check the Solr log if necessary.

[2016-11-08 22:47] #210 closed

[2016-11-08 22:47] #214 closed

[2016-11-08 22:54] mausch commented on #230
If I add a strong name, then people ask for a non-strongly-named package.
If I remove it, people ask for a strongly-named package.
There is no winning with this.

Microsoft have long recognised that strong naming was generally a bad idea, so it should not be a default.
If you need strong names, try something like https://www.nuget.org/packages/Brutal.Dev.StrongNameSigner/ or https://www.nuget.org/

[2016-11-08 22:54] #230 closed

[2016-12-12 12:19] zbrkic commented on #212
When updating to new version or changing source is not an option, you can create new self serialized query:

    public class SolrQueryByFieldEscaped : SolrQueryByField, ISelfSerializingQuery
    {
        public SolrQueryByFieldEscaped(string fieldName, string fieldValue) : base(fieldName, fieldValue)
        {
        }

        public string Query => Serialize();

        public string Serializ

[2016-12-13 20:40] AddictedCS commented on #174
@RageRabbit @AlexeyKozhemiakin @mausch Is this thread still alive?

Would really appreciate your thoughts on when will SolrCloud be part of the NuGet package (or at least merged into this repo).

Thanks!

[2016-12-27 12:14] SumanAvula opened #259 "Error:"
Hi Team,

Solrnet.dll was working with visual studio 2012 and when i have opened my solution in visual studio 2015, i am getting the below error if i did build the solution.

Could you please help me to resolve the below error.
**An exception of type 'System.IO.FileNotFoundException' occurred in SolrNet.dll but was not handled in user code

Additional information: Could not load file or assembly '

[2016-12-27 20:19] ca0abinary opened #260 "Can the default field be changed?"
Firstly, thanks! This is a really cool project.

Is there a way to change the default field from `id` to a custom value? My core doesn't use `id` as a field name, but i would like to use .Query().

[2016-12-27 20:31] ca0abinary commented on #260
Kind of solved my own problem. Using

`_docs.Select().Query($"myIdField:{value}").Execute().Document()`

Works nicely. Is it possible to use something like:

`_docs.Select().Query(x => x.MyIdField, value).Execute().Document()`

instead? When I tried this it discarded my lambda expression in the URI generated for Solr.

[2017-01-04 09:28] ZivHsu opened #261 "How to use SolrNat to search multiple collections"
Hi

can I use multiple collections search on Solrnet?
and how to use it? have any example?
I'm not use cloud mode.

thanks

[2017-01-04 16:59] reaganphilip opened #262 "Help with Unity.SolrNetIntegration and Solr basic-authentication"
Hello!
I need to use Unity.SolrNetIntegration with a Solr instance which has basic authentication enabled.
Below is the start-up code I use now and it works fine against Solr with no-authentication;
var solrServers = new Unity.SolrNetIntegration.Config.SolrServers {
                new Unity.SolrNetIntegration.Config.SolrServerElement {
                    Id = "solr",
                    Url = "h

[2017-01-06 18:32] reaganphilip commented on #262
Got the solution from here https://groups.google.com/forum/#!topic/solrnet/dY_A0_lYKIU

We must inject the solr credentials to HttpWebRequestFactory in the SolrConnection registered in the container.

[code]

Thank you!

[2017-01-06 18:32] #262 closed

[2017-01-17 12:57] isbirkan commented on #256
Bump!
I am currently trying to integrate with .NET Core. It would have been helpful to have this implemented already.
I will directly call the cloud through HTTP requests until then, since this is the core of the implementation itself.

[2017-02-09 09:20] jrt324 opened #264 "nuget CommonServiceLocator Dependencies should be >= 1.0.0"
Last nuget version SolrNet 0.5.0-alpha2

the  CommonServiceLocator  Dependency should be >= 1.0.0

[2017-02-13 16:08] jernejg commented on #118
Hi @mausch !
Was there a reason your proposed model StatsResultTypedValues<T> was not implemented ?
Is there another way to get stats for date types?

[2017-03-09 15:38] ErwinSteffens commented on #256
Here some interest too! We need this for a project. I think the `SolrNet` and `SolrNet.DSL` project are portable. I think there can be some problems with the build system and al tooling around it.

We are trying to extract these two libraries from the project and integrate it directly it our project. When we have it working we can share it back if there is any interest.

[2017-03-13 02:20] Wintermute79 commented on #264
Yes, previous versions had >= 1.0.0, very annoying

[2017-03-17 04:21] justinhp commented on #256
We are building some new projects and would like to use .NET Core, however, we are unable to due the incompatibility.  Are there any plans for it?

[2017-03-17 17:26] waleedraza786 commented on #180
An unhandled exception of type 'SolrNet.Exceptions.SolrConnectionException' occurred in SolrNet.dll

Additional information: <?xml version="1.0" encoding="UTF-8"?>

<response>

<lst name="responseHeader"><int name="status">400</int><int name="QTime">428</int></lst><lst name="error"><lst name="metadata"><str name="error-class">org.apache.solr.common.SolrException</str><str name="root-error-class">o

[2017-03-17 17:32] waleedraza786 opened #265 "Indexing problem in solr net"
An unhandled exception of type 'SolrNet.Exceptions.SolrConnectionException' occurred in SolrNet.dll

Additional information: <?xml version="1.0" encoding="UTF-8"?>

<response>

<lst name="responseHeader"><int name="status">400</int><int name="QTime">400</int></lst><lst name="error"><lst name="metadata"><str name="error-class">org.apache.solr.common.SolrException</str><str name="root-error-class">o

[2017-03-17 17:44] xavier-morera commented on #265
This does not seem to be a SolrNet error. It is an analysis error which has occurred to a few other people. Check this out: http://stackoverflow.com/questions/29445323/adding-a-document-to-the-index-in-solr-document-contains-at-least-one-immense-t

Perhaps doctext should not be StrField and instead it should be text. Depends on what you are using it for.

[2017-03-17 22:08] mhov commented on #256
My money is on No, no plans to support .Net Core.  `SolrNet.csproj` is still targeting .Net 3.5.  Anyone is free to fork it and try for themselves though.

[2017-03-18 09:33] waleedraza786 commented on #265
Thanks :)

[2017-03-18 09:33] #265 closed

[2017-03-20 14:29] waleedraza786 opened #266 "Update document in solrNet"
please can u share a simple demo of updating document in solr.net.
The scenario is this:
i have to update particular field value which is initially null of a document.
so how can i update it through solrNet as i have done updation in Solr Admin UI by following query:

{"id":"E:\\solr-6.4.1\\.\\upload\\solr-word.pdf",
 "Security":{"set":3}
}

i want to do the same by solrNet.
also tell me what shou

[2017-03-20 14:58] xavier-morera commented on #266
You can watch this if you want:
https://app.pluralsight.com/library/courses/implementing-search-dotnet-applications/table-of-contents

Covers a lot of the things you would need to do with SolrNet

On Mon, Mar 20, 2017 at 7:29 AM, waleedraza786 <notifications@github.com>
wrote:

--

*Xavier Morera*

Entrepreneur | Author & Trainer | Consultant | Developer & Scrum Master

*www.xaviermorera.com <http

[2017-03-24 16:03] alex-training commented on #217
Hi @mausch
Is there any progress on this?

I want to use your package (for Solr4) but I can't do this because of strict dependencies on very old Autofac version.
The same problem is with CommonServiceLocator.

Can you do something please?
I would suggest to use more soft dependencies (f.e >= [some version])

[2017-03-28 09:21] alex-training opened #268 "Autofac version is not compatible with the latest versions"
Hi @mausch
There is a pitty issue with Autofac (https://github.com/autofac/Autofac/issues/520) which doesn't allow to use SolrNet Autofac nowadays.

I've created a pull request to fix this:
https://github.com/mausch/SolrNet/pull/267

Theoretically we can upgrade Autofac up to 4.x versions, it's up to you.

Also I would recommend to specify Autofac dependency in the nuget package more softly, inste

[2017-03-30 21:01] alex-training opened #269 "Is SolrNet still alive?"
Hi guys!

I have a doubt about this project state. Is it still in good health?
Last commit was 11 months ago, also there is no answers on my questions and pull requests.

[2017-03-30 21:06] xavier-morera commented on #269
Hi Alex, I received an email a few months ago from @mausch where he told me he had some health issues that had him separated from the keyboard, but that he wanted to move SolrNet to an organization and have multiple people helping it move forward. I would like to participeate but we need for Mauricio to set up as an organization. Mauricio: is this something that we could do?

[2017-03-30 21:21] ham3dz commented on #269
Hi,

In my opinion this project goes no where because it has a lot of bad practices in its core design and without any new activity, it's so behind. I would love to participate and make it better though.

Also, I'm thinking about designing a new project from scratch to fix all those bad practices.

[2017-03-30 21:23] xavier-morera commented on #269
@ham3dz I actually think it is a really good project. It is in production at enterprise level in projects where I have participated. It is a huge undertaking, and I believe it should be kept alive and evolve with the new versions of Solr.

Also, have you considered how much time would it take for you to start from scratch? Probably a year or two if you are really really dedicated. I don't think st

[2017-03-30 21:37] ham3dz commented on #269
@xavier-morera I agree, at my workplace we are using it too. But it needs more attention.
By working harder we can keep it alive, but like I said before there is no new activity for 11 month.

By the way, don't get me wrong, I just thought about. I really don't have time or money to design something this huge from scrratch ;)

[2017-03-30 21:41] xavier-morera commented on #269
Correct, we are in Mauricio's hands right now to keep it alive.

[2017-04-02 21:07] mausch commented on #269
I've just moved the SolrNet repo to its own organisation. I invited @xavier-morera as the first member. More will surely follow soon.

I offer my humble apologies to everyone. For whatever reasons, my inaction has led to many problems for all SolrNet users.
I do agree with @ham3dz that the code has design issues. When I wrote this project about 10 years (!) ago I had a very different perspective o

[2017-04-02 22:06] xavier-morera commented on #269
@mausch thank you very much. I kind of disagree on the design flaws. I think that one does its best with its best intentions at a precise time with the available resources at the time and your effort created something great.

I just accepted your invitation and will start to work reviewing to see who else might want to help. Anyone has any suggestions to offer at this point? I believe SolrCloud an

[2017-04-02 22:18] ham3dz commented on #269
@xavier-morera I extended SolrNet and implemented "Atomic Update" in one of my projects. I can share it if anyone interested.

[2017-04-02 22:35] xavier-morera commented on #174
Hi @AlexeyKozhemiakin, would you like to talk about adding SolrCloud as part of SolrNet? SolrNet has been moved to an organization and so we can collaborate to bring new life to this great project

[2017-04-02 22:39] xavier-morera commented on #269
@ham3dz please do. One thing that is needed for all pull requests is to have tests so if you can provide with tests using the framework used by the creator of SolrNet that will help keep the quality of the project up.

[2017-04-03 06:42] gjunge commented on #269
First off, thanks @mausch for releasing your project to the community, you've created a really helpfull project for many of us.

Hi @xavier-morera and thanks for taking up this important task.

#91 Async support has been a hot topic.
Yet a decision has to be made how to implement it. My preference has always been to upgrade the project to .NET 4.5 , and nowadays also use the new HttpClient which m

[2017-04-03 16:48] xavier-morera commented on #91
My suggestion would be to first take a look and see what are the priorities. So far I am inclined to think they would be:
- SolrCloud
- Support for newer versions of Solr, including breaking changes
- Async support
- Multiple .NET versions
- NuGet

These are the ones that come to mind. I will put together a quick poll to get feedback and understand what are the priorities according to the users an

[2017-04-03 17:23] xavier-morera opened #270 "SolrNet Priorities"
Hi, here is a form to collect information on SolrNet priorities to decide what can be taken first. Please share with other SolrNet users.

https://goo.gl/forms/W7eYFcpAhGvvbURS2

From this feedback we can then talk and decide what path should we take

[2017-04-03 17:26] stanuku opened #271 "Ninject Version update (SolrNet.Ninject) to a more recent one."
Similar to #268

[2017-04-03 17:30] stanuku opened #272 "Targeting .NET Standard Library"
It will be a great feature to analyze the gaps and support/target the .NET standard library.

Are there any plans to that effect?

[2017-04-03 17:34] xavier-morera commented on #272
That's part of the idea of the issue that I opened today: https://github.com/SolrNet/SolrNet/issues/270

Determine what is the need and prioritize. Would you please help by filling out the form and, if possible, ask other SolrNet users to provide their feedback?

[2017-04-03 17:49] stanuku commented on #270
@xavier-morera: Hi, the form doesn't let you to multiple items and prioritize them. Just wondering if you could change it such that we can assign a rating/ranking lets say from 1 to 5. (5 being most important)

For example:

4 - SolrCloud
2 - Support for newer versions of Solr, including breaking changes
3 - AsyncOperations
1 - Support for .NET Core
Other: 5 - Upgrade Ninject

[2017-04-03 17:58] xavier-morera commented on #270
Updated for multiple choice, including "Other"

[2017-04-04 07:25] AlexeyKozhemiakin commented on #174
hi, sure!

We were looking to finally push that and update nuget packages long time
ago. How can we help now?

On 3 April 2017 at 01:35, Xavier Morera <notifications@github.com> wrote:

[2017-04-04 14:44] gjunge commented on #91
I agree with you regarding the priorities, yet we have multiple contributors wanting to contribute. So we might be able to work on various items at the same time.

For Async support to be developed , a decision needs to be made on how to do it (support multiple .NET versions, for example like Newtonsoft.Json, or just 4.5 and up).
Hopefully enough people will answer the questionairre, so we can get

[2017-04-04 17:07] xavier-morera commented on #91
Agreed. Will give it a few days to get more feedback.

[2017-04-04 19:47] kevinha commented on #269
Hi,
I think comprehensive build instructions would be a good idea. I recently tried to patch the spellcheck parser for > 4 solr and didn't have time to work out how to get the correct version of FAKE installed. Upgrading to the latest version of FAKE would be good. Making the project easy to build would help to promote contributions.

[2017-04-05 16:34] TheFairey commented on #269
Hi

I'm also a fan of this library but have recently considered moving to another c# based library for one reason and that is the dependency on an older version of the commonservicelocator which basically prevents me from using unity for DI.

Sadly I lack the c# to help in this regard!

Si

[2017-04-05 16:38] xavier-morera commented on #270
Here is an update

![image](https://cloud.githubusercontent.com/assets/7174278/24716307/df7cf70e-19eb-11e7-86ec-155170024581.png)

![image](https://cloud.githubusercontent.com/assets/7174278/24716322/ed0ac8c4-19eb-11e7-8ee9-f4bb4bf5c85a.png)

I will let it run for one more week and will post the final results on April 17

[2017-04-10 06:21] Fedtekansler commented on #269
Hi,

The SolrNet integration for StructureMap is quite hard to integrate in my current project. The SolrNetRegistry is based on structuremap =~ 2.6.2 (or something similar). In the Episerver project, I am working on, I can't downgrade to that version, as Episerver depends on 3.x at minimum.

I think the main issue is that some of libraries have been moved around in newer version of StructureMap.

[2017-04-11 02:37] ledangtuanbk commented on #225
I meet the same problem, but I can't resolve it.

I use Win 10.

My Command to create solr like that :

`solr create -c test_query -n basic_configs`

[code]

[2017-04-18 05:39] gjunge commented on #270
Hi @xavier-morera , any more entries?

[2017-04-18 15:01] xavier-morera commented on #270
Here is the final one. I do have a problem though which is that I am still missing a write permission from @mausch, so I am still waiting for this.

![image](https://cloud.githubusercontent.com/assets/7174278/25137606/8916b59c-2415-11e7-83a0-c8aaeb3cfc17.png)
![image](https://cloud.githubusercontent.com/assets/7174278/25137634/97433de8-2415-11e7-86d2-ff13c3d45dc1.png)

[2017-04-20 00:37] xavier-morera commented on #270
I got the permission and accepted a pull request for a documentation change. It is time to start working. I will review some of the outstanding pull requests to see where we stand and bring some of them for review. I believe Gitflow workflow is a good branching strategy to manage development and versioning. Thoughts?

[2017-04-20 06:17] gjunge commented on #270
That's great news!
I agree with you on gitflow. The strategy/instructions should be included in the how to contribute section of the [readme.md](https://github.com/SolrNet/SolrNet/blob/master/Documentation/README.md).

[2017-04-20 14:00] stanuku commented on #270
@xavier-morera: I'vent used Gitflow workflow, I tried to get familiar with it after your post and came acrosss this http://endoflineblog.com/gitflow-considered-harmful. I'm sure there are arguments 'for' it too. Just thought you may be interested to see the author's opinion/experience 'against' it.

[2017-04-20 14:07] xavier-morera commented on #270
Thanks @stanuku for providing the link. I will read it, digest it and comment soon.

Regarding Gitflow, I've used it and IMHO it works well. I did have some struggles with it at the beginning, but when I started to use a GUI (namely SourceTree, although I use Github desktop too) it started to become a lot easier for me. I even took the time on creating a course on how to use Git with a GUI at Plur

[2017-04-20 22:20] xavier-morera commented on #174
Hi @AlexeyKozhemiakin how much testing have you done with SolrCloud?  Is working fine, in production, rock solid? Or does it still require a bit of extra work?

Also, I would like to test myself as well. I can see pull request **Solr cloud support draft version #187**, which I want to confirm it is the latest version that you were working on. I can see the comment of it being the latest version of

[2017-04-20 22:47] janhoy commented on #174
I'm happy that the project is set free from its former state of inactivity. It's simply depressing to see 26 open PRs.. Hope you manage to attract a solid number of committers so this does not die again should @xavier-morera switch jobs or lose interest.

Also wanted to let you know about the recent effort in https://issues.apache.org/jira/browse/SOLR-10446 which will ship with next version. It me

[2017-04-20 22:53] janhoy opened #274 "Binary response format (SMILE)"
Solr has support for SMILE response-writer, which is a compact "binary json" protocol that should give similar performance improvements as JavaBin (#83)

See https://cwiki.apache.org/confluence/display/solr/Response+Writers#ResponseWriters-SmileResponseWriter

[2017-04-20 23:37] xavier-morera commented on #174
@janhoy I will most definitively not lose interest nor participating in this project is because of my job. I am tight on time though and there are a few things I need to get up to speed here, so I will try my best with the available time I have.

Regarding the JIRA, it targets Solr 6.6 but we still need to support 4.x (at least), 5.x and 6.x so that is what I am trying to determine what will be th

[2017-04-24 02:50] xavier-morera commented on #174
Closing this one to continue in issue [187](https://github.com/SolrNet/SolrNet/pull/187)

Just a note, I have pulled dkrupnou/SolrNet:cloud into https://github.com/SolrNet/SolrNet/tree/solrcloud which is ready to merge after some testing. This will add SolrCloud support.

[2017-04-24 02:50] #174 closed

[2017-04-28 18:59] aeslinger0 opened #275 "Your build is failing"
There's an icon on https://github.com/SolrNet/SolrNet/blob/master/Documentation/README.md that indicates the build failed. If you follow the link to https://ci.appveyor.com/project/mausch/solrnet it appears that it's been failing for about a month. Thought you'd like to know.

[2017-04-28 19:42] xavier-morera commented on #275
Thanks, I am trying to catch up on all the things I have to do. I know it is a slow start but I got access right about the time I was finishing up on another project that is consuming my time.

I believe next week I will get to two pull requests, modifying the contribute page and the build.

Thanks for letting me know and I apologize for those who want SolrNet to move faster.

[2017-05-05 15:45] dgauss commented on #269
Hello,
I am also using this tool in an enterprise level application and would like to keep seeing it move forward.  I am "full stack" for whatever that means anymore but have plenty of practice in C# and the .net framework.  Getting better at Solr and the Hadoop platform in general.  I wouldn't mind giving up some weekend hours if you have some code to write.
Thanks,
Eric

[2017-05-05 16:56] xavier-morera commented on #269
Understood both, and I am an enterprise user too. I am about to finish one of my two current projects next week. I am going to have a lot of free time after that as I am off from work at noon everyday so have all afternoons to work on this. My plan is to pick this up as a priority May 15.

[2017-05-14 20:39] attodorov opened #276 "SolrNet issues GET requests even though PostSolrConnection is registered"
Hi,

I'm having the following issue. I use SolrNet 0.4.0.2 and I would like to change from GET to POST because my queries can get large enough to surpass the default GET header size. I can certainly change that limit in jetty, but i would just like to switch to POST, to be on the safe side. So i am doing the following:

            var container = new WindsorContainer();
            var solrFacili

[2017-05-16 14:19] sowee15 commented on #108
@alanh-ti @mausch It looks like there are checks failing in the pull request. Any idea when it will be fixed/merged? Thanks!

[2017-05-16 14:52] xavier-morera commented on #108
I am taking care of this, the intent is this week.

[2017-05-23 09:54] janhoy commented on #269
Suggestion: Setup a gitter chat for the project, to enable quick interaction between users, right from this repo

[2017-05-23 13:24] xavier-morera commented on #275
Hi, I got to this. Actually build is not "really" failing and tests are passing. The issue is that Gallio has an [incompatibility in the PDBs](https://github.com/Gallio/mbunit-v3/issues/6)  with Visual Studio 2015+. It works fine with Visual Studio 2013, I just checked and all tests pass.

So for upgrading Visual Studio we would need to find another option as Gallio is not being actively developed

[2017-05-23 13:24] #275 closed

[2017-05-23 13:41] xavier-morera commented on #269
Good suggestion, I would've been glad to get a bit of help figuring out why the build was failing, which turned out to be Gallio does not support VS 2015 PDBs.

Although I would prefer Slack and can do it right away, it integrates well. Is there an advantage of using gitter chat?

[2017-06-05 15:22] xavier-morera commented on #275
Build is "passing"

[2017-06-15 06:12] Edminsson opened #279 "Nuget package for release 0.5.1"
Hi,
Very excited about the revival of Solrnet!
Is there a new version of SolrNet Nuget package on the way?

[2017-06-15 17:21] xavier-morera commented on #279
Hi @Edminsson, it is in the works. However I am in the process of getting the permissions to get it released. In theory it will take a few weeks

[2017-06-15 17:22] xavier-morera commented on #110
Released 0.5.1

[2017-06-15 17:22] #110 closed

[2017-06-15 18:38] Edminsson commented on #279
Thanks @xavier-morera. Looking forward to it.

[2017-06-22 01:54] xavier-morera commented on #279
Will tackle also: https://github.com/SolrNet/SolrNet/issues/264

[2017-06-22 01:54] xavier-morera commented on #271
Currently working on https://github.com/SolrNet/SolrNet/tree/net-update-plus-autofac-ninject

[2017-06-22 01:55] xavier-morera commented on #268
Currently working on it on branch https://github.com/SolrNet/SolrNet/tree/net-update-plus-autofac-ninject

[2017-07-05 03:37] TLogik commented on #269
Hi
I am also using Solrnet at a enterprise level to, and even thou we had some issues getting it up and running as we need it to, we are quite happy with it.
we have already contributed a bit to the codebase and would like to keep on contributing and help bring SolrNet into the future.

[2017-07-05 13:32] xavier-morera commented on #269
There are two things I am working on:
- upgrading .Net version
- publishing to Nuget

If you can help on either, that would be great. Let me know if you have some availability

Xavier

--------------------------------------------
Sent from a small attention grabbing screen

[2017-07-05 13:36] TLogik commented on #269
Hi Xavier
I am leaving for a 3 week holyday (far away from home) but when back ill look into the issues stated below and report back on what I can commit to.

/Thomas

From: Xavier Morera <notifications@github.com>
Reply-To: SolrNet/SolrNet <reply@reply.github.com>
Date: Wednesday, 5 July 2017 at 15.32
To: SolrNet/SolrNet <SolrNet@noreply.github.com>
Cc: Thomas Blitz <TBL@infomedia.dk>, Comment <c

[2017-07-07 08:06] ZivHsu opened #280 "How to do the partial updates?"
Hi All,

I need to update one field,

And I Just have id,

But does not need to update all,

Can I do that? how?

[2017-07-25 02:34] xavier-morera opened #283 "Updating .NET to 4.6"
I am currently working on updating the .NET version of all projects to 4.6. Can anyone interested take a look at the latest commit and let me know if they have any suggestions on the issue I am facing?

[2017-07-25 02:35] xavier-morera commented on #255
Closing as it has an answer in StackOverflow.

[2017-07-25 02:35] #255 closed

[2017-07-25 02:36] xavier-morera commented on #271
Please take a look at the branch and let me know if you can help on updating Ninject

[2017-07-25 03:04] xavier-morera commented on #283
This would be the error
[code]

[2017-07-25 08:18] gjunge commented on #283
Just downloaded this version, did a quick test. Ran into one issue before being able to run the build script:

I had to change the `lib/FAKE.exe.config` to include : `[ProgramFilesX86]\Microsoft SDKs\F#\4.1\Framework\v4.0\` in the `FSIPath` value.
On Windows 10/VS 2017 that is the new path for F#

After that I could run it , and I could replicate your issue.

Finding this article [ILMerge - Unreso

[2017-08-05 16:49] neatnerd commented on #256
A related question is would it be possible to actually split this repository to multiple repositories? It would ease the porting process. For example, about Ninject integration we can forget for now, but it is still the part of the main repostiory, wouldnot it be better to move it to a separate repository?

[2017-08-06 04:38] xavier-morera commented on #256
At this point what I believe would be better is to get SolrNet upgraded to newer versions. I am kind of stuck on that point in case someone wants to help

[2017-08-06 07:04] neatnerd commented on #256
newer versions in what sense? Solr new version or .NET targets?

[2017-08-06 13:35] xavier-morera commented on #256
To .NET 4.6. I am having some issues with the tests. Yesterday a fix was provided, I am going to take a look: https://github.com/SolrNet/SolrNet/issues/283

[2017-08-07 12:59] dkapsalis commented on #279
Looking forward to this.  About to start a Solr backed project and would be nice to have the nuget package.

[2017-08-10 03:28] ZivHsu commented on #280
Hi @xavier-morera

Sorry, did you know how to do it?

[2017-08-10 10:36] xavier-morera commented on #280
Hi @ZivHsu this needs this pull request to be incorporated https://github.com/SolrNet/SolrNet/pull/248

Maybe you want to test this functionality?

[2017-08-10 16:06] alduehr commented on #279
@xavier-morera Do you have an update on this?  We are anxiously awaiting this

[2017-08-10 17:22] xavier-morera commented on #279
I got permissions two days ago for Nuget. I am in NY this week on site and will work on this next week when I get back. I have activities at night and then travel back.

[2017-08-11 03:22] ZivHsu commented on #280
Hi @xavier-morera

sure, but i did not found the code or example for this features

[2017-08-13 13:15] gjunge opened #288 "Move SampleSolrApp into different Repository"
In order to clean up the repo, I suggest moving the SampleSolrApp and its dependencies to it's own repository (ex. SolrNet/SampleSolrApp).

The Sample Solr App can reference Solr by using nuget, just like any other user would do.

I'm more than happy to help/do the migration, once the extra project is set up.

[2017-08-13 13:20] xavier-morera commented on #288
Excellent idea. The current master in SolrNet also has a 4.x version of Solr which can be moved here as well.

Thank you very much, here is the repository:
https://github.com/SolrNet/SolrNetSampleApps

Please put the current SampleSolrApp in a folder of its own so that other samples can be added when required

Also on Monday I will work on Nuget

[2017-08-13 13:27] gjunge commented on #288
- I actually started working on getting solr upgraded to 6.6  , have it working in theory.
- solr itself should be in both repo's, since the integration tests use solr as well.

[2017-08-13 13:30] gjunge commented on #288
@xavier-morera  I'll move the SampleSolrApp version from solrnet/net-update-plus-autofac-ninject

[2017-08-13 13:35] gjunge commented on #91
Some work in progress over here: [async-support branch](https://github.com/gjunge/SolrNet/tree/async-support)

[2017-08-13 13:35] xavier-morera commented on #288
Great work! Here is what I think are the next steps:
1. Get current version in Nuget (just got keys today, will try it out tonight)
2. Release the branch that upgrades to 4.6, including Nuget (but not yet Solr 6.6) Having this is as a standalone release helps those that are currently using SolrNet with older versions as it has minimal changes
3. Go for SolrCloud (branch already waiting for review)

[2017-08-13 13:43] gjunge commented on #288
1. Regarding Solr 6.6, I didn't actually mean solrnet support for it (if necessary), but rather, upgrading the solr version inside the project to 6.6  . Anyway this will lay the basis for code support for 6.6, so yet when we get to number 4 I'll do so.
2. I'm in rather advanced stages of async support (see https://github.com/gjunge/SolrNet/tree/async-support ) . I'm only all the time facing issues

[2017-08-13 16:07] xavier-morera commented on #288
Understood on 1. Then I suggest Solr should be moved to the SolrNetSampleApps to minimize size of main repository.
Great on 2. Understood on XUnit. I am totally in favor of XUnit. The creator of this project, Mauricio, favored MbUnit and had strong reasons to do so, but development ceased on MbUnit so worth moving to XUnit at this point.
So on 3. then it is better to have both in parallel and move

[2017-08-13 17:52] gjunge opened #289 "Migrate unit tests to xUnit"
Due to the fact that MbUnit is not anymore being maintained for the last 4 years, and SolrNet is moving forward, using newer technologies, it is advisable to move to a more recent and well maintained unit testing platform that is ready for the future.

I've started working on migrating all unit and integration test, and it currently all compiles (see branch: https://github.com/gjunge/SolrNet/tree/

[2017-08-13 18:05] gjunge commented on #288
1. Well, actually the solr instance is in use by the integration tests (which currently ,  with MbUnit,  partially fail), see also #289  . Maybe in the future we can create some (Powershell) scripts that downloads and sets solr up when the integration tests are run for the first time, for now I think that is a bridge too far.
2. and 3. See #289, it is actually pretty far along.

Different question

[2017-08-13 18:32] xavier-morera commented on #288
Answers inline
- NuGet packaging, add a standard nuspec file to the various projects, and let let AppVeyor do the publishing. This seems a much more standard way to do it. This way a user can even decide to publish the nugets of his branch to a private nuget server easiliy.

Agreed

- Running test: from the IDE and in AppVeyor

I agree, however Mauricio had a different opinion on running from the

[2017-08-13 19:15] gjunge opened #290 "Move away from FAKE"
- [x] NuGet ,create nuspec files.
- [x] Integration Test runner, create batch file that starts Solr and runs integration tests.

[2017-08-14 08:55] gjunge commented on #271
Will be fixed by: #286

[2017-08-14 08:58] gjunge commented on #268
Fixed in #286

[2017-08-14 08:59] gjunge commented on #217
Fixed by #286

[2017-08-14 13:36] #268 closed

[2017-08-17 08:00] gjunge commented on #264
Landed in master branch through PR #292
Will be part of next release

[2017-08-17 08:01] gjunge commented on #264
Included in next release.

[2017-08-20 13:23] gjunge opened #299 "Dockerize Solr for integration tests"
Instead of having a copy of Solr sitting inside the repository, use the public [Docker image](https://store.docker.com/images/solr)

- We can add cores/data on startup, and do store this config in the repository. This means we can easily clean up Solr for each test.
- We can even have docker start when the tests start (http://btburnett.com/2017/02/restful-api-integration-testing-for-net-core-using

[2017-08-21 09:33] gjunge opened #302 "Move CommonServiceLocator DI to seperate project"
In order to remove any dependencies from the SolrNet project, I suggest moving all files dealing with the Default DI (Startup.cs, IContainer.cs and Container.cs) to another project.

- When another DI  is used, we do not need the default DI included.
- CommonServicesLocator is not a netstandard2.0 class, it gives warnings.

In order not to make any breaking changes for the end users I suggest the

[2017-08-22 13:10] xavier-morera commented on #299
@gjunge Definitively a great idea. I am still hanging on to your other suggestion of using PowerShell to download Solr, extract and setup. It could be configured to use 4.x, 5.x or 6.x.

We may want to explore both options and decide. I do like Docker as well, just thinking of what would make it easier for everyone else.

What do you think? Is the Powershell option worth exploring too?

[2017-08-22 13:25] xavier-morera commented on #302
Agreed @gjunge . Also I believe many people use other DI besides the default one.

[2017-08-22 14:37] gjunge commented on #299
@xavier-morera The powershell script was my first thought, after having downloaded the Windows version of Solr 6.6 myself and trying to set it up. Afterwards I thought of checking whether there is a docker version available.

Both have their pros and cons, I'm inclined towards docker due to its seemingly simplicity  (haven't tried It yet though). So probably the list below is biased.

PS pros:
- N

[2017-08-23 12:53] xavier-morera commented on #299
@gjunge good points on Docker. Seems like it is a better alternative than Powershell, mainly to reduce dependencies and for simplicity. Also, anyone who is using a particular version could deploy their specific version and use it as well.

[2017-08-23 13:11] serbrech commented on #299
+1 for docker
Installing Java and Solr permanently on my local machine, to be able to develop is not a good trade-off.
this alone will make me go for docker any day. That's what docker is for.
Docker is embraced by windows today, with the Linux Subsystem, so I do not see this as an anoying dependency. It's part of the everyday dev toolbelt.
I could potentially help with setting this up (I've done

[2017-08-23 13:21] xavier-morera commented on #299
@serbrech agreed. It is what I just mentioned after reading @gjunge 's comments.

If you can help, that would be great.

[2017-08-23 13:32] gjunge commented on #299
@serbrech  That would indeed be great!

The Docker config should tailor our integration tests, so with other words should enable good integration tests.

What I've seen being done in the integration tests:

* Use Solr with a single core, and a quit extensive schema (with all kind of datatypes)
* Use Solr with multiple cores (testing the multi core features, so datatypes are not so important)
* Add

[2017-08-23 13:42] gjunge opened #305 "Add SolrCloud support"
See branch: https://github.com/SolrNet/SolrNet/tree/solrcloud

- [x] Merge develop branch into solrcloud branch to get it up to date
- [x] Add Async
- [x] Create unit tests
- [ ] Create integration tests (see #299)
- [ ] Add DI support for our main DI's: Windsor, Ninjeft, Autofac, Microsoft.Extensions.DI
- [x] Create nuspecs for all new projects.

[2017-08-24 21:35] gjunge commented on #305
@xavier-morera Started working on merging and getting it up to date. So far, compilation wise, no big issues are expected, despite having to add async, changing out an obsolete zookeeper library, and upgrading all other dependencies.

Once all compiles I will publish my branch and create an initial pull request.

[2017-08-24 21:47] xavier-morera commented on #305
That is great. With that pull request I will ask those who contributed to that change to take a look as they are using it in production.

[2017-08-25 05:48] #252 closed

[2017-08-25 14:20] xavier-morera commented on #290
Thank you @gjunge

[2017-08-25 14:20] #290 closed

[2017-08-25 14:20] xavier-morera commented on #302
Completed, thanks to @gjunge

[2017-08-25 14:20] #302 closed

[2017-08-27 14:28] gjunge commented on #305
@xavier-morera  See PR comments.

Open items:
- Naming, do we go for SolrCloudNet or SolrNet Cloud or SolrNetCloud ? Currently the contributors went for SolrNet.Cloud
- I didn't run any integration tests.
- Currently only Unity and CommonServiceLocator are implemented as DI.
- They use a zookeeper library `ZooKeeper.Net` which is not `netstandard` compliant, and is totally synchronous. There is an

[2017-08-28 00:32] #180 closed

[2017-08-28 00:39] xavier-morera commented on #305
@gjunge regarding your comments
Open items:

SolrNet.Cloud sounds pretty good

Understood. @AlexeyKozhemiakin & dkrupnou you worked on the original SolrCloud implementation. Are you able to comment on this code? Do you use it in production? Any issues that you have identified? @gjunge is doing a lot of work to move the project forward

I think this is fine, anyone who needs a different DI can help

[2017-08-28 22:17] xavier-morera commented on #283
@gjunge thanks to you, we have this

![image](https://user-images.githubusercontent.com/7174278/29796034-3c3499ec-8c0c-11e7-8c13-e978870f69b1.png)

[2017-08-29 04:45] gjunge commented on #283
xavier-morera, that's great, happy to help!

[2017-08-29 12:57] gjunge opened #308 "Create a 0.7.1 release in master branch"
I think we should continue creating "releases" on the master branch. This shows also what the last version was, and also gives a convenient way to get get to a certain release from the master branch.

![image](https://user-images.githubusercontent.com/194466/29822028-b54e56d0-8cd2-11e7-935f-7cce1e6097e1.png)

[2017-08-29 18:55] xavier-morera commented on #308
Agreed, thanks for pointing it out

![image](https://user-images.githubusercontent.com/7174278/29838760-534c2e58-8cb9-11e7-97a7-0ffab2019097.png)

[2017-08-29 18:55] #308 closed

[2017-08-30 13:54] xavier-morera commented on #90
Merged to develop on https://github.com/SolrNet/SolrNet/pull/309

Targeted for version 0.8.1

[2017-08-30 13:54] #90 closed

[2017-08-30 17:24] xavier-morera commented on #91
Closed

[2017-08-30 17:24] #91 closed

[2017-08-30 17:24] #86 closed

[2017-08-30 17:25] xavier-morera commented on #175
Moved to XUnit

[2017-08-30 17:25] #175 closed

[2017-08-30 17:25] xavier-morera commented on #217
Released version 0.7.1

[2017-08-30 17:25] #217 closed

[2017-08-30 17:25] xavier-morera commented on #256
Released in 0.7.1

[2017-08-30 17:25] #256 closed

[2017-08-30 17:25] xavier-morera commented on #264
Completed in 0.7.1

[2017-08-30 17:25] #264 closed

[2017-08-30 17:26] xavier-morera commented on #269
Alive and kicking because of @gjunge

[2017-08-30 17:26] #269 closed

[2017-08-30 17:26] xavier-morera commented on #271
Released in 0.7.1

[2017-08-30 17:26] #271 closed

[2017-08-30 17:26] xavier-morera commented on #272
Released in 0.7.1

[2017-08-30 17:26] #272 closed

[2017-08-30 17:27] xavier-morera commented on #279
Nuget updated to 0.7.1. Will configure automatic deployments with AppVeyor in the short term

[2017-08-30 17:27] #279 closed

[2017-08-30 17:27] xavier-morera commented on #283
Released in 0.7.1 and updated in Nuget

[2017-08-30 17:27] #283 closed

[2017-08-30 17:27] xavier-morera commented on #289
Released in 0.7.1

[2017-08-30 17:27] #289 closed

[2017-09-01 14:09] Edminsson opened #310 "Collation parsing problem in spellcheck"
In SolrNet 5.x when spellcheck is enabled and spellcheck.collateExtendedResults is false then the result looks like this
[code]
The collation result is not parsed correctly because the element with name="collation" is not an lst element but an str element.

[2017-09-01 14:36] xavier-morera commented on #310
Thanks. I need this one as well.

[2017-09-03 15:47] Edminsson commented on #310
Hi @xavier-morera, I'll give it a try.

[2017-09-03 19:49] xavier-morera commented on #310
Excellent! I created a branch for this purpose: https://github.com/SolrNet/SolrNet/tree/collation-parsing-issue-310?files=1

Thank you

[2017-09-04 12:26] Edminsson commented on #310
I also found a problem with the parsing av suggestions. I think I fixed both problems. It's been a long time since I worked with Solr and I tried to run all the tests but I had some trouble running some of them. For instance the NHibernate tests seem to need an SQLite driver.

[2017-09-04 13:38] Edminsson commented on #310
There seems to be the same issue with suggestions and spellcheck.extendedResults as with collations and  spellcheck.collateExtendedResults. I'll fix the code.

[2017-09-04 14:10] xavier-morera commented on #310
Thanks @Edminsson

[2017-09-04 17:02] gjunge commented on #305
@xavier-morera the coming month and a half I will be less productive/more on the background. I am leaving on holiday and have a few deadlines myself.

If my input is needed let me know and I will try to answer as soon as I can.

[2017-09-04 17:30] xavier-morera commented on #305
@gjunge thanks for letting me know. I am in the same boat. I need to finish a project before September 15 - and it is looking too tight - as I am going on the road for three weeks. First, Pluralsight Live, then a training for Accenture and then Strata Hadoop so that is why I am so slow

I will try to respond as soon as possible. Enjoy your holiday

[2017-09-22 14:47] jamesewelch opened #312 "SolrFacetDateQuery needs to be updated to solr 6 specifications using facet.range instead of facet.date"
https://lucene.apache.org/solr/guide/6_6/major-changes-from-solr-5-to-solr-6.html

facet.date.* Parameters Removed
The facet.date parameter (and associated facet.date.* parameters) that were deprecated in Solr 3.x have been removed completely. If you have not yet switched to using the equivalent facet.range functionality you must do so now before upgrading.

SolrFacetDateQuery creates "facet.date"

[2017-09-22 14:59] LoadGik opened #313 "How to integrate Solrcloud support into a project"
Hello everyone.

After reading this issue #174, is it possible to use the SolrClound branch today for my developments?

If so, could you please explain to me how to integrate this version into a project?

I would also like to ask you if this version is compatible with version 4.5 of Net Framework.

And thank you for the work you have done.

[2017-09-25 12:36] xavier-morera commented on #312
Thank you @jamesewelch, it is in the TO DO list. We need to make it in such a way that we support older versions of Solr too.

Would you be interested in helping by forking and helping implement this feature? We would love to get another contributor on this project.

[2017-09-25 12:38] xavier-morera commented on #313
Hello @LoadGik, the answer is yes, please use SolrCloud branch for development. We will promote once it has received more testing. This is compatible to 4.5.

Please look at the functionality in SolrNet.Cloud for the objects necessary to use SolrCloud. Once some more testing takes place, we will include in the instructions additional samples.

[2017-09-25 12:41] earloc opened #314 "NuGet package "SolrNet.Microsoft.DependencyInjection" contains wrong "Unity"-assembly"
Our Team just tried to integrate SolrNet with above nuget-package, but couldn´t find the documented extension-method to register with ServiceCollection.

A look into the nuget-package revealed that it contains **Unity.SolrNetIntegration.dll** instead of **Microsoft.DependencyInjection.SolrNet.dll**.

As a workaround we cloned the repo and are referencing the correct assembly, but it would help ver

[2017-09-25 13:01] xavier-morera commented on #314
Thanks for this. Will take a look, can you please fork the project and make a branch with this fix so that I can check it out? And yes, confusion indeed.

[2017-09-25 13:19] earloc commented on #314
OK, give me some time (we shortcutted the issue by currently referencing the manually built assembly).

I think the main "problem" is to decide wether to utilize the "old"-nuspec-based packaging vs. the "new" VS-integrated mechanism (via dotnet-core tooling).

Will investigate both path´s (probably) this evening.

[2017-09-25 14:21] gjunge commented on #312
@xavier-morera , @jamesewelch , has already been taken care of in PR #309  , which sits now in the development branch.

@xavier-morera Since no new development will be done soon I guess it is maybe better to release the next version from the development branch.

[2017-09-25 14:26] gjunge commented on #314
That’s a typo (more like a post-copy/paste mistake) from my side.
The nuspec file needs to be fixed, since AppVeyor uses the nuspec file to create NuGet packages and automate deployment to NuGet.

[2017-09-25 20:10] earloc commented on #314
Yep, just got that fixed in #315.
(These are the kind of authoring-"bugs" that caused me switching to dotnet-tooling in some of my own packages)

The project doesn´t generate a XML-documentation-file, so that part is stripped out atm, as the missing file would prevent the package from creation.

[2017-09-25 22:51] gjunge commented on #314
And somehow I remember fixing this bug already once. We had some merge issues and perhaps this change was reverted.

Thanks for the fix!

[2017-09-25 22:57] xavier-morera commented on #314
Thanks. Let me take a look. I made a mistake a while back on the merge so perhaps that was it.

[2017-09-26 01:18] xavier-morera commented on #312
Working on it...

[2017-09-27 16:32] CalMlynarczyk opened #316 "Unable to install 0.8.1 via NuGet due to invalid dependency"
When attempting to install 0.8.1 using NuGet, I receive the following error:

`Unable to resolve dependencies. 'SolrNet.Core 0.7.1' is not compatible with 'SolrNet 0.8.1 constraint: SolrNet.Core (= 0.8.1)'.`

It appears SolrNet.Core v0.8.1 has not been published to NuGet yet. https://www.nuget.org/packages/SolrNet.Core/

[2017-09-27 17:43] xavier-morera commented on #316
Thanks @CalMlynarczyk

I configured last night AppVeyor to publish automatically and there are two packages missing. I am working on figuring out how to fix it.

[2017-09-27 20:46] ghost opened #317 "SolrQueryByField with integer value?"
I have an integer field in my Solr schema (called 'template') and I want to do a filter search against it.

Can you use SolrQueryByField with an integer value?

Like this...
[code]
I'm on 0.7.1 release that I got from Nuget.

Thanks.

[2017-09-27 22:15] xavier-morera commented on #316
@CalMlynarczyk can you check now. Both have been published to NuGet

[2017-09-27 22:15] #316 closed

[2017-09-28 12:26] LoadGik commented on #313
Hello Xavier,

Thank you for answering.

But unfortunately I am unable to generate the DLLs since the project I recovered on the "SolrCloud" branch.

There are a number of things that I do not understand very well and I do not know how to integrate this version into my project.

Is it possible to directly retrieve the NuGet package or the DLLs of this version.

Or detail the procedure to follow, w

[2017-09-29 12:56] xavier-morera commented on #317
Field value is defined as string. But please test, it should take no more than a couple of minutes to do so.

[2017-09-29 12:57] xavier-morera commented on #314
Completed, 0.8.1 released

[2017-09-29 13:04] xavier-morera commented on #313
Hi @LoadGik

I cannot help for the next week or so. I really apologize but I am on a 3 week trip with very little time and I also need to catch up on the SolrCloud branch.

If you are in a hurry, you can set up a load balancer in front of your SolrCloud deployment and it should work fine.

Also maybe @alex-training @AlexeyKozhemiakin @janhoy @dkrupnou could be able to help on guidance if they have

[2017-09-29 13:34] LoadGik commented on #313
No problem, thank you for your return :)

[2017-10-05 19:01] CalMlynarczyk commented on #316
Yea, it looks good. Thanks!

[2017-10-09 20:25] Napkin41 opened #319 "URL Encoding of special characters"
I'm a bit new to the scene, and I've looked through other issues to see if mine is similar, but I could not find anything.

I'm trying to build a function into a facet query like this:
`var suggestionFacetFieldQuery = new SolrFacetFieldQuery("{!key=Contained_In_Industries+facet.contains=Entertainment}Industries");`

The desired request to Solr should reseble something like this:
`...&facet.field={

[2017-10-09 22:11] Napkin41 commented on #319
Turns out only the + was the problem. Replaced it with a space and I'm getting the functionality that I wanted. I'm not even sure why I added the + sign in the first place. Sorry to waste your time!

[2017-10-09 22:11] #319 closed

[2017-10-13 06:11] Hansereee opened #320 "Bug: Query is not working"
I tried to query my solr instance. But I alway get an exception in solrnet that says: "Data at the root level is invalid"

Here is my code:

` Startup.Init(Of TestDok)("http://localhost:8983/solr/test")
Dim Solr As ISolrOperations(Of TestDok) = ServiceLocator.Current.GetInstance(Of ISolrOperations(Of TestDok))()
Dim p1 = Solr.Query(SolrQuery.All)
`
The name of the core is "test"

[2017-10-13 21:55] xavier-morera commented on #320
@Hansereee can you post the full request? Maybe you can use Fiddler so I can take a look

[2017-10-13 21:55] #314 closed

[2017-10-13 21:56] xavier-morera commented on #319
Not a waste of time, sorry to be late to the party. Wasn't able to check in until today.

[2017-10-19 18:25] BkrBkr commented on #320
I had the same problem and investigated it:

If I use "Solr.Query" the solr server respondes with a JSON format by default. (I have the default solr config). SolrNet expects an XML format and will throw an exception.

If I add the parameter "wt" with the value "xml" everything works fine.

Here is an example:
Dim p as new Dictionary(Of String,String)
p.add("wt","xml");
Solr.Query(new SolrQuery(...

[2017-10-20 02:41] xavier-morera commented on #320
@BkrBkr Good point. I need to check why this is not already done this way.

[2017-10-21 11:33] amitmiran commented on #320
here is theh C# solution
[code]

[2017-10-21 21:27] Martin-Andersen opened #321 "Question - Are you working on a .NET Core 2.0 version?"
I have started  porting our search api to core 2, it will save os money because we can use linux instead of windows, half price on AWS.

Are you working on a core version? Or should I fork this project?

I know that the project is now standard 2.0 compliant and that should make it easy to port it to core. Or am I kidding my self (-:

[2017-10-21 22:24] xavier-morera commented on #321
Please fork and contribute! It would be deeply appreciated.

Are you going to use SolrCloud? If that is the case, can you give me until tomorrow to merge the cloud branch into develop so that you can benefit from that work

[2017-10-22 06:08] gjunge commented on #321
@Martin-Andersen you can just use the netstandard 2.0 library, see this graph:
![image](https://user-images.githubusercontent.com/194466/31858745-2f5ca3b4-b708-11e7-9513-cdc03c92d324.png)

As an analogy one can say that netstandard is like an interface, while net core, xamarin and the full framework, are like classes that implement the interface.

So our netstandard 2.0 library is compatible with

[2017-10-22 06:34] gjunge commented on #320
@xavier-morera @BkrBkr
I believe that the default Solr response is in `xml`, I guess that is why it was never passed along.

Now the question is where to put this fix: I think the place would be (Post)`SolrConnection`.

This will tie-in `SolrConnection` with XML, which is not so nice (theoretically , the connection should not know about the data type being passed). But on the other hand, there are

[2017-10-23 07:52] Martin-Andersen commented on #321
Thanks but I want to run this on a linux, and when I add the packages I get a warning:

`Warning	NU1701	Package 'SolrNet 0.8.1' was restored using '.NETFramework,Version=v4.6.1' instead of the project target framework '.NETCoreApp,Version=v2.0'. This package may not be fully compatible with your project.
`

Am I doing something wrong. Have only been working with .NET Core for 3 days (:

And while

[2017-10-23 07:56] Martin-Andersen commented on #321
@xavier-morera I will fork the project later today and try to convert it to core

[2017-10-23 08:10] gjunge commented on #321
@martin-andersen which package are you using?
I assume you are using SolrNet, you should use SolrNet.Microsoft.DependencyInjection, this package has he new Dependency Injection and uses the SolrNet core, both are netstandard.

SolrNet package  reference the SolrNet.Core package which is netstandard, but also commonservicelocator for DI which is not netstandard (yet, they just released a netstandar

[2017-10-23 08:30] Martin-Andersen commented on #321
@gjunge thanks a gazillion. Is "SolrNet.Microsoft.DependencyInjection" an official port? Anyway just very happy.
Was forking the SolrNet repo and I am glad I saved many hours porting it.
@xavier-morera will you comment on this? I am still a little confused

[2017-10-23 08:46] gjunge commented on #321
SolrNet.Core is the main library, but it kind of needs a DI library to work. So SolrNet comes with many official DI implementations, Ninject, Autofac, Windsor,Structuremap etc. All are part of this Github repo, so official. We just added the MS Dependency Injection support.
See here the different initialization ways: https://github.com/SolrNet/SolrNet/blob/master/Documentation/Initialization.md

T

[2017-10-26 07:29] nacoleman commented on #321
Loving the SolrNet project but I am seeing the same message as above:

Warning NU1701 Package 'SolrNet 0.8.1' was restored using '.NETFramework,Version=v4.6.1' instead of the project target framework '.NETCoreApp,Version=v2.0'. This package may not be fully compatible with your project.

I am using Windsor as I can't use SolrNet.Microsoft.DependencyInjection as it doesn't support Key/Name based in

[2017-10-26 14:59] gjunge commented on #321
@nacoleman our Windsor integration still depends on Windsor 3.4, which doesn’t support netstandard yet. 3 months ago Windsor 4.0 and 4.1 came out and they do support netstandard 1.6.
So what has to be done is upgrade the Windsor integration project so it becomes a netstandard project and takes a Dependency on Windsor 4.1. In addition its Nuspec file has to be updated.
So in the hope that between 3

[2017-10-29 13:13] gjunge opened #324 "Support ConstantScore query"
See https://lucene.apache.org/solr/guide/6_6/the-standard-query-parser.html#TheStandardQueryParser-ConstantScorewith_

We have already support for the BoostQuery , which adds a boost to a query or part of it.
Solr also support setting a constant score to a (part of a) query.

[2017-10-29 19:06] xavier-morera commented on #324
Merged into develop, courtesy of @gjunge

[2017-10-29 19:06] #324 closed

[2017-10-30 08:32] mpctilsted opened #326 "Issue with CommonServiceLocator v2.0.1"
**Dependencies:**

[code]

**Registering module and setting servicelocator:**

[code]

**Throw me this error:**

[code]

**Can anyone else confirm this, or am i just doing it wrong?**

[2017-10-30 08:37] mpctilsted commented on #326
Sorry, it was me doing it wrong.
You shouldn't directly call Startup method when injecting solr operation with Autofac.
My mistake.

[2017-10-30 08:37] #326 closed

[2017-10-30 10:59] nacoleman commented on #321
thanks gjunge. that's great. I'll wait for the updated nuget package.

[2017-11-02 09:58] BkrBkr commented on #320
@gjunge
I have the default solr installation with the default solr config files. I get an json formated response by default.

[2017-11-02 12:50] gjunge commented on #320
@bkrbkr probably you’re running SOLR 7. Since SOLR 7 they’ve changed the default response type from XML to JSON , this effectively breaking SolrNet.

@xavier-morera we should release the next version soon because SOLR 7 cheers contains a breaking change which was fixed by#322

[2017-11-02 15:39] xavier-morera commented on #321
@gjunge can you take a quick look at the Castle upgrade? There is a reference error in develop branch.

If you have a chance to fix this issue I can publish 0.9.1. Please?

[2017-11-02 16:33] xavier-morera commented on #320
@gjunge I can do so immediately but there is an issue with Castle in develop branch. Would it be possible for you to take a look and I will release immediately. Thanks

[2017-11-02 18:14] gjunge commented on #320
@xavier-morera I’ll have a look in a little bit. Could you share the url of your AppVeyor build?

[2017-11-02 18:44] gjunge commented on #320
@xavier-morera actually it all compiles, it's just some weird test  that fails (a unit test on some performance test classes [which are  skipped for now], so actually a test of a test), and only in AppVeyor, not on my home PC (and not on my work PC).
I'm inclined on just commenting out these tests , but I'll dig a little further before doing so.

[2017-11-02 18:54] gjunge commented on #320
@xavier-morera  Found the problem. AppVeyor is running tests on all .dll it's find. Unfortunately the SolrNet.test.dll is both a library with unit tests, and a kind of a common test library.

So AppVeyor finds this dll (without its dependencies) in the AutoFac test directory:
![image](https://user-images.githubusercontent.com/194466/32344538-dfc1b770-c00f-11e7-9688-f4077b5316f3.png)
and tries to r

[2017-11-02 19:09] xavier-morera commented on #320
@gjunge great. Let me know if you can debundle as I am pushing to Nuget from AppVeyor and it won't create packages until build passes. I know I could build them manually but if this problem can be solved once and for all it would be better.

[2017-11-02 19:13] gjunge commented on #320
@xavier-morera It's coming up.

[2017-11-02 19:45] xavier-morera commented on #320
@gjunge it's building

[2017-11-02 21:07] xavier-morera commented on #320
Fix deployed to Nuget

![image](https://user-images.githubusercontent.com/7174278/32350250-75e9de70-bfdf-11e7-9f73-412e71e5dbf5.png)

[2017-11-02 21:07] #320 closed

[2017-11-03 08:00] BkrBkr commented on #320
@gjunge Yes I use SOLR 7

[2017-11-03 08:29] gjunge commented on #321
@xavier-morera This one can be closed, and can you create a 0.9.1 release tag?

[2017-11-03 15:26] xavier-morera commented on #321
Done on both @gjunge

[2017-11-03 15:32] #321 closed

[2017-11-03 16:10] nacoleman commented on #321
thanks for working on this guys.  has something else change though?

I just upgraded and have immediately lost Castle.Facilities.SolrNetIntegration.. cant import that namespace and therefore can't use SolrNetFacility;

Cheers

[2017-11-05 15:52] gjunge commented on #321
@nacoleman Will try to have a look tomorrow.

[2017-11-06 15:23] gjunge opened #331 "SolrNet.Windsor 0.9.1 nuget package has no contents"
The package is empty.

[2017-11-06 15:24] gjunge commented on #321
@nacoleman  see #331
I'll see if I can get a fix out soon.

[2017-11-06 15:48] #331 closed

[2017-11-07 03:42] xavier-morera commented on #321
@gjunge has provided a fix. Thanks again

[2017-11-07 14:40] xavier-morera opened #333 "SolrNet Versioning Discussion"
Moving discussion from https://github.com/SolrNet/SolrNet/pull/325#issuecomment-342452733

@gjunge I liked the matching versions, but you make two very valid points which I expand on below.

Point number 1 taken. We are really behind on support for all features, which I don't think is a huge deal if we have the features that are more commonly used. Pareto's principle is what comes to mind. If some

[2017-11-13 14:47] NETESudarshan opened #335 "Multi-level clustering support"
Hello - I'm working on a project where I need to make use of Lingo3G's clustering (https://carrotsearch.com/lingo3g/how-it-works/). They have a plugin for Solr which enables Solr to return multi-level clusters. I'm able to get the plugin working from Solr and also test the results from the Admin/query UI panel. Now my challenge is to use the SolrNet library to query and retrieve the results into m

[2017-11-13 18:50] NETESudarshan opened #336 "Are there examples of using the Clustering feature in the library?"
Thanks

[2017-11-14 09:12] Martin-Andersen opened #337 "Question - 'CommonQueryOptions.Start' is obsolete"
Hi I am trying to get ride of some warnings.
I have this code that is using QueryOptions.Start instead of QueryOptions.StartOrCursor
How do I rewrite the code to use QueryOptions.StartOrCursor.
Start was a nullable int, StartOrCursor is a class

[code]

[2017-11-14 14:47] xavier-morera commented on #335
Hello @NETESudarshan, have you checked this?

SolrNet/SolrNet/Commands/Parameters/ClusteringParameters.cs

[2017-11-14 14:47] xavier-morera commented on #336
Please check this functionality
SolrNet/SolrNet/Commands/Parameters/ClusteringParameters.cs

[2017-11-14 14:48] xavier-morera commented on #337
Does this work?

https://github.com/SolrNet/SolrNet/blob/master/Documentation/CursorMark.md

[2017-11-17 02:02] #337 closed

[2017-11-17 02:02] #333 closed

[2017-11-17 02:02] #270 closed

[2017-11-17 02:03] #195 closed

[2017-11-17 19:05] gjunge commented on #312
@xavier-morera  this can be closed

[2017-11-17 20:52] xavier-morera commented on #312
Done.

Another comment, what do you think if I create a tag called "reopen-if-needed" and close the current outstanding issues? Some are several years old and that way we get a "fresh start" so that we could focus on current outstanding issues.

We could do something similar as well with branches, as we have several that are outdated and the feature was never implemented.

Sometimes pushing the re

[2017-11-17 20:52] #312 closed

[2017-11-18 08:45] gjunge commented on #312
@xavier-morera Totally agree.
What shall we do with the open Pull Requests? Most of them, if not all of them won't even compile I guess.

[2017-11-18 15:26] xavier-morera opened #338 "Project Cleanup"
Regarding a discussion on what shall we do with old pull requests and issues which started in https://github.com/SolrNet/SolrNet/issues/312

@gjunge I would be inclined to:
- Ping each contributor and ask them if the pull request is still valid, they need the feature they can help make the necessary changes based on develop
  - Yes: amazing, pull request updated, merged into develop and released

[2017-11-18 15:26] xavier-morera commented on #312
Continued here: https://github.com/SolrNet/SolrNet/issues/338

[2017-11-19 11:23] gjunge commented on #338
Regarding pull requests: that's also my line of thought.

Solr 6 & 7 have some new features that we are far from implementing (Graph, SQL, Streams).
They are also moving to the new v2 API (https://lucene.apache.org/solr/guide/6_6/v2-api.html) and they will abandon their old API (which we are using) in a future version.

So a full backlog for SolrNet up ahead.

[2017-11-20 09:50] mmoldabe commented on #288
Cannot find SampleApp in both repositories. Do You update app during development?

[2017-11-20 11:48] gjunge commented on #288
@xavier-morera A PR is still waiting to be accepted: https://github.com/SolrNet/SolrNetSampleApps/pull/1

[2017-11-20 11:54] mmoldabe commented on #288
Also, I've found other [commit ](https://github.com/SolrNet/SolrNet/tree/f3b78da9f3075cf73a28242835c96f338d715007) and tried to run SampleSolrApp from given **.bat** file -- getting errors, web page tells that **app.config** is wrong.

[2017-11-20 14:43] xavier-morera commented on #288
@gjunge thanks, done.

[2017-11-20 18:32] xavier-morera commented on #338
@gjunge So I will start with the pull requests. Quite a bit of work on v2 API. Let's take one step at a time.

[2017-11-21 14:48] #288 closed

[2017-11-24 06:24] mmoldabe commented on #338
@xavier-morera maybe you'll share master-rights with @gjunge ? He can spend more time on manging and maintaining this repo and keep it up-to-date. As an example: [this issue ](https://github.com/SolrNet/SolrNet/issues/288) with the merge-request was opened in August, but merged only 4 days ago, in November.

[2017-11-24 14:05] xavier-morera commented on #338
@mmoldabe that's a pretty good idea. I just sent the invitation

@gjunge: I assume this is something you would like, correct? Let me know if there is anything you would like to talk about.

[2017-11-24 14:55] gjunge commented on #338
@xavier-morera I’m happy to help. With more power comes more responsibilities and we should discuss what those responsibilities are. Who does what or if we both do the same, that we don’t do things double or both think that the the other will do something and then nothing gets done.
So please suggest what you would like me to cover and I’ll help there.

[2017-11-24 15:06] xavier-morera commented on #338
@gjunge I will start working soon on reviewing, tagging, cleanup and closing old stuff. That way I can get a bigger picture of what was done but not merged and what can potentially be added because it is required or useful. Basically I will focus on the past to get us to now.

On your end, it would be really useful if you can start focusing on the future, mainly where we can go from where we are n

[2017-11-25 23:56] xavier-morera commented on #338
| Issue | Title | Comment | Last Updated | Creation Date |
| ------ | ------ | ------ | ------ | ------ |
| x | x | x | x | x |
| x | x | x | x | x |
| x | x | x | x | x |

[2017-11-26 00:05] xavier-morera commented on #76
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:05] #76 closed

[2017-11-26 00:06] xavier-morera commented on #77
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:06] #77 closed

[2017-11-26 00:07] xavier-morera commented on #78
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:07] #78 closed

[2017-11-26 00:09] xavier-morera commented on #79
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:09] #79 closed

[2017-11-26 00:10] xavier-morera commented on #338
| Issue | Title | Last Updated | Creation Date |
| ------ | ------ | ------ | ------ |
| https://github.com/SolrNet/SolrNet/issues/80 | Nested queries | 2013 09 07 | 2013 09 07 |
| https://github.com/SolrNet/SolrNet/issues/79 | Function queries | 2013 09 09 | 2013 09 07 |
| https://github.com/SolrNet/SolrNet/issues/78 | Per-field highlighting parameters | 2013 09 07 | 2013 09 07 |
| https://github

[2017-11-26 00:10] xavier-morera commented on #80
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:10] #80 closed

[2017-11-26 00:11] xavier-morera commented on #81
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:11] #81 closed

[2017-11-26 00:11] xavier-morera commented on #82
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:11] #82 closed

[2017-11-26 00:12] xavier-morera commented on #83
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:12] #83 closed

[2017-11-26 00:13] xavier-morera commented on #84
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:13] #84 closed

[2017-11-26 00:14] xavier-morera commented on #85
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:14] #85 closed

[2017-11-26 00:15] xavier-morera commented on #87
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:15] #87 closed

[2017-11-26 00:16] xavier-morera commented on #88
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:16] #88 closed

[2017-11-26 00:17] xavier-morera commented on #89
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:17] #89 closed

[2017-11-26 00:18] xavier-morera commented on #92
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:18] #92 closed

[2017-11-26 00:19] xavier-morera commented on #93
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:19] #93 closed

[2017-11-26 00:20] xavier-morera commented on #94
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:20] #94 closed

[2017-11-26 00:21] xavier-morera commented on #95
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:21] #95 closed

[2017-11-26 00:30] xavier-morera commented on #96
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:30] #96 closed

[2017-11-26 00:31] xavier-morera commented on #97
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:31] #97 closed

[2017-11-26 00:32] xavier-morera commented on #98
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:32] #98 closed

[2017-11-26 00:32] xavier-morera commented on #99
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:32] #99 closed

[2017-11-26 00:33] xavier-morera commented on #100
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:33] #100 closed

[2017-11-26 00:34] xavier-morera commented on #101
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:34] #101 closed

[2017-11-26 00:35] xavier-morera commented on #102
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:36] #102 closed

[2017-11-26 00:36] xavier-morera commented on #103
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:36] #103 closed

[2017-11-26 00:37] xavier-morera commented on #104
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:37] #104 closed

[2017-11-26 00:37] xavier-morera commented on #105
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:37] #105 closed

[2017-11-26 00:38] xavier-morera commented on #106
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:38] #106 closed

[2017-11-26 00:38] xavier-morera commented on #107
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:38] #107 closed

[2017-11-26 00:40] xavier-morera commented on #108
Currently work in progress in https://github.com/SolrNet/SolrNet/pull/339

[2017-11-26 00:41] xavier-morera commented on #109
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:41] #109 closed

[2017-11-26 00:42] xavier-morera commented on #111
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:42] #111 closed

[2017-11-26 00:45] xavier-morera commented on #118
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:45] #118 closed

[2017-11-26 00:48] xavier-morera commented on #142
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:48] #142 closed

[2017-11-26 00:49] xavier-morera commented on #143
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:49] #143 closed

[2017-11-26 00:50] xavier-morera commented on #145
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:50] #145 closed

[2017-11-26 00:51] xavier-morera commented on #167
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:51] #167 closed

[2017-11-26 00:52] xavier-morera commented on #170
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:52] #170 closed

[2017-11-26 00:53] xavier-morera commented on #173
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:53] #173 closed

[2017-11-26 00:55] xavier-morera commented on #176
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:55] #176 closed

[2017-11-26 00:57] xavier-morera commented on #177
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 00:57] #177 closed

[2017-11-26 01:15] xavier-morera commented on #259
Should be in the included libraries.

[2017-11-26 01:15] #259 closed

[2017-11-26 01:16] xavier-morera commented on #261
You can open multiple connections, for example using Castle. Not possible with ServiceLocator

[2017-11-26 01:16] #261 closed

[2017-11-26 01:17] xavier-morera commented on #266
Updating a document is as simple as sending it for indexing and if has the same key it will be updated

[2017-11-26 01:17] #266 closed

[2017-11-26 01:18] xavier-morera commented on #190
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 01:18] #190 closed

[2017-11-26 01:19] xavier-morera commented on #201
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 01:19] #201 closed

[2017-11-26 01:21] xavier-morera commented on #202
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 01:21] #202 closed

[2017-11-26 01:21] xavier-morera commented on #204
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 01:21] #204 closed

[2017-11-26 01:22] xavier-morera commented on #207
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 01:22] #207 closed

[2017-11-26 01:23] xavier-morera commented on #212
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 01:23] #212 closed

[2017-11-26 01:24] xavier-morera commented on #241
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 01:24] #241 closed

[2017-11-26 01:56] xavier-morera commented on #257
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 01:56] #257 closed

[2017-11-26 01:57] xavier-morera commented on #260
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 01:57] #260 closed

[2017-11-26 01:58] xavier-morera commented on #274
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 01:58] #274 closed

[2017-11-26 01:59] xavier-morera commented on #276
Current issue has been closed as part of cleanup process, which is tracked in https://github.com/SolrNet/SolrNet/issues/338.

Please reopen if needed, hopefully helping bringing up to date with current code.

[2017-11-26 01:59] #276 closed

[2017-11-26 06:01] xavier-morera commented on #299
@gjunge and @serbrech I decided to play around with Docker with Solr today and it is pretty easy and works pretty well. I did a few tests, here are some of the things that I learned today (being honest, my first time working with Docker - I use VirtualBox and other virtualization solutions a lot, but Docker not so much - until probably now moving forward)
- [Docker](https://docs.docker.com/docker-

[2017-11-26 08:53] gjunge commented on #115
@xavier-morera  superseeded by #299

[2017-11-26 09:06] gjunge commented on #338
@xavier-morera  Great job! Nice to have a clean slate.

It's a tough one, "defining" the future of the project, but a very important one.
I wonder if we should use the Projects feature of GitHub, in order to help us build and visualize a roadmap for SolrNet, and perhaps also make it clear for contributors where they can help.

Do we also have a spot where we can just have an open discussion, not t

[2017-11-26 15:44] gjunge commented on #299
@xavier-morera Docker is really great, certainly for these scenarios. For testing you just want everything to work in a lab-like environment, with no external interference, and Docker gives us that with the added simplicity.

I also believe that Docker becomes more and more a standard tool in each developers' toolkit, so the Docker requirement is not that outrageous.

Dockerizing our tests, and ou

[2017-11-26 16:13] xavier-morera commented on #338
I just sent you the invite. About defining the future of the project, let's have the conversation there. Last night when I was closing old issues several things jumped right in front of me that are worth mentioning and we can use as lessons learned here.

[2017-11-27 08:17] stephenpope commented on #338
Nice work guys .. had no idea you had taken over and invigorated this project :) I know this issue is dealing with open bugs and issues but is there an place where you are discussing the future / what you guys are planning to do with SolrNet now and in the longer term ?

[2017-11-27 09:50] gjunge commented on #338
@xavier-morera  Accepted, and await your opening shot :)

@stephenpope We are looking at the future, as you can read in the above comments, I am tasked with that, but of course it would be great if it is a community effort. We have to discuss what is the best way to move forward, how to plan, with which tools to plan, how to involve the community, etc etc.
In the last months we've upgraded the pro

[2017-11-27 10:08] stephenpope commented on #338
@gjunge That's great news. I've contributed quite a few bits to SolrNet in the past, so (time permitting) am happy to help where I can :) I am interested where the DI / CommonServiceLocator stuff is going to go. (i.e I built a container-less modification of SolrNet that we use in some of my companies projects which I could push back to SolrNet as an option) but yes I think there needs to be a re-a

[2017-11-27 14:49] xavier-morera commented on #338
@gjunge Thanks for recommending using team discussions. I will get to the first discussion during the day.  As Stephen mentioned there are outstanding bugs and almost-ready-to-merge-at-the-time-but-probably-now-obsolete features out there.

@stephenpope can we take a look at your container-less implementation? One thing I saw a few times is that ServiceLocator was a bit of a pain point for some pe

[2017-11-27 17:03] stephenpope commented on #338
@xavier-morera It was based on a fleshed out version of this gist - https://gist.github.com/AlexeyKozhemiakin/6a9f8ea1d967bfc4692c - which should give you a rough idea of whats going on (I would need to extract our companies customizations before I could share fully) .. it just manually wires up all the dependencies to the defaults so removing the need for having to pick a DI solution if you just

[2017-11-30 05:26] mmoldabe opened #342 "How to set POST request as default?"
Trying to set POST as default request type, but getting it wrong. Current container is Autofac.

[code]

Still getting GET as default request. [This](http://bugsquash.blogspot.com/2010/12/customizing-solrnet.html)/[this](https://stackoverflow.com/questions/7583824/using-post-requests-to-solr-from-solrnet) links won't help.  I'm wondering if PostSolrConnection is included in lib.

How can I set POS

[2017-11-30 06:39] gjunge commented on #338
@stephenpope I guess that would actually be good to somehow get into the SolrNet.Core library.
Even though the CommonServiceLocator has now been updated to version 2.0, and is a .netstandard library (happened in the last few months).

[2017-11-30 09:32] mmoldabe commented on #342
@gjunge can you take a look, please?

[2017-11-30 14:37] jamesewelch commented on #338
Will "Issue 108: Added support for atomic updates #339" also be included in the next release? I think it's already been merged, but it wasn't included in the list above. Thanks

[2017-12-01 01:06] xavier-morera commented on #299
I included a page on how to set up Docker and run a container with Solr 5.5.5 to 7.1. Will expand with more info on using Docker.

Responding to your questions, @gjunge:
* Our current tests work in general with one set of data/schema. I think we should settle on a standard schema setup that would cover most of our tests. You said that some of the Docker images come with sample data, would be great

[2017-12-04 12:05] mmoldabe commented on #342
@gjunge @xavier-morera any thoughts on this issue? How can we use POST connection, where there are long queries? For example this case: I have a situation when I need to pass thousands of values in filters, but C# throws "URI long..." exception, before code starts to connect Solr server.

[2017-12-04 14:09] xavier-morera commented on #342
@mmoldabe the creator of SolrNet has a nice post on the subject:

http://bugsquash.blogspot.com/2010/12/customizing-solrnet.html

[2017-12-04 14:09] #342 closed

[2017-12-04 14:12] mmoldabe commented on #342
I've already read this. It won't help. PostSolrConnection is the part of SolrNet since that post. But, still, it won't work.

[2017-12-04 14:14] mmoldabe commented on #342
That's why I'm asking you, as the main contributor of SolrNet. How does POST works now? @xavier-morera